.side_box
  %h2 
    Recent discussion
  .contents
    %ul.overview
      -if !overview_collection.recent.all(:limit => 5).empty?
        = render :partial => "questions/overview_item", :collection => overview_collection.recent.all(:limit => 5)
      -else
        %li 
          %p.non_found There has not yet been any discussion on this brief
          
    .clear