%li
  =small_avatar(overview_item.user)
  %p
    =link_to truncate(overview_item.body, :length => 28), brief_path(overview_item.brief, :anchor => dom_id(overview_item.brief_item)), :class => "just_to_question"
    %br
    %span
      =comment_adjective_for "<strong>#{given_name(overview_item.user)}</strong>", :position => :before
      =distance_of_time_in_words_to_now(overview_item.created_at)
      ago