/ .discussion_stats
/   %h2 
/     What&#x27;s hot
/     %span
/   %ul
/     = render :partial => "questions/overview_item", :collection => overview_collection.recent.all(:limit => 5)

.discussion_stats
  %h2 
    Recent discussion
    %span
  
  %ul
    -if !overview_collection.recent.all(:limit => 5).empty?
      = render :partial => "questions/overview_item", :collection => overview_collection.recent.all(:limit => 5)
    -else
      %li 
        %p.non_found No recent questions found