=sub_nav do
  =breadcrumb_list

.col_1.discussion

  %ul.filter_questions
    -(owner?(parent_object) ? %w(unanswered recent answered) : %w(recent answered unanswered)).each do |link|
      %li=tab_link link.titlecase, document_questions_path(parent_object, :f => link)
    %li.document_item_filter
      -form_for :documents, documents_path, :html => {:method => :get} do |f|
        %span filter:
        =select_tag(:document_item_id, options_from_collection_for_select(parent_object.document_items.unshift(DocumentItem.new(:title => "select ..")), 'id', 'title_truncated', params[:document_item_id].to_i))
        =f.submit 'show', :name => ""
  
  -if @document_item
    %div[@document_item]
      %h3
        =@document_item.title
        
      %p.body
        =@document_item.body      
  
  %ul.question_list
    -if current_objects.empty?
      %li
        %p.no_questions
          No
          -if (params[:f].present?)
            =params[:f]
          questions have been asked yet
    -else
      -current_objects.group_by(&:updated_on).each do |date, questions|
        %li
          %p.updated
            %span
              ="#{time_ago_in_words(date)} ago"
          %ul
            =render :partial => 'question', :collection => questions, :locals => { :show_relation => @document_item.blank? }
        
  -if !owner?(parent_object)
    .boom_box.ask_question
      %h3 Ask a question / comment
      -if @user_question.errors.present?
        .error_info
          %h4 Could not ask the question because: 
          %ul
            - @user_question.errors.each do |attr, message|
              %li=message
      - form_for(@user_question, :url => document_questions_path(parent_object)) do |f|
        = render :partial => "form", :locals => {:f => f, :document_item => @document_item }
        
.col_2
  .discussion
    %p.join_discuss=link_to 'Back to document »', document_path(parent_object), :class => "awesome blue large", :style => "text-transform: uppercase"
  
  -if current_objects.respond_to?(:recent)
    =render :partial => 'questions/overview', :locals => { :overview_collection => current_objects }  