= page_help do
  .box
    :markdown
      ## Brief page
      
      You can see the history of each brief section and collaborate by leaving comments or asking questions.
      All comments and questions that you leave on the brief will cause brief authors to be notified by email.
      Other brief options are available from the brief actions menu.

      The Brief Collaborators box shows the other collaborators working on this brief.
      Click the “+” button to add more people to the brief (authors only).
      To mark a user as an author or approver for the brief, click the “options” link (authors only).

      Comments and updates can be seen by all collaborators.
