/* Header / Title for Briefs, proposals... */

.brief, .proposal, .brief_list {
  background: #fffffe;
  margin: 0 0 1em 0;
  position: relative;
}
.brief #content-header{
  color: $ideapi_green_dark;
  padding: 0.5em 80px 0.5em 1em;
  position: relative;
  text-shadow: 0 1px 1px white;
  @include border-radius-top(3px);
  background: #b3d335;
  @include linear-gradient($ideapi_green_light, $ideapi_green_light - #181818);
  h2 {
    font-size: 1.2em;
  }
  .spinner{ display: inline;}
}
#documents #content-header{
  padding-right: 0.5em;
}
.brief_item{
  .show, .edit{ margin-right: 3em; }
  .body{
    img{
      max-width: 600px;
      display: block;
      margin: auto;
    }
  }
}
.brief .section{
  border: 1px solid #eee;
  border-top: 0;
  padding: 0.5em 0.5em .5em 1em;
  .edit{display: none;}
}

.brief div.actions {
  z-index: 10;
  position: absolute;
  top: 9px;
  right: 9px;
  text-align: right;
  padding: 0;
  margin: 0;
  a {
    display: block;
    margin-top: -2px;
    margin-right: -2px;
  }
  a:hover {
    color: #fefefe;
  }
  a.edit_brief, a.edit_icon, a.edit_template {
    background: url("/images/page_edit.png") no-repeat center right;
    height: 16px;
    text-indent: -9999px;
    width: 40px;
    &:hover {
      text-indent: 0;
      color: #32401a;
      font-weight: normal;
    }
  }
  a.print_brief {
    display: block;
    float: right;
    background: url("/images/printer.png");
    width: 16px;
    height: 16px;
    text-indent: -3000px;
  }
  form {
    float: right;
  }
  .clean_brief {
    @include rounded-all-3px;
    background: url("/images/ui/button_background_red.png") 0 0;
    border: 1px solid #32401a;
    padding: 1px 5px 0px 5px;
    font-weight: normal;
    font-size: 1em;
    margin-top: 0;
    color: white;
    text-shadow: none;
    &:active {
      background-position: 0 -36px; 
    }
  }
}
.brief, .proposal, .brief_list {
  
  .brief_heading {
    h3 {
      margin-left: 20px; } }
    
  .proposal_item, .brief_heading {
    border: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    border-top: 0;
    h3 {
      span.updated {
        font-size: 0.2em;
        color: #999999;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        top: -0.4em;
        left: 0; } }
    h4.activity_snapshot {
      font-size: 1.1em;
      padding: 0;
      margin: 0;
      line-height: 1.2em;
      color: #666666; }
    .activity_stream {
      border-top: 1px solid #cccccc;
      margin-top: 1em;
      padding: 1em;
      li {
        padding: 1em; }
      li.date {
        color: #aaaaaa;
        text-transform: uppercase;
        margin-top: 1em;
        padding: 0; } } }
  .help_message {
    width: 18em;
    border: 1px solid #cccccc;
    background: rgb(252, 252, 252);
    background: rgba(245, 245, 245, 0.9);
    padding: 1em;
    position: absolute;
    top: 4em;
    left: 51.5em;
    z-index: 5; }
  .brief_item:last-child, .proposal_item:last-child {
    border-bottom: 1px solid #cccccc; }
  .proposal_item {
    p.asset {
      width: 120px; }
    p.asset, p.description {
      float: left; }
    p.description {
      width: 36em;
      padding: 0 0 0 2em;
      margin: 1px 0 0 0; } }
  .most_important_thing {
    text-align: center;

    font-weight: bold;
    color: #333333;
    margin-right: 0;
    padding: .5em .5em .5em 1em;
    .show, .edit{
      max-width: 360px;
      display: inline-block;
      padding: 0 1em;
      font-weight: bold;
      font-size: 2.2em;
    }
    .show{
      text-align: center;
      
    }
    .edit{display: none;}
    span.left, span.right {
      font-size: 8em;
      padding: 0;
      margin: 0;
      height: 0.4em;
      line-height: 0.8em; 
    }
    span.left {
      float: left;
      top: 20px;
      left: 60px;
    }
    span.right {
      clear: right;
      float: right;
      margin-top: 30px;
      margin-right: 20px;
      vertical-align: middle;
      
    }
  }
  .brief_item.updated {
    h3, h4 {
      background: #ffffdf; } }
  .brief_item.extended {
    background: transparent; 
  } 
}


#documents, #sortable {
  .brief_overviews {
    h2 {
      padding: 0;
      font-size: 1.1em;
      font-weight: normal;
      text-transform: uppercase;
      text-align: center;
      margin: -0.8em auto 1.5em auto;
      background: white;
      width: 7.5em;
      color: #454545;
    }
  }
  .brief_item{
    padding: 0.5em 1em;
    border: 1px solid #eee;
    border-bottom: 1px solid #eeeeee;
    border-top: 0;
    .body{
      img{
        max-width: 600px;
        border: 5px solid #eee;
        display: block;
        margin: auto;
      }

      .item-revision-body{
        img{
          max-width: 420px;
        }
      }
    }
  } 
  
}

ul.actions{
  margin-top: 1em;
  clear: both;
  text-align: right;
  li{
    padding: 0.2em 0em;
    display: inline;
    text-align: right;
  }
}
ul.actions.active {
  border-bottom: 1px solid #eeeeee; 
}


#options-menu, #brief-tags{
  border-bottom: 1px solid #eee;
  border-top: 1px solid #fcfcfc;
  background: #fcfcfc;
  .object-actions{
    @include rounded-corners-all();
    background: #fafafa;
    border: 1px solid #eee;
    margin: 0.5em;
    form, li, a, input{
      display: inline-block;
      margin: 0;
    }
    text-align: right;
    li{
      display: inline;
      margin-right: 0.5em;
    }
  }
}

#brief-tags{
  
  border: 0;
  padding: 0 0.5em;
  .smartTextBox-items{
    width: 550px;
  }
  label{
    display: none;
  }
  .smartTextBox-box-elem{
    @include rounded-corners-all(3px);
  }
  .smartTextBox-input-elem-valueInput{
    line-height: 18px;
    outline: none;
  }
  
  .smartTextBox{
    display: inline-block;
  }
  
  .inline-submit{
    display: inline-block;
    float: left;
    margin-right: 0.5em;
    @extend .funky-button;
  }
  .smartTextBox-elem-valueContainer{
    font-size: 0.9em;
  }
}
.publish-draft {
  margin-top: 10px;
  float: right;
  p{ margin: 0;}
}

#sortable_brief_items.sortable{
  .brief_item{
    border-top: 1px solid #eee;
    border-left: 2px solid #eee;
    border-right: 2px solid #eee;
    .move-handle{
      cursor: move;
      margin-top: 2px;
      height: 16px;
      width: 16px;
      display: block;
      float: right;
      text-indent: -9999px;
      background: url('/images/ui/move-handle.png') no-repeat 0 0;
    }
  }
  .body, .edit, .toggle-inline-edit, .actions, .brief_item_activity{
    display: none;
  }
}

#reorder-sections{
  padding: 2px 4px;
  @extend .btn-shizzle;
  text-transform: capitalize;
  margin-left: 5px;
}

#briefs.show{
  .inline-edit, .edit{
    display: none;
  }
  
  .edit{
    p.submit{
      text-align: right;
      margin-top: 5px;
    }
  }

  .section{
    .editable{
      @include color-transitions();
    }
    .edit.revealed{display: inline-block;}
    &.brief_item{
      .edit.revealed{display: block;}
    }
    .edit{
      padding: 0;
      text-align: center;
      .spinner{
        display: inline;
      }
      .field{
        width: 100%;
        margin-bottom: 5px;
      }

      input.inline-edit-title{
        padding: 3px 6px;
        font-size: 1.3em;
        font-weight: bold;
        display: block;
        width: 590px;
        background: #fafafa;
        border: 1px solid #eee;
      }
      .inline-edit-body{
        display: block;
        width: 590px;
        min-width: 590px;
        max-width: 590px;
        height: 100px;
        padding: 0.5em;
        margin-bottom: 0.5em;
        background: #fafafa;
        border: 1px solid #eee;
        font-size: 1em;
      }
      p.submit{
        margin: 0 2px 0 0;
      }
    }
    .spinner{display: inline;}
  }
  .most_important_thing{
    overflow: hidden;
    .show{
      span{font-weight: bold;}
      border: 1px solid #fff;
    }
    
    .edit{
      text-align: center;
      padding: 0;
      margin: auto;
      p.submit{
        margin-top: 0.5em;
        font-size: 0.5em;
      }
      

      form{
        text-align: center;
        input[type=text]{
          display: block;
          background: #fafafa;
          border: 1px solid #eee;
          padding: 0.5em 1em;
          font-size: .7em;
          font-weight: bold;
          width: 300px;
          text-align: center;
        }
      }
      span, .field{
        display: inline-block;
      }
      span {
        font-size: 8em;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 0.4em;
        line-height: 0.8em; }
      span.left {
        vertical-align: top;
        margin-top: 0px;
      }
      span.right {
        vertical-align: bottom;
      }
    }

  }
}


#content-header{
  .editable{
    &:hover{
      background-color: $ideapi_green_light + #222;
      cursor: pointer;
    }
  }
  .edit{
    margin: 2px 0;
    input[type=text]{
      font-size: 1.2em;
      display: inline-block;
      font-weight: bold;
      padding: 2px 3px;
      margin-right: .5em;
      border: 1px solid #ee8;
      background-color: #FFC;
      width: 75%;
    }
    input[type=submit]{
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
    }
  }
}

/* 
  inline edit toggle triggers: 
    * the "edit" button that appears when you hover a section
    * the "cancel" button when editing a section
*/
.brief .section{
  .toggle-inline-edit{
    /* in IE we will need to display: none; as there are no CSS transitions anyway */
    @include color-transitions(500ms);
    font-size: 8pt;
    opacity: 0;
    float: right;
    height: 16px;
    line-height: 14px;
    display: block;
    padding-left: 4px;
    padding-right: 4px;
  }
  
  &:hover{
    .toggle-inline-edit{ 
      opacity: 1;
    }
  }
  /* This is the "cancel" button when in the edit view. */ 
  .edit{
    .toggle-inline-edit{
      display: inline;
      color: #fff;
      text-shadow: 1px 1px 1px #888;
      font-weight: normal;
    }
    
  }
}
/* For the "most important thing" part, we need to set a different size as the elements inherit the weird font sizes from the box... */ 
.brief .most_important_thing.section{
  .toggle-inline-edit{
    float: right;
    font-weight: normal;
    top: 0.5em;
    right: 0.5em;
    opacity: 0;
    display: block;
  }
  &:hover{
    .toggle-inline-edit{ 
      opacity: 1;
    }
  }
  
}


/* Adding new sections dynamically */

  #add-new-section{
    p{
      margin: 1em 0;
    }
    .toggle-add-new-section{
      padding: 2px 4px;
    }
  }
  #new-section{
    display: none;
    border: 1px solid #ddd;
    padding: 1em;
    .field{
      clear: both;
      label{
        display: block;
        float: none;
      }
      input.title{
        padding: 3px 6px;
        font-size: 1.3em;
        font-weight: bold;
        display: block;
        width: 628px;
        background: #fafafa;
        border: 1px solid #ddd;
      }
      .body{
        display: block;
        height: 100px;
        padding: 0.5em;
        width: 628px;
        background: #fafafa;
        border: 1px solid #ddd;
        font-size: 1em;
      }
    }
    .is_heading{
      float: right;
      label{
        display: inline;
        font-weight: normal;
      }
    }
    .submit{
      text-align: right;
      margin-top: 0.5em;
      .spinner{ display: inline;}
    }
  }

/* Deleting a section */
.delete-section-submit{
  @extend .delete-button;
}

.inline-edit-submit{
  @extend .funky-button-small;
}

@import "snippets/smartbox";