
#header {
  @include rounded-top-6px;
  background: white;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  position: relative;
  border-bottom: 3px solid #b3d335;
  padding: 1em 1em 0 1em;
}
#logo{
  float: left;
}
#top-menu {
  color: #888888;
  text-align: right;
  span.current {
    color: #32401a;
    font-weight: bold; }
  a {
    @include color-transitions(400ms);
    &:visited {
      color: #b3d335; }
    &:hover {
      color: #32401a; } }
  .name {
    color: #333333;
    font-weight: bold;
    padding: 2px 4px;
    @include rounded-corners-all(3px);
  }
}

ul.navigation {
  text-align: right;
  padding: 0;
  li.page-help{
    margin-right: 1em;
  }
  li {
    display: inline;
    margin: 0;
    a, span.current {
      display: inline-block;
      @include rounded-top-3px;
      color: $link_header;
      font-size: 1.1em;
      height: 24px;
      line-height: 24px;
      font-weight: normal;
      background-color: $ideapi_green_dark;
      @include linear-gradient($ideapi_green_dark + #222, $ideapi_green_dark);
      padding: 3px 0.8em 3px 0.8em;
    }
    a:hover {
      background: $ideapi_green_dark + #222;
      @include linear-gradient($ideapi_green_dark , $ideapi_green_dark + #222);
    }
    span.current, a:focus, a:active {
      @include rounded-top-3px;
      background: $ideapi_green_light;
      @include linear-gradient($ideapi_green_light + #191919, $ideapi_green_light);
      color: $off_white;
    }
    a.toggle-page-help{
      display: inline-block;
      text-align: center;
      height: auto;
      padding: 0;
      background: transparent;
      /*
      &.selected{
        background: $ideapi_blue_dark;
        @include linear-gradient($ideapi_blue_dark + #111, $ideapi_blue_dark - #111);
      }
      */
      span{
        /*
        background: url('/images/ui/help.png') no-repeat 0 0;
        text-indent: -9999px;
        */
        color: #555;
        font-size: .8em;
        text-transform: uppercase;
        display: block;
        margin: auto;
      }
    }
  }
}

#page-help{
  display: none;
/*  border: 1px solid $ideapi_green_light;*/
  margin: 0;  
  background: $ideapi_green_dark;
  @include border-radius-bottom(3px);
  color: $off_white;
  
  a{
    color: $ideapi_green_dark;
    text-shadow: none;
    &:hover{
      border-bottom: 1px solid $ideapi_green_dark;
    }
  }
  .blind{
    padding: 1em;
  }
  .box{
    width: 570px;
    color: #eee;
  }
  
  p{
    text-align: left;
    color: #eee;
  }
  
  a{
    color: $ideapi_green_light;
    &:hover{
      color: $ideapi_green_light - #222;
      text-decoration: none;
      border-bottom: none;
    }
  }
  .right-column{
    float: right;
    width: 250px;
  }
}
