
#header {
  @include rounded-top-6px;
  background: white;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  position: relative;
  border-bottom: 2px solid #b3d335;
  padding: 1em 1em 0 1em;
}
#logo{
  float: left;
}
#top-menu {
  color: #888888;
  text-align: right;
  span.current {
    color: #32401a;
    font-weight: bold; }
  a {
    @include color-transitions(400ms);
    &:visited {
      color: #b3d335; }
    &:hover {
      color: #32401a; } }
  .name {
    color: #333333;
    font-weight: bold;
    padding: 2px 4px;
    @include rounded-corners-all(3px);
  }
}

ul.navigation {
  text-align: right;
  padding: 0;
  
  li {
    display: inline-block;
    margin: 0;
    
    a, span {
      display: block;
      @include rounded-top-3px;
      color: $link_header;
      font-size: 1.1em;
      font-weight: normal;
      background-color: $ideapi_green_dark;
      @include linear-gradient($ideapi_green_dark + #222, $ideapi_green_dark);
      padding: 0.2em 0.8em 3px 0.8em;
    }
    a:hover {
      @include linear-gradient($ideapi_green_dark, $ideapi_green_dark + #222);
    }
    span.current, a:focus, a:active {
      @include rounded-top-3px;
      background: #b3d335;
      @include linear-gradient($ideapi_green_light + #111, $ideapi_green_light - #111);
      color: $off_white;
    }
  }
}