#briefs.show{
  .inline-edit, .edit{
    display: none;
  }
  
  .edit{
    p.submit{
      text-align: right;
      margin-top: 5px;
    }
  }

  .section{
    .editable{
      @include color-transitions();
    }
    .edit.revealed{display: inline-block;}
    &.brief_item{
      .edit.revealed{display: block;}
    }
    .edit{
      padding: 1em 0;
      text-align: center;
      .spinner{
        display: inline;
      }
      .field{
        width: 100%;
        margin-bottom: 5px;
        .toggle-inline-edit{
          display: inline;
        }
      }
      input.inline-edit-title{
        padding: 3px 6px;
        font-size: 1.3em;
        font-weight: bold;
        display: block;
        width: 590px;
        background: #fafafa;
        border: 1px solid #eee;
      }
      .inline-edit-body{
        display: block;
        width: 590px;
        min-width: 590px;
        max-width: 590px;
        height: 100px;
        padding: 0.5em;
        margin-bottom: 0.5em;
        background: #fafafa;
        border: 1px solid #eee;
        font-size: 1em;
      }
      p.submit{
        margin: 0 2px 0 0;
      }
    }
    .spinner{display: inline;}
  }
  .most_important_thing{
    .show{
      span{font-weight: bold;}
      border: 1px solid #fff;
    }
    
    .edit{
      text-align: center;
      padding: 0;
      p.submit{
        margin-top: 0.5em;
        font-size: 0.5em;
      }
      

      form{
        text-align: center;
        input[type=text]{
          display: block;
          background: #fafafa;
          border: 1px solid #eee;
          padding: 0.5em 1em;
          font-size: .7em;
          font-weight: bold;
          width: 300px;
          text-align: center;
        }
      }
      span, .field{
        display: inline-block;
      }
      span {
        font-size: 8em;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 0.4em;
        line-height: 0.8em; }
      span.left {
        vertical-align: top;
        margin-top: 0px;
      }
      span.right {
        vertical-align: bottom;
      }
    }

  }
}

#content-header{
  .editable{
    &:hover{
      background-color: $ideapi_green_light + #222;
      cursor: pointer;
    }
  }
  .edit{
    margin: 2px 0;
    input[type=text]{
      font-size: 1.2em;
      display: inline-block;
      font-weight: bold;
      padding: 2px 3px;
      margin-right: .5em;
      border: 1px solid #ee8;
      background-color: #FFC;
      width: 75%;
    }
    input[type=submit]{
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
    }
    .toggle-inline-edit{
      display: inline;
      color: #fff;
      text-shadow: 1px 1px 1px #888;
      font-weight: normal;
    }
  }
}
#add-new-section{
  p{margin-left: 1em;}
}
#new-section{
  display: none;
  border: 1px solid #ddd;
  padding: 1em;
  .field{
    clear: both;
    label{
      display: block;
      float: none;
    }
    input.title{
      padding: 3px 6px;
      font-size: 1.3em;
      font-weight: bold;
      display: block;
      width: 628px;
      background: #fafafa;
      border: 1px solid #ddd;
    }
    .body{
      display: block;
      height: 100px;
      padding: 0.5em;
      width: 628px;
      background: #fafafa;
      border: 1px solid #ddd;
      font-size: 1em;
    }
  }
  .is_heading{
    float: right;
    label{
      display: inline;
      font-weight: normal;
    }
  }
  .submit{
    width: 600px;
    text-align: right;
    margin-top: 0.5em;
  }
}

.delete-section-submit{
  @extend .delete-button;
}

.inline-edit-submit{
  @extend .funky-button-small;
}
