#briefs.show{
  .inline-edit, .edit{
    display: none;
  }
  
  .edit{
    p.submit{
      text-align: right;
      margin-top: 5px;
    }
  }

  .section{
    .editable:hover{
      cursor: pointer;
      background: #ffd;
    }
    .edit.revealed{display: inline-block;}
    .edit{
      padding: 1em 0;
      text-align: center;
      .spinner{
        display: inline;
      }
      .field{
        width: 100%;
        margin-bottom: 5px;
        .toggle-inline-edit{
          display: inline;
        }
      }
      input:focus, textarea:focus{
        outline: #fcc dotted 3px;
      }
      input.inline-edit-title{
        padding: 0 4px;
        font-size: 1.5em;
        display: block;
        width: 590px;
        background: #ffd;
        border: 1px solid #ffc;
      }
      .inline-edit-body{
        display: block;
        width: 590px;
        height: 100px;
        padding: 2px 4px;
        background: #ffd;
        border: 1px solid #ffc;
        font-size: 1.2em;        
      }
      p.submit{
        float: none;
        margin: 0;
      }
      input[type=text]{}
    }
    .toggle-inline-edit{
      display: inline-block;
      font-weight: normal;
      font-size: 0.9em;
      padding: 0 6px 1px 6px;
      color: #f55;
      margin-right: 0.5em;
      vertical-align: top;
      border: 1px solid #ddd;
      background: #f7f7f7;
      @include linear-gradient(#f7f7f7, #f7f7f7 - #111);
      
      &:active{
        border-color: #ddd;
        background-color: #f7f7f7-#111;
        @include linear-gradient(#f7f7f7-#111, #f7f7f7);
      }
    }

    input.inline-edit-submit{
      @include rounded-corners-all(0);
      background-color: $ideapi_green_light;
      border: 1px solid $ideapi_green_light - #222;
      @include linear-gradient($ideapi_green_light, $ideapi_green_light - #222);
      cursor: pointer;
      text-align: center;
      display: inline-block;
      padding: 0 3px;
      color: $off_white;
      font-size: 1em;
      vertical-align: top;
      &:active{
        background-color: $ideapi_green_light - #222;
        @include linear-gradient($ideapi_green_light - #222, $ideapi_green_light);
      }
    }
    .spinner{display: inline;}
  }
  .most_important_thing{
    .show{
      span{font-weight: bold;}
      border: 1px solid #fff;
    }
    
    .edit{
      text-align: center;
      padding: 0;
      p.submit{
        margin-top: 0.5em;
        font-size: 0.5em;
      }
      

      form{
        text-align: center;
        input[type=text]{
          display: block;
          background: #ffe;
          border: 1px solid #ffc;
          padding: 0.5em 1em;
          font-size: 1em;
          font-weight: bold;
          width: 300px;
          text-align: center;
        }
      }
      span, .field{
        display: inline-block;
      }
      span {
        font-size: 8em;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 0.4em;
        line-height: 0.8em; }
      span.left {
        vertical-align: top;
        margin-top: 0px;
      }
      span.right {
        vertical-align: bottom;
      }
    }

  }
}

#content-header{
  .show{
    &:hover{
      background-color: $ideapi_green_light + #222;
      cursor: pointer;
    }
  }
  .edit{
    margin: 2px 0;
    input[type=text]{
      font-size: 1.2em;
      display: inline-block;
      font-weight: bold;
      padding: 2px 3px;
      margin-right: .5em;
      border: 1px solid #ee8;
      background-color: #FFC;
      width: 75%;
    }
    input[type=submit]{
      display: inline-block;
      vertical-align: middle;
      margin-top: -4px;
    }
    .toggle-inline-edit{
      display: inline;
      color: #fff;
      text-shadow: 1px 1px 1px #888;
      font-weight: normal;
    }
  }
}