// variables
$field_padding: 1em;
$textfield_padding: 0.5em;
$textfield_width: 627px;

#proposal_state{
  font-size: 1em;
  display: block;
  width: 100%;
  margin: auto;
}
#proposals #content{
  .ajax-loading{ display: none;}

  .edit_proposal, .new_proposal{
    .infield-label{
      display: block;
      float: none;
      color: #aaa;
      z-index: 5;
      position: absolute;
      padding-left: $textfield_padding;
      font-size: 1em;
      font-style: italic;
    }
    textarea{
      font-size: 1em;
      width: 625px;
    }
    h2{
      .title-span{
        background: white;
        position: relative;
        display: block;
        width: 640px;
        
      }  
      input[type=text]{
        width: 618px;
        font-size: 1.2em;
        padding: 3px $textfield_padding;
        display: block;
        background: transparent;
        z-index: 5;
        position: relative;
        font-weight: bold;
        border: 0;
      }
      
    }
    .fields{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
    }
    .field{
      padding: 0 $field_padding;
      position: relative;
      
      .infield-label{
        left: 20px;
        padding-top: 5px;
        
      }
    }
    #proposal_long_description{
      display: block;
      width: $textfield_width;
      padding: $textfield_padding;
    }
  }
  
  #new_proposal #proposal_title{
    padding: 3px $textfield_padding;
  }
  
  #proposal_long_description{
    display: block;
    width: 400px;
    padding: $textfield_padding;
  }
  
  #idea-attachments{
    padding: 0;
    margin: 2em $field_padding;
    
    label{
      width: 80px;
      margin: 0;
      text-align: right;
      padding-right: 1em;
    }
    .asset-description{
      width: 470px;
      font-size: 1em;
    }
    p.submit{
      text-align: right;
    }
    
    .actions{
      position: static;
      margin-top: 0.7em;
      a{
        display: inline;
        float: none;
        background: url('/images/ui/plus-button.png') no-repeat left center;
        padding-left: 20px;
        padding-bottom: 2px;
        
        &:hover{
          color: #000;
        }
      }
    }
  }
  p.submit{
    margin: 0 1em;
  }
  .proposal_asset{
    @include color-transitions(500ms);
    margin: 0.5em 0 0 0;
    padding: 10px;
    position: relative;
    font-size: 0.9em;
    border: 1px solid #fff;
    background: #fafafa;
    border: 1px solid #f1f1f1;
    .remove_asset {
      position: absolute;
      top: 10px;
      right: 10px;
      a.delete, .close-box {
        text-indent: -9999px;
        display: block;
        height: 16px;
        width: 16px;
        background: url("/images/ui/cross-button.png") no-repeat 0 0;
      }
    }
    .asset-file{
      text-align: left;
      span{
        margin-left: 0;
        text-align: left;
        width: 480px;
      }
      
    }
    p{
      margin: 0 0 0.5em 0;
      clear: both;
      
    }
    p.asset-desc{
      margin-bottom: 0.7em;
    }
    .update-proposal-assets{
      input{
        margin: 0;
        padding: 0px 4px;
        @include rounded-corners-all(0px);
      }
    }
    a.js-toggle-edit{
      text-indent: -9999px;
      float: left;
      margin-right: 4px;
      background: url('/images/ui/tag-pencil.png') no-repeat;
      width: 16px;
      height: 16px;
    }
    .description-textarea{
      input[type=text]{
        padding: 1px 5px;
        width: 30em;
      }
      
    }

  }
  .proposal_asset:hover, .proposal_asset.hovered{
    background: #f3f3f3;
    border-color: #eee;
  }
  .proposal_asset.new{
    background: #fcffeb;
    border: 1px solid #D3DAB8;
  }
  
  .proposal_asset.new.hovered, .proposal_asset.new:hover{
    background: #eff6ce;
    border: 1px solid #D3DAB8;
  }
  
  .side_box{
    .update_proposal{
      padding: 0.5em 1em 1em 1em;
      p{
        margin: 0.5em 0;
      }
      p+p{
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
  }
  
  
  // Some show view styles
  .main .proposal .proposal_item{
    .asset{
      float: none !important;
      width: auto !important;
      margin-right: 10px;
      margin-bottom: 0.5em;  
      img{
        width: auto !important;
        max-width: 400px;
        max-height: 100px;
        vertical-align: top;
        &:hover{

        }
      }
    }
    p.description{
      float: none !important;
      padding: 0;
    }
  }
}


.proposal {
  h2 {
    span.status {
      background: #eeeeee;
      font-size: 0.9em;
      font-weight: bold;
      text-transform: capitalize;
      color: black;
      padding: 0.1em 0.5em;
      margin-left: 0.5em;
    }
  }    
}
.update_proposal {
  padding: 1em 0.5em;
}
.proposal a.edit_icon {
  right: 1em; 
}
.proposal{
  background: #fffffe;
  margin: 0 0 1em 0;
  h2 {
    font-size: 1.2em;
    &.show {
      padding: 1em 50px 1em 1.8em; 
    }
  }
  .title {
    position: relative; 
  }
  .proposal_item, .document {
    padding: 1em;
    z-index: 10; 
  }
  .document_heading {
    h3 {
      margin-left: 20px; 
    } 
  }
  .help_message {
    width: 18em;
    border: 1px solid #cccccc;
    background: rgb(252, 252, 252);
    background: rgba(245, 245, 245, 0.9);
    padding: 1em;
    position: absolute;
    top: 4em;
    left: 51.5em;
    z-index: 5; 
  }
  .document_item:last-child, .proposal_item:last-child {
    border-bottom: 1px solid #cccccc; 
  }
  .proposal_item {
    p.asset {
      width: 120px; 
    }
    p.asset, p.description {
      float: left; 
    }
    p.description {
      width: 36em;
      padding: 0 0 0 2em;
      margin: 1px 0 0 0;
    }
  }
}

ul.document-ideas{
  padding-left: 1em;
  margin-left: 1em;
  li{
    list-style: disc outside;
    a.proposal-title{margin-right: 0.5em;}
    span{
      font-size: 90%;
      color: #aaa;
      a{ color: #333;}
    }
    span.proposal-status{
      background: #ccc;
      color: #fff;
      padding: 1px 3px;
      @include rounded-corners-all(2px);
    }
  }
}
.document_item .tags{
  float: right;
  font-size: 90%;
  color: #555;
  .tag{
    margin-left: 0.5em;
  }
}

.proposals-filter{
  font-size: 0.85em;
  .filter-link{
    text-shadow: none;
    text-transform: capitalize;
    margin-right: 5px;
    color: #333;
    a{
      color: white;
      &.active{ color: #333;}
      &:hover{ color: #fff - #111}
      margin-right: 5px;
      font-weight: normal
    }
  }
}
#proposals .document-ideas{
  margin-top: 0.5em;
  li{ margin-bottom: 0.5em;}
}