.gradient-header{
  color: $ideapi_green_dark;
  padding: 0.5em 1em;
  position: relative;
  text-shadow: 0 1px 1px white;
  @include border-radius-top(3px);
  background: #b3d335;
  @include linear-gradient($ideapi_green_light, $ideapi_green_light - #181818);
}

#sidebar, .col_2{
  padding: 0;
  margin: 0;
  float: right;
  width: 240px;
}

.side_box {
  margin: 0em 0 2em 0;
  h2 {
    font-size: 1em;
    @extend .gradient-header;
  }
  .always-visible-help {
    border: 1px solid #cccccc;
    background: #efefef;
    p {
      margin: 0;
      padding: 5px 10px;
      font-size: 1em;
      color: #555555; } }
  .contents {
    border: 1px solid #cccccc;
    border-top: 0;
    background: #efefef;
    padding: 0;
    margin: 0;
    position: relative;
    h3 {
      padding: 0.5em 1em 0 1em;
      margin: 0;
      font-size: 1em; }
    ul {
      padding: 0.5em 1em;
      li {
        margin: 0 0 0 0;
        padding: 0;
        img.avatar {
          border: 0;
          float: left;
          margin-right: 1em; }
        p.non_found {
          color: #aaaaaa; }
        p {
          font-size: 1em;
          font-weight: bold;
          span {
            font-size: 0.9em;
            color: #aaaaaa;
            font-weight: normal;
            strong {
              color: #aaaaaa; } } } }
      &.tag-list {
        li {
          padding: 0.25em 0;
          clear: left;
          a {
            display: block;
            span {
              float: right; } } } }
      span.author {
        color: #0099cc;
        font-weight: bold; } }
    a.toggle_add_collab {
      position: absolute;
      top: -1.2em;
      right: 0.5em;
      font-size: 2em;
      text-align: center;
      width: 1em;
      height: 1em;
      color: white;
      text-shadow: #333333 1px 1px 2px; 
      &:hover{
        background: none;
      }
    }
    ul.collaborators, .add_collaborators {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid #ccc;
      span.user_role{
        text-transform: uppercase;
      }
      .available_collaborator{
        padding: 1em;
        border-bottom: 1px solid #ccc;
        
        .add_user_brief_button{
          @extend .funky-button-small;
          margin: 0;
          padding: 0px 4px;
          border: 1px solid #bbb;
          color: black;
          font-weight: bold;
          font-size: 0.9em;
        }
        
        .avatar{
          
        }
        .name{
          margin: 0;
          padding: 0;
        }
        
        .info{
          width: 115px;
          form{
            label{
              float: none;
              display: inline;
              font-weight: normal;
            }
          }
        }
          
        .add, .remove{
          float: right;
        }
        .add{
          font-size: 0.8em;
        }
      }
      
      
      
      li.collaboration_user{
        padding: 0;
        margin: 0;
        border-bottom: 1px solid #cccccc;
        position: relative;
        p {
          line-height: 1em;
          padding: 0;
          margin: 0;
          padding: 0.5em 1em 1em 1em; }
        img.avatar {
          margin-top: 0.8em;
          margin-left: 0.9em; }
        a.options_toggle {
          position: absolute;
          right: 1em;
          top: 2.5em;
          font-size: 0.8em;
          color: #cccccc; }
        a.options_toggle:hover {
          color: #333333; }
        ul.options {
          padding: 0;
          margin: 0;
          background: #e1e1e1 url(/images/collab_option_bg.png) repeat-x;
          height: 50px;
          li {
            float: left;
            top: 0;
            padding: 0;
            width: 50px;
            border: 0;
            text-transform: uppercase;
            padding: 0.5em 0 0 0;
            background: transparent;
            text-align: center;
            img.spinner {
              width: 16px;
              height: 16px;
              margin: 12px 0 0 15px;
              padding: 0; }
            a {
              height: 0px;
              width: 29px;
              display: block;
              margin-left: 9px;
              padding-top: 32px;
              span {
                color: #aaaaaa;
                margin-left: -2px; } }
            a:hover, a.selected {
              span {
                color: #333333; } } }
          li.with_js {
            font-size: 8px;
            input {
              display: none; } }
          li.author {
            a {
              background: url(/images/ui/collab_options.png) no-repeat; }
            &.selected a, a:hover, a:focus, a.selected {
              background: url(/images/ui/collab_options.png) no-repeat 0 -30px;
            }
          }
          li.approver {
            a {
              background: url(/images/ui/collab_options.png) no-repeat -28px 0; }
            &.selected a, a:hover, a:focus, a.selected {
              background: url(/images/ui/collab_options.png) no-repeat -28px -30px; } }
          li.remove {
            float: right;
            padding: 0.5em 0 0 0;
            a {
              background: url(/images/ui/collab_options.png) no-repeat -58px 0; }
            &.selected a, a:hover, a:focus, a.selected {
              background: url(/images/ui/collab_options.png) no-repeat -58px -30px; } } } }
      li:last-child {
        border-bottom: 0; } }
    input.action {
      text-align: center;
      display: block;
      border-top: 1px solid #cccccc;
      line-height: 1em;
      padding: 0.6em 1em 1em 1em;
      background: #f6f6f6;
      width: 100%;
      -moz-border-radius-topright: 0;
      -webkit-border-top-right-radius: 0;
      -moz-border-radius-topleft: 0;
      -webkit-border-top-left-radius: 0;
      color: $link_colour;
      font-weight: bold; }
    input.action:hover {
      color: $link_pink; }
    a.action {
      text-align: center;
      display: block;
      border-top: 1px solid #cccccc;
      line-height: 1em;
      padding: 0.6em 1em 1em 1em;
      background: #f6f6f6; } } }
.ideas {
  .user_idea {
    position: relative;
    padding-left: 2em;
    span.draft, span.published, span.needs_work, span.approved, span.dropped {
      font-size: 30px;
      line-height: 1em;
      position: absolute;
      top: -4px;
      left: 0; }
    span.draft {
      color: #aaaaaa; }
    span.published {
      color: #ebde0a; }
    span.approved {
      color: #63bb46; }
    span.needs_work {
      color: #e77b29; }
    span.dropped {
      color: #ed1c24; } } }
#brief_reference {
  .most_important_thing {
    font-size: 1.1em;
    position: relative;
    padding: 0 0 0 0.5em;
    font-weight: bold;
    span {
      font-size: 3em;
      padding: 0;
      margin: 0;
      height: 0.4em; }
    span.left {
      float: left;
      position: relative;
      top: -0.4em;
      left: -0.1em; }
    span.right {
      position: absolute;
      line-height: 0.8em;
      bottom: -0.1em;
      padding-right: 0.2em;
      padding-left: 0.1em; } }
  ul {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    li {
      border-bottom: 1px solid #cccccc;
      padding: 0 1em;
      h3 {
        padding: 0.5em 0 0 0;
        font-size: 1.2em;
        color: inherit; }
      h3.js {
        padding-bottom: 0.5em; }
      h3.active {
        padding-bottom: 0; }
      p {
        font-weight: normal; } }
    li:last-child {
      border-bottom: 0;
    }
  }
}

.collaborator_search{
  border-bottom: 1px solid #ccc;
  padding: 1em;
  .search-field{
    background: #fcfcfc;
    border: 1px solid #ccc;
    padding: 0.5em;
    &.active{
      border-color: #aaa;
    }
  }
  
  input{
    border: 0;
    background: #fcfcfc;
    width: 98%;
    padding: 0;
    font-size: 1.1em;
    &:focus{
      outline: none;
    }
  }
}