/*lost in translation*/
.document_list {
  .number-bubble{
    float: right;
    @extend .user_context;
  }
  .toggle_activity_stream {
    position: absolute;
    top: 0.8em;
    right: 1em;
    width: 28px;
    height: 28px;
    background: url(/images/ico_circle_green.png) no-repeat;
    color: white;
    text-align: center;
    font-size: 1.4em;
    padding-top: 2px; }
  .toggle_activity_stream.active {
    background: url(/images/ico_minus.png) no-repeat;
    text-indent: -3000px; } 
}

#sortable .document_heading{
  padding: 0.5em 1em;
  background: #f8f8f8;
  
  h3{
    margin-left: 0;
    text-align: center;
  }
}

#template_documents{
  .boom_box{
    margin-bottom: 0;
  }
  .fields{
    span.is-section-heading{
      display: block;
      float: right;
      margin-left: 1em;
      label{ display: inline; float: none;}
    }
  }
  #template_document_title{
    width: 500px;
    &:focus{
      background: white;
      outline: none;
    }
  }
  .infield-label{
    display: block;
    float: none;
    color: #aaa;
    z-index: 5;
    position: absolute;
    padding-left: $textfield_padding;
    font-size: 1em;
    font-weight:  normal;
  }
  
  a.delete_template {
    display: block;
    background: url('/images/bg/gradient-red.png') repeat-x 0px 0px;
    @extend .funky-button-small;
    height: 18px;
    line-height: 16px;
    color: white;
    border: 1px solid #ce5e58;
    @include box_shadow(#000 1px 1px 3px );
  }
  .new_template_document, .edit_template_document{
    .actions {
      clear: both;
      padding-top: 1em;
      .left {
        float: left; }
      .right {
        float: right; }
      a.add_child {
        @extend .funky-button-small;
        display: block;
        height: 18px;
        float: left;
      } 
      #template_document_submit{
/*        @include button-style;
        @include green-button;*/
        @extend .funky-button-small;
        font-size: 1em;
      }
    }
    
  }
  
}
