%p
  %label{:for => "brief_section_title"} Title:
  = f.text_field :title
%p
  %label{:for => "brief_section_strapline"} Strapline:
  = f.text_area :strapline
%p
  %label{:for => "brief_section_position"} Position:
  = f.text_field :position
