[submodule "vendor/plugins/acts_as_redeemable"]
	path = vendor/plugins/acts_as_redeemable
	url = git://github.com/jasoncale/acts_as_redeemable.git
[submodule "vendor/plugins/timeline_fu"]
	path = vendor/plugins/timeline_fu
	url = git://github.com/jasoncale/timeline_fu.git
