%p
  %label{:for => "brief_answer_answer"} Answer:
  = f.text_area :answer
%p
  %label{:for => "brief_answer_brief_question_id"} Brief question:
  = f.text_field :brief_question_id
%p
  %label{:for => "brief_answer_brief_id"} Brief:
  = f.text_field :brief_id
