%h3 ideapi reset password
.login_form{:style => "margin: 0 1em; width: 28em"}
  - form_tag '/reset_password' do
    - if (flash[:error])
      %p.flash.error=flash[:error]
    - elsif (flash[:notice])
      %p.flash.notice=flash[:notice]
    %p Fill out the form below and instructions to reset your password will be emailed to you:
    - field_set_tag do
      %p
        =label_tag "Email"
        =text_field_tag :email
      %p
        =submit_tag "Reset my password", :class=> "awesome blue"
