/* line 1, ../sass/ie.scss */
#add-new-section:after, .section:after, .clearfix:after, .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }

/* line 9, ../sass/ie.scss */
.clearfix, .container { display: block; }

/* line 11, ../sass/ie.scss */
.section .toggle-inline-edit { display: block; background: none; border: none; }
