/* line 2, ../sass/textile.sass */
#content .main .document .body ul, #content .main .proposal ul { list-style-type: disc; padding-left: 18px; }
/* line 5, ../sass/textile.sass */
#content .main .document .body ul li, #content .main .proposal ul li { display: list-item; list-style-position: outside; font-size: 1.2em; }
/* line 9, ../sass/textile.sass */
#content .main .document .body ol, #content .main .proposal ol { list-style-type: disc; padding-left: 18px; }
/* line 12, ../sass/textile.sass */
#content .main .document .body ol li, #content .main .proposal ol li { display: list-item; list-style-position: outside; font-size: 1.2em; }
/* line 16, ../sass/textile.sass */
#content .main .document .body table, #content .main .proposal table { border: 1px solid black; padding: 0px; }
/* line 19, ../sass/textile.sass */
#content .main .document .body table th, #content .main .proposal table th { background: #eeeeee; border: 1px solid black; padding: 3px; font-size: 1.2em; }
/* line 25, ../sass/textile.sass */
#content .main .document .body table tr, #content .main .proposal table tr { border: 1px solid black; padding: 3px; }
/* line 28, ../sass/textile.sass */
#content .main .document .body table tr td, #content .main .proposal table tr td { border: 1px solid black; padding: 3px; font-size: 1.2em; }

/* line 33, ../sass/textile.sass */
#container #content .document .body h1, #container #content .document .body h2, #container #content .document .body h3, #container #content .document .body h4, #container #content .document .body h5, #container #content .document .body h6, #container #content .proposal .body h1, #container #content .proposal .body h2, #container #content .proposal .body h3, #container #content .proposal .body h4, #container #content .proposal .body h5, #container #content .proposal .body h6, #container #content .document_list .body h1, #container #content .document_list .body h2, #container #content .document_list .body h3, #container #content .document_list .body h4, #container #content .document_list .body h5, #container #content .document_list .body h6 { margin: 0; padding: 0; color: #333333; background: transparent; font-weight: bold; font-size: 2em; }
/* line 40, ../sass/textile.sass */
#container #content .document .body h2, #container #content .proposal .body h2, #container #content .document_list .body h2 { font-size: 1.8em; }
/* line 42, ../sass/textile.sass */
#container #content .document .body h3, #container #content .proposal .body h3, #container #content .document_list .body h3 { font-size: 1.6em; }
/* line 44, ../sass/textile.sass */
#container #content .document .body h4, #container #content .document .body h5, #container #content .document .body h6, #container #content .proposal .body h4, #container #content .proposal .body h5, #container #content .proposal .body h6, #container #content .document_list .body h4, #container #content .document_list .body h5, #container #content .document_list .body h6 { font-size: 115%; }
