%li.comment{:class => (comment.user == brief.author) ? "author" : ""}
  -if comment.top_level?  
    =link_to 'reply', brief_creative_question_comments_path(brief, current_object), :class => 'reply_to_comment', :style => "display: none"
  .avatar
    =avatar(comment.user, :small)
    -if (comment.user == brief.author)
      %span.author Author
  %p.message
    =h comment.comment
    %span.time
      =comment_adjective_for(user_link(comment.user))
      =distance_of_time_in_words_to_now(comment.created_at)
      ago
    
  %ul.sub_comments
    =render :partial => 'comments/comment', :collection => comment.direct_children(:order => "created_at"), :locals => { :author => brief.author }
  
  -if comment.top_level?    
    .inline_form_comment
      - form_for(:comment, :url => brief_creative_question_comments_path(brief, current_object)) do |f|
        %p 
          Reply to comment
        =f.hidden_field :parent_id, :value => comment.id
        = render :partial => "comments/form", :locals => {:f => f}