%p
  %label{:for => "brief_question_title"} Title:
  = f.text_field :title
%p
  %label{:for => "brief_question_help_text"} Help text:
  = f.text_area :help_text
%p
  %label{:for => "brief_question_response_type_id"} Response type:
  = f.text_field :response_type_id
