%h1 Creating brief_question

= error_messages_for :brief_question

- form_for(:brief_question, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"

= link_to 'Back', objects_path
