%h2 Listing sections

%table{:width => "100%"}
  %tr
    %th{:width => "50%"} Name
    %th{:style => "text-align: center"} Questions
    %th Actions
  = render :partial => 'section', :collection => current_objects



%p=link_to 'New section', new_object_path 
