/* Mixins */

@mixin border_radius($size) {
  border-radius: $size;
  -moz-border-radius: $size;
  -webkit-border-radius: $size; }

@mixin bottom_left_border_radius($size) {
  -moz-border-radius-bottomleft: $size;
  -webkit-border-bottom-left-radius: $size;
  border-bottom-left-radius: $size; }

@mixin bottom_right_border_radius($size) {
  -moz-border-radius-bottomright: $size;
  -webkit-border-bottom-right-radius: $size;
  border-bottom-right-radius: $size; }

@mixin bottom_border_radius($size) {
  @include bottom_left_border_radius($size);
  @include bottom_right_border_radius($size); }

@mixin rounded-top-3px {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }

@mixin rounded-top-6px {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

@mixin rounded-all-6px {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; }

@mixin rounded-corners-all($radius: 5px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius; }

@mixin rounded-all-3px {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

@mixin button-style($radius: 3px) {
  font-weight: normal;
  color: white;
  padding: 5px 10px;
  @include rounded-corners-all($radius);
  border: 1px solid #32401a;
  &:hover {
    border: 1px solid #32401a; } }

@mixin green-button {
  background: url("/images/ui/button_background.png") repeat-x right top;
  &:hover {
    background: url("/images/ui/button_background.png") repeat-x right top; }
  &:active {
    background: url("/images/ui/button_background.png") repeat-x right -36px; } }

@mixin red-button {
  background: url("/images/ui/button_background_red.png") repeat-x right top;
  &:active {
    background: url("/images/ui/button_background_red.png") repeat-x right -36px; } }

@mixin white-button {
  background: url("/images/ui/button_background_white.png") repeat-x right top;
  &:active {
    background: url("/images/ui/button_background_white.png") repeat-x right -36px; } }

@mixin color-transitions($duration: 300ms) {
  -webkit-transition-property: background-color, color, border-color, opacity;
  -webkit-transition-duration: $duration;
  -moz-transition-property: background-color, color, border-color, opacity;
  -moz-transition-duration: $duration;
  -o-transition-property: background-color, color, border-color, opacity;
  -o-transition-duration: $duration;
  transition-property: background-color, color, border-color, opacity;
  transition-duration: $duration; }

@mixin linear-gradient($start: #eeeeee, $end: #cccccc) {
  background: -webkit-gradient(linear, left top, left bottom, from($start), to($end)); 
  background: -moz-linear-gradient(top, $start, $end);
}
