/* Initialize variables */ 
@import "mixins";
@import "partials/variables";
/* Importing partials / snippets */
@import "snippets/reset";
@import "snippets/classes";
@import "snippets/feedback";
@import "snippets/header";
@import "snippets/subnav";
@import "snippets/sidebar";
@import "snippets/notifications";
@import "snippets/briefs";
@import "snippets/footer";
@import "snippets/legacy";

body {
  font-size: 62.5%;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  background: #dddddd;
}

a {
  text-decoration: none;
  color: $ideapi_green_light;
  font-weight: bold;
  @include color-transitions;
  &:hover{
    color: $ideapi_green_light - #444;
  }
}

p{
  margin-bottom: 0.7em;
  line-height: 1.2em;
}
h1, h2, h3, h4{
  font-weight: bold;
}
h1{ font-size: 1.5em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.15em; }
h4{ font-size: 1.15em; }

#container{
  width: 94em;
  margin: 1em auto;
  position: relative;
}
#content, #header{
  font-size: 1.2em;
}
.navigation{
  display: inline;
  li{
    display: inline;
    margin-right: 1em;
  }
}
.navigation{
  clear: both;
  display: block;
}

#content{
  background: #fcfcfc;
  border-top: 1px solid $ideapi_green_light;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 1em 1em 1em;
  .col_1{
    float: left;
    width: 670px;
  }
}

#comments_area{
  margin-top: 3em;
  h4{
    margin-bottom: 1em;
  }
}


.note{
  margin-bottom: 1em;
  padding: 1em 2.5em 1em 1em;
  background: #f4f4f4;
  width: 36em;
  position: relative;
  .hide_message{
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    font-weight: normal;
  }
}
.clear{ clear: both;}
.cleft{ clear: left;}
.cright{ clear: right;}
.hide{ display: none; }
.inline-block{ display: inline-block; vertical-align: top;}
.block{ display: block;}

.add_collaborators{
  display: none;
}

.btn-shizzle{
  font-size: 1em;
  color: $ideapi_green_dark;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 3px;
  border: solid 1px $ideapi_green_light - #222;
  background: url('/images/ui/btn-bg-green.png') repeat-x 0px 0px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  display: inline;
  padding: 0 10px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  cursor: pointer;
  &:active{background-position: 0px bottom}  
  
}

.funky-button{
  @extend .btn-shizzle;
  height: 27px;
  line-height: 26px;
}
.funky-button-small{
  @extend .btn-shizzle;
  height: 20px;
  line-height: 18px;
}

@import "partials/comments_and_activity_stream";
@import "partials/account_form";
@import "partials/account_form";
@import "partials/jquery.fancybox-1.3.1"

