/*
  1. General
    1.1 Forms
    1.2 Links
    1.3 Type
    
  2. Masthead
  3. Content
  4. Footer

/*
  General

body
  :font-size 62.5%
  :text-align center
  :background #232323

/* Colours
  
  link-colour   = #2b3087
  
!link_colour        = #2b3087
!link_hover_colour  = #fcfcfc
!link_pink          = #ed1a62
!off_white          = #fcfcfc
!link_header        = #eeeeee
!link_purple        = #2b3087

a
  :text-decoration none
  :color = !link_colour
  :font-weight bold
  
a:hover
  :color = !link_hover_colour
  
#container
  :width 94em
  :margin 1em auto
  :border 10px solid #ddd
  
  #header
    :background #04194b
    :border-bottom 1px solid #505050
    :border-top 1px solid #777
    :padding 0.6em 0 0 0
    :position relative
    
    h1
      :float left
      :padding-left 1em
      :padding-bottom 0.4em
      :font-size 1.7em
      :line-height 1em
      :font-weight 100

      a
        :color = !link_header
        
      a:hover
        :color = !link_hover_colour 
        
    ul.navigation
      :float right
      :padding-top 1em
      :padding-right 2em
      :padding-bottom 0.1em
        
      li
    
        a, span
          :color = !link_header
          :font-size 1.4em
          :font-weight 100
          :position relative
          :padding 0.5em 0.8em 0.5em 0.8em 

        a:hover, span.current
          :font-size 1.4em
          :background black
          :color = !off_white
      
        a:focus, a:active
          :top 1px
          :color #9f003c
          
    ul.sub_nav
      :background #000
      :border-top 2px solid #333
      :padding 0.5em 2em 0.8em 2em
      :height 20px
      :position relative
    
      li
        :display inline
        :margin-right 2em
                
        span
          :font-size 1.2em
          :font-weight bold    
          :color #aaa
          
        span
          :color #666
        
      li.search
        :position absolute
        :right 0
        :top 0
        
        form
          :display inline
        
          input[type=submit]
            :height 24px
            :padding-top 4px

    
      .breadcrumbs
        :display inline
        :margin-left 0.5em
             
        li
          :margin 0
          :padding 0 0.2em
          
          span, a
            :font-size 1.2em
            :font-weight bold    
            :color #aaa

          span
            :color #666
            
      li.watch_form
        form
          :display inline
        
          input
            :height 24px
            :padding-top 4px
          
        div
          :display none
          
        
        
    p.flash
      :position absolute
      :top 37px
      :left 0
      :font-weight bold
      :font-size 1.2em
      :padding 8px 20px
      :height 17px
      :width 918px
      
    p.error
      :background #d81f26
      :color white
      
    p.notice
      :background green
      :color white
      
      
  #content
    :background #fcfcfc
    
    a
      :text-decoration none
      :color = !link_colour
      :font-weight bold

    a:hover
      :color = !link_pink
    
    a.awesome
      :color white
    
    p
      :font-size 1.2em
    
    .title_holder
      :border-bottom 2px solid #bbbbbb
      :border-top 1px solid #505050
      :background #f9f9f9
      :position relative
      :height 4.5em
      :padding 0.8em 0 0.3em 0

      h2
        :float left
        
      a.button
        :margin-right 0.5em
        
      form
        /:margin-top -10px
        :float right      

  
    .main
      :padding 0
      :border-bottom 2px solid #ddd
      :background #fcfcfc

    a.button
      :font-size 1.3em
      :text-transform uppercase
      :float right
      :display block
      :height 19px
      :background url(/images/button/bg.png) repeat-x
      :padding 10px
      :position relative
      :margin 0.2em 1em 0 2.5em

    a.button, .submit_button
      /* applied by javascript 
      span.btn_left, span.btn_right
        :display block
        :height 39px
        :width 18px
        :position absolute
        :top 0

      .btn_left
        :left -18px
        :background url(/images/button/left.png) no-repeat

      .btn_right
        :right -18px
        :background url(/images/button/right.png) no-repeat
        
input[type=text], input[type=password], textarea, select
  :border 1px solid #ccc
  :padding 0.2em 0.3em
  :background white

form
  p
    label
      :margin-right 1em
      :line-height 1.1em
      :width 8em       

span.field_with_errors
  label
    :color #d81f26
  
  input
    :background #d81f26
    :color white


#container
  #content
  
    h3
      span
        :font-size 0.8em
    
    .col_1
      :width 63em
      :padding 0 0 0 2em 
      :float left
      
      h2
        :padding-top 0.5em
    
    .col_2
      :width 22em
      :margin-right 1em
      :padding 1.5em 1em
      :float right
      
      .discussion
        .join_discuss
          :border 1px solid #eee
          :padding 0.8em 0.5em
          :text-align center
          :background white
          

    / briefs_path (dashboard)
    
    #dashboard
      
      h2.salu
        :padding-bottom 1em
      
      .brief_overviews
  
        h2
          :padding 0
          :font-size 1.1em
          :font-weight normal
          :text-transform uppercase
          :text-align center
          :margin -0.8em auto 1.5em auto
          :background white
          :width 7.5em
          :color #454545
          
          
    .required_actions
      :border 1px solid #ccc
      
      h3
        :font-size 1.7em
        :color #f9f9f9
        :background #21286c
        :margin 0
        :padding 0.2em 0.5em
        :font-weight 100
        :border-bottom 1px solid #ccc
    
      ul
          
        li
          :background #f2f2f2
          :padding 0.5em 1em
    
          p
            :margin 0
            :padding 0
    
    .brief_overview
      :margin 0 0 2em 0
      :padding 0
      :border 1px solid #ccc
      
      h3
        :font-size 1.7em
        :color #f9f9f9
        :background #21286c
        :margin 0
        :padding 0.2em 0.5em
        :font-weight 100
        :border-bottom 1px solid #ccc
    
      ul
    
        li
          :background #f2f2f2
          :padding 0.5em 1em
          
    
          p
            :margin 0
            :padding 0
            
      .brief
        :border none
        :border-bottom 1px solid #ccc
        :margin 0
      
      .brief:last-child
        :border-bottom none
              
      .brief:hover
        :background #ffffdf
        
        h5
          a
            :display block
        
        
    .brief_overview.published, .brief_overview.watching
      
      h3
        :background #333333
        :color #fcfcfc
        
    .brief_overview.draft
      
      h3
        :background #ddd
        :color #333
        
    
    / brief_path

    ul.tabbed_links
      :background #fffffe
      :border 1px solid #ccc
      :padding 0.5em 0
      :height 22px
    
      li
        :float left
        
        a, span
          :font-size 1.3em
          :text-transform uppercase
          :padding 0.6em 2em
          :background #eeeeee
          :border 1px solid #ccc
          :border-left 0
          :font-weight normal
          :color #666
          
        span.current, a:hover
          :border 1px solid #21286c
          :border-left 0
          :background #21286c
          :color white
        
        a:hover
          :background-color rgba(33, 40, 108, .9)
        
    .brief
      :background #fffffe
      :margin 2em 0
      
      h2
        :background #333
        :color white
        :font-size 1.2em
        :padding 1em 1.8em
        :-moz-border-radius-topright 6px
        :-webkit-border-top-right-radius 6px
        :-moz-border-radius-topleft 6px
        :-webkit-border-top-left-radius 6px
        :position relative
        
        a
          :color #666
          :position absolute
          :right 4em
          :top 1em
          
        a:hover
          :color #fefefe
          
        a.print_brief
          :top 1.2em
          :right 1.8em
          :background url(/images/printer_empty.png)
          :width 16px
          :height 16px
          :text-indent -3000px
      
      .brief_item, .most_important_thing
        :padding 1em 2em
        :border 1px solid #ccc
        :border-bottom 1px solid #eee
        :border-top 0
        :position relative
        
        h3
          span.updated
            :font-size 0.2em
            :color #999
            :font-weight bold
            :text-transform uppercase
            :position relative
            :top -0.4em
            :left 0
            
        //when editing    
            
        textarea
          :width 46em
          :height 10em
          
        .help_message
          :width 18em
          :border 1px solid #ccc
          :background rgb(252, 252, 252)
          :background rgba(220, 220, 220, 0.2)
          :padding 1em
          :position absolute
          :top 4em
          :left 51.5em
            
      .most_important_thing
        :padding 1em 1em 1em 3em
        
        p
          :font-size 2.2em
          :font-weight bold
          :color #333333
          :padding 0 2em
          :position relative
          
          span
            :font-size 4em
            :position absolute
            :padding 0
            :margin 0
            :height 0.4em
            :line-height 0.8em
          
          span.left
            :top 0
            :left 0
            
          span.right
            :bottom -0.2em
            :padding-right 0.5em
          
            
        
      .brief_item:hover
        :background #ffffdf
        
      .brief_item.extended:hover
        :background transparent
              
    .note
      :padding 0.5em 2em 0.5em 2em
      :margin 2em 0 0.5em 0
      :line-height 1.8em
      :background #ffffdf
      :border 1px solid #ddd
      :position relative
      
      a.hide_message
        :position absolute
        :top 0
        :right 1em
        :text-align center

    .boom_box
      :border 1px solid #ccc
      :padding 1em
      :background #f6f6f6
      :margin-top 1em
      :margin-bottom 2em
      
  .search_results
    :padding-top 1em
    ul.brief_list
      li
        :padding 1em 2em
        :border-top 1px solid #ddd
        
  .discussion
    .brief_item
      :padding 1em 2em
      :border-right 1px solid #ccc
      :border-left 1px solid #ccc
  
  / USER PROFILE
  
  .avatar
    :border 6px solid #ddd
  
  .creative, .author
    
    :padding 0 0 1em 0
    
    :position relative
    
    p.edit
      :position absolute
      :top 0
      :right 1em
    
    .avatar
      :float left
      :margin-right 1em
      
  .hr
    :border-top 1px solid #bbb
    :border-bottom 4px solid #eee
    :margin 4em 0
    
  / CREATIVE QUESTIONS

#container
  #content
  
    .ask_question
      :padding 1em
      
      textarea
        :width 48em
        :height 10em
        
      .awesome
        :position relative
        :left 36.5em
        :top 0
      
  
    .brief_item
      :position relative
      
      .ask_question
        :width 50em
        :margin 2em auto
        :padding 1em
        
        textarea
          :width 40.2em
          
        p
          :margin 0
          
        p.submit
          :margin-top 0.5em
  
      .actions
        :position absolute
        :top 1em
        :right 1em
        
        a
          :color #ccc
          :padding-left 1em
        
        a:hover
          :color = !link_purple
        
      h3
        
        a.toggle_brief_edit
          :margin-right 0.5em
          :position relative
          :top -5px
          :width 0.6em
          :text-align center
      
      h3.empty
        :color #ccc
        
    .question_list, .brief_item_history
    
      li
        :padding 0.5em 1em 0 1em
        
      p.updated
        :text-transform uppercase
        :border-top 1px solid #eee
        :position relative
        :margin 1em 0

        span
          :position absolute
          :color #bbb
          :font-size 0.8em
          :top -0.9em
          :left 0
          :background white
          :padding 0 0.5em
    
      .question
        :margin-bottom 1em
        :padding 0 2em
      
        .question_body, .author_answer, .author_answer_form
          .speech
            :background #e9e9e8
            :padding 1em 1em
            :margin 0
            :width 37em
            :display block
            :position relative
            
        .question_body
          :font-size 1.1em
        
          .speech
            :margin-left 5em
          
            span.bubble
              :background url(/images/speech.png)
              :width 7px
              :height 16px
              :display block
              :position absolute
              :left -7px
              :top 40%
                                  
          img
            :float left
            :margin-top 0.3em
        
        .author_answer, .author_answer_form      
          :padding 0.5em 0 1em 1.5em
        
          img
            :float right
          
          .speech
            :margin-top 0.5em
            :margin-right 1em
            :margin-bottom 1em
            :margin-left 2.4em
            :width 38em
            :padding 0.5em 1em 0.1em 1em
          
            p
              :padding 0 0.5em
              :font-size 1.1em
          
            textarea
              :width 39em
              :margin-bottom 0.5em
            
            span.bubble
              :background transparent url(/images/speech.png) 8px 0
              :width 8px
              :height 16px
              :display block
              :position absolute
              :top 40%
              :right -8px
        
          p.submit
            :margin-right 6em
            
        .show_author_answer_form
          :position absolute
          :top 1.8em
          :right 0
        
        .author_answer_form
          .brief_item
            :border none
            :padding 0
            :margin 0 0 0 2.8em
            :width 44em
            
            h3
              :font-size 1.5em
              
            p
              :font-size 1.1em
              
            
            
    .brief_item_history
      :margin-top 1em
      :padding-top 1em
      
      h4
        :font-size 1.3em
        :color #666
        :padding-bottom 1em
        
      ul
        :margin 3em 0
          
      .revision
        :padding 1em 2em
        :position relative
        :border 1px solid #eee
        :margin 1em auto
        :background #fcfcfc
        :-moz-border-radius 6px
        :-webkit-border-radius 6px
        :width 40em
        
        p
          :padding 0 
          :margin 0
        
    .question_list
      :border 1px solid #ccc
      :border-top 0
      :margin-bottom 2em
      
      p.no_questions
        :padding 1em 2em
        :position relative
        :border 1px solid #eee
        :margin 1em auto
        :background #eee
        :-moz-border-radius 6px
        :-webkit-border-radius 6px
        :width 40em
        :font-weight bold  
        
      .question
        :padding 1em 1em
        :position relative
                
        .author_answer, .author_answer_form      
        
          .speech
            :width 42em      

            textarea
              :width 41em
  
    .filter_questions
      :margin 1.7em 0 0 0
      :background #333
      :color white
      :font-size 1.2em
      :padding 1em 1.8em
      :-moz-border-radius-topright 6px
      :-webkit-border-top-right-radius 6px
      :-moz-border-radius-topleft 6px
      :-webkit-border-top-left-radius 6px
      :position relative

      li
        :display inline
        :margin-right 1em
        
        a
          :color = #ccc
        
        a:hover
          :color = !off_white
        
        span.current
          :font-weight bold
          :background #eee
          :padding 0.2em 0.5em 0.3em 0.5em
          :-moz-border-radius 6px
          :-webkit-border-radius 6px
          :-moz-border-radius 6px
          :-webkit-border-radius 6px
          :border-top 1px solid #ccc
      
      li.brief_item_filter
        :position absolute
        :top 1.2em
        :right 1em
        :font-size 0.9em
        
        form
          :display inline
          div
            :display none
          span
            :color #ccc
            :padding-right 0.5em
  
  #content
    .title_holder
      .brief_timeline
        :padding 0.1em 0 0 0.5em
        :margin 0
        
        li
          :text-transform uppercase
          :width 158px
          :padding 0
          :float left
          
          span
            :display block
            :text-align center
            :margin 0 2px
            :padding 4px 8px
            :color #ccc
            :font-weight 100
            :font-size 1.8em
            
          span.selected
            :background #e9e9e9
            :color #555
    
  
    .user
      .avatar
        :float left
        :margin-right 2em
  
p.subs
  :float right

p.submit
  :background #ddd
  :border none
  :padding 0.1em 1em 0.3em 1em
  :width auto
  :display inline
  :margin 0 0 1em 1em
  :float right

  input[type=submit]
    :background transparent
    :border none
    :color #333
    :text-decoration none
    :-moz-border-radius none
    :-webkit-border-radius none
    :-moz-box-shadow none
    :-webkit-box-shadow none
    :text-shadow 0 
    :border-bottom none
    :cursor pointer
    :text-shadow none

p.cancel
  :float right

p.submit.left
  :float left
  :margin 0 1em 1em 0
    
p.submit:hover
  :background #21286c
  
  input[type=submit], a
    :color white

input.awesome
  :border none

#facebox
  .content
    .fb
      :width 60em
      :border 1px solid #ccc

      p.message
        :padding 0.5em 1em 0 1em 
        :font-size 1.2em
        :font-weight bold
  
      .brief_item  
        :padding 0.5em 1em
        :border-bottom 1px solid #eee

        p.body
          :background transparent
          :font-size 1.2em
  
      .brief_item:hover
        :background #ffffdf

textarea
  :resize none

.login, .app_error
  :margin 15% auto 0 auto
  :width 45em
  :border 10px solid #ddd
  :background #f6f6f6
  
  a
    :text-decoration none
    :color = !link_colour
    :font-weight bold

  a:hover
    :color #2b3087
    
  h3
    :background #04194b
    :border-bottom 4px solid #505050
    :border-top 1px solid #777
    :color #ccc
    :padding 0.2em 1em
  
  .login_form
    :padding 1em 1em
    :font-size 1.4em
    
.app_error
  h3
    :background #d81f26
    :color white
    
  p
    :padding 0.5em 2em
    :font-size 1.2em
    :font-weight bold
    


//side bar
#container
  #content
    .col_2

      .discussion_stats
        :margin 2em 0 1em 0
  
        h2
          :background #bebebe
          :padding 20px 10px 2px 10px
          :text-transform uppercase
          :color white
          :font-size 1.4em
          :text-align right
          :text-shadow 0 -1px 1px rgba(0,0,0,0.25)
          :position relative
          :-moz-border-radius-topright 6px
          :-webkit-border-top-right-radius 6px
          :-moz-border-radius-topleft 6px
          :-webkit-border-top-left-radius 6px
          :-moz-border-radius-bottomleft 6px
          :-webkit-border-bottom-left-radius 6px
          
          span
            :display block
            :background url(/images/stat_speech.png)
            :width 11px
            :height 6px
            :position absolute
            :right 2em
            :bottom -6px
            
        ul
          :padding 1em
          :background #fefefe
        
          li
            :margin 0 0 1.5em 0
            
            img.avatar
              :border 0
              :float left
              :margin-right 1em
            
            p.non_found
              :color #aaa
          
            p
              :font-size 1em
              :font-weight bold
            
              span
                :font-size 0.9em
                :color #aaa
                :font-weight normal
          
                strong
                  :color #aaa
          
          span.author
            :color #0099CC
            :font-weight bold
      
      .invite_users
        :border 1px solid #ccc
        :padding 0.5em 1em 1em 1em
        :position relative
        :background #eee
        
        h4
          :font-size 1.2em
          :padding-bottom 0.5em
        
        input[type=submit]
          :margin 0.5em 0 0 0
          :position relative
          :left 12em
          :top 0
          
        textarea
          :font-size 1em
          :width 19em
          :height 4em
          
    .invitations
      :padding 1em 0 0 0
      :width 100%
      
      td, th
        :padding 0.5em 1em
      
      th
        :background #ddd
        :border-bottom 1px solid #ccc
        
      tr:nth-child(even) 
        :background #e4e4e4
      tr:nth-child(odd) 
        :background #eee
    
    .profile
      .invite_users
        :margin-top 4.8em
        
    .dashboard
      .invite_users
        :margin-top 6.2em
      
.feedback_form
  :background white
  :background #fefefe
  :min-width 980px
  :width 100%
  
  .title
    :background #333
    :padding 1em
    
    h2
      :color white
      :font-size 1.4em
      :width 65em
      :margin 0 auto
      
      span
        :padding-left 1em
        :font-size 0.8em
        :color #aaa
        
        a
          :color #eee
        
        a:hover
          :color = !link_pink
  h3
    :border-bottom 1px solid #ccc
    :margin-bottom 1em
  
  .wrap
    :width 92em
    :margin 0 auto
    
    
  .user_input, .info
    :padding 1em 2em
    :background #ffffdf
    :border 1px solid #ccc
    :height 24em
        
  .user_input
    :float left
    :margin 2em 0 2em 2em
    :border-right none
    
    textarea
      :height 10em
      
    p.submit
      :text-align right
    
  .info
    :float left
    :margin 2em 2em 2em 0
    :border-left none
    
    p
      :font-size 1.2em
    
    ul
      :padding 0 3em 1em 3em
      li
        :list-style disc
    
    
    