/*
  1. General
    1.1 Forms
    1.2 Links
    1.3 Type
    
  2. Masthead
  3. Content
  4. Footer

/*
  General

body
  :font-size 62.5%
  :text-align center
  :background #eee

/* Colours
  
  link-colour   = #2b3087
  
!link_colour        = #454545
!link_hover_colour  = #21286c
!link_pink          = #ed1a62

a
  :text-decoration none
  :color = !link_colour
  :font-weight bold
  
a:hover
  :color = !link_hover_colour
  
#container
  :width 94em
  :margin 1em auto
  :border 10px solid #ddd
  
  #header
    :background #222222
    :height 3.4em
    :border-bottom 1px solid #505050
    :padding 0.6em 2em 0 2em
    
    h1
      :float left
      :margin-right 0.8em
      :font-size 1.7em
      :line-height 1em
      :font-weight 100
      
      a
        :color white
        
      a:hover
        :color = !link_pink 
  
  .what_user_is_doing
    :float left
    
    h3
      :color white
      :font-size 1.7em
      :font-weight 100
      :line-height 1em
      
      a
        :color = !link_pink
        
      a:hover
        :color = !link_pink
        
  ul.navigation
    :float right
    :padding-top 0.2em
        
    li
      :margin-left 2em
    
      a, span
        :color white
        :font-size 1.5em
        :font-weight 100
        :position relative
        :padding 0 0.2em 0.2em 0.2em 

      a:hover
        :color = !link_pink 
        :font-size 1.5em
        :font-weight 100
        :text-decoration none
      
      a:focus, a:active
        :top 1px
        :color #9f003c
    
      span.current
        :border-bottom 4px solid #ff0060
    
  #content
    :background #fcfcfc
    
    p
      :font-size 1.2em
    
    .title_holder
      :border-bottom 2px solid #bbbbbb
      :border-top 1px solid #505050
      :background #f9f9f9
      :position relative
      :height 4.5em
      :padding 0.8em 0 0.3em 0

      h2
        :float left
        
      a.button
        :margin-right 0.5em
        
      form
        /:margin-top -10px
        :float right      

  
    .main
      :padding 0
      :border-bottom 2px solid #ddd
  

    a.button
      :font-size 1.3em
      :text-transform uppercase
      :float right
      :display block
      :height 19px
      :background url(/images/button/bg.png) repeat-x
      :padding 10px
      :position relative
      :margin 0.2em 1em 0 2.5em

    a.button, .submit_button
      /* applied by javascript 
      span.btn_left, span.btn_right
        :display block
        :height 39px
        :width 18px
        :position absolute
        :top 0

      .btn_left
        :left -18px
        :background url(/images/button/left.png) no-repeat

      .btn_right
        :right -18px
        :background url(/images/button/right.png) no-repeat
        
    .sub_nav
      :background #e9e9e9
      :padding 0.5em 2em
      :border-bottom 1px solid #cccccc
    
      li
        :display inline
        :margin-right 2em
        
        a
          :font-size 1.2em
          :font-weight bold
          
        
      li.secondary
        :float right
        :margin-left 2em
        :margin-right 0
        
        
input, textarea, select
  :border 1px solid #ccc
  :padding 0.2em 0.3em
  :background white

textarea
  :width 400px
  :height 50px

form
  p
    label
      :margin-right 1em
      :line-height 1.1em
      :width 8em       

span.field_with_errors
  label
    :color #d81f26
  
  input
    :background #d81f26
    :color white


#container
  #content
  
    h3
      span
        :font-size 0.8em
  
    .col_1
      :width 65em
      :padding 1.5em 2em
    
    / briefs_path (dashboard)
    
    .required_actions
      ul
        :padding 1em 1em
        :background #ffffe0
        :border 1px solid #ffffbe
        :margin 1em
    
    .brief_overview
      :padding 1em 0
      ul
        :padding 1em
    
    / brief_path

    p.most_important_thing
      :font-size 2.2em
      :font-weight bold
      :color #454545
      :padding 1em 2em
      :background #ffffe0
      :border 4px solid #ffffbe

    ul.tabbed_links
      :background #f9f9f9
      :border 1px solid #ccc
      :padding 1em 1em
      :margin-bottom 2em
    
      li
        :display inline
        :padding 0 0.5em
        
        a, span
          :font-size 1.3em
          :text-transform uppercase
          :padding 0.5em 1em 0.5em 1em
          :border 1px solid #f9f9f9
        
        span.current
          :border 1px solid #ccc
          :background #eee
          
        a:focus, a:active
          :background #eee
          :border 1px solid #ccc
          

    .brief
      :background #fffffe
      :padding 1em 2em
      :border 1px solid #f2f2f2    
      :border-right 2px solid #eee
      :border-bottom 4px solid #ddd

      .brief_item
        :padding-bottom 2em
        :margin-bottom 1em
        :border-bottom 1px solid #eee
        
    /edit brief
      
    #edit_brief
      
      h3.brief_document
        :padding-top 0.5em
        :width 35em
        
      .brief_details, .brief_items
        :border 1px solid #ccc
        :padding 1em
        :background #f6f6f6
        :margin-top 3em
        :margin-bottom 2em

        h3
          :padding-top 0

        .submit_button
          input
            :top 12px
      
        label
          :width 10em
      
        .brief_item
          :position relative
          :margin-bottom 0
        
          input[type=text]
            :width 40em
        
          textarea
            :width 40em
            :height 10em
            :max-width 48em

        .help_message
          :width 20em
          :border 1px solid #ccc
          :background rgb(252, 252, 252)
          :background rgba(220, 220, 220, 0.2)
          :padding 1em
          :position absolute
          :top 0
          :left 45em
        
        a.button
          :margin 0.2em 11em 1em 2.5em  
      
    .note
      :padding 0 2em 0 2em
      :margin 0.5em 0 0.5em 0
      :line-height 1.8em

    .boom_box
      :border 1px solid #ccc
      :padding 1em
      :background #f6f6f6
      :margin-top 1em
      :margin-bottom 2em
    
    .brief_items_by_section  
      :position relative
      :padding-top 24px
      
      .brief_item_section_tabbed h3
        :position absolute
        :top 1.3em
        :left 0
        :font-size 1.8em
        :border 1px solid #ccc
        :border-right 0
        :background #eee
        :padding 0.5em 1em 0.5em 1em
        :margin 0
        :line-height 0.5em
        :width 99px
        :text-align center
        :font-weight normal
        
      .brief_item_section_tabbed h3:hover
        :background #ddd
        :cursor pointer
        
      .brief_item_section_tabbed h3.selected
        :background #21286c
        :color white
        
  .show_question_details
    :background url(/images/tri-down.png) no-repeat 7px right
    :padding-right 1em
      
  .search_results
    ul.brief_list
      li
        :padding 1em 2em
        :border-top 1px solid #ddd
  
  / USER PROFILE
  
  .avatar
    :border 6px solid #ddd
  
  .creative, .author
    
    :padding 0 0 1em 0
    
    :position relative
    
    p.edit
      :position absolute
      :top 0
      :right 1em
    
    .avatar
      :float left
      :margin-right 1em
      
  .hr
    :border-top 1px solid #bbb
    :border-bottom 4px solid #eee
    :margin 4em 0
    
  / CREATIVE QUESTIONS
  
  .question_list, .brief_item_history
    
    .creative_question
      :border 1px solid #ccc
      :background #eee
      :margin-bottom 0.5em
      :padding 0
  
      p.question_body
        :padding 0.5em 1em
        
        img
          :float left
          :margin-right 1em
          
      .question_actions
        :border-top 1px solid #ddd
        :text-align right
        :background #fefefe
        
        li
          :border-left 1px solid #ccc
          :background #454545
          :width 10em
          :padding 0.5em 1em
          :float right
          
          p
            :color white
            :padding 0
            :margin 0
            :text-align center
            
      .author_answer
        :margin 0
        :padding 1em
        :background #eee
        :border-top 1px solid #ccc
  
  .brief_item_history    
    .creative_question
      .author_answer
        img
          :float right
          :margin-right 1em

  
  #content
    #question_filter
      :margin-bottom 0.5em
  
  #content
    .title_holder
      .brief_timeline
        :padding 0.1em 0 0 0.5em
        :margin 0
        
        li
          :text-transform uppercase
          :width 158px
          :padding 0
          :float left
          
          span
            :display block
            :text-align center
            :margin 0 2px
            :padding 4px 8px
            :color #ccc
            :font-weight 100
            :font-size 1.8em
            
          span.selected
            :background #e9e9e9
            :color #555

p.submit
  :background #ddd
  :border none
  :padding 0.3em 1em 0.3em 1em
  :width auto
  :display inline
  :margin 0 0 1em 1em
  :float right

  input[type=submit]
    :background transparent
    :border none
    :font-weight bold

p.submit.left
  :float left
  :margin 0 1em 1em 0
    
p.submit:hover
  :background #21286c
  
  input[type=submit]
    :color white



  
            