/* Initialize variables */ 
@import "mixins";
@import "partials/variables";
@import "partials/960grid";

/* Importing partials / snippets */
@import "snippets/reset";
@import "snippets/classes";
@import "snippets/feedback";
@import "snippets/header";
@import "snippets/subnav";
@import "snippets/sidebar";
@import "snippets/notifications";
@import "snippets/briefs";
@import "snippets/proposals";
@import "snippets/template_briefs";
@import "snippets/footer";
@import "snippets/legacy";

body {
  font-size: 62.5%;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  background: #dddddd;
}

a {
  text-decoration: none;
  color: $ideapi_green_light;
  @include color-transitions;
  &:hover{
    color: $ideapi_green_light - #444;
  }
}
.main, textarea, input[type=text]{
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
}
p{
  font-family: "Ubuntu", Helvetica, Arial, sans-serif;
  margin-bottom: 0.7em;
  line-height: 1.3em;
  color: #333;
}
h1, h2, h3, h4{
  font-weight: bold;
}
h1{ font-size: 1.5em; }
h2{ font-size: 1.3em; }
h3{ font-size: 1.15em; }
h4{ font-size: 1.15em; }

#container{
  width: 94em;
  margin: 1em auto;
  position: relative;
}
#content, #header{
  font-size: 1.2em;
}
.navigation{
  display: inline;
  li{
    display: inline;
    margin-right: 1em;
  }
}
.navigation{
  clear: both;
  display: block;
}

#content{
  background: #fcfcfc;
  border-top: 1px solid $ideapi_green_light;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 1em 1em 1em;
  .col_1{
    float: left;
    width: 670px;
  }
}

#comments_area{
  margin-top: 3em;
  h4{
    margin-bottom: 1em;
  }
}


.note{
  margin-bottom: 1em;
  padding: 1em 2.5em 1em 1em;
  background: #f4f4f4;
  width: 36em;
  position: relative;
  .hide_message{
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    font-weight: normal;
  }
}
.clear{ clear: both;}
.cleft{ clear: left;}
.cright{ clear: right;}
.hide{ display: none !important; }
.inline-block{ display: inline-block; vertical-align: top;}
.block{ display: block;}
.fright{ float: right;}
.fleft{ float: left;}

.add_collaborators{
  display: none;
}

.btn-shizzle{
  font-size: 1em;
  color: $ideapi_green_dark;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  @include box_shadow(rgba(0, 0, 0, 0.15) 0px 1px 3px);
  border: solid 1px $ideapi_green_light - #222;
  background: url('/images/ui/btn-bg-green.png') repeat-x 0px 0px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  display: inline;
  padding: 0 10px;
  border-top-left-radius: 2px 2px;
  border-top-right-radius: 2px 2px;
  border-bottom-right-radius: 2px 2px;
  border-bottom-left-radius: 2px 2px;
  cursor: pointer;
  &:active, &.active{background-position: 0px bottom}
}

.funky-button{
  @extend .btn-shizzle;
  height: 26px;
  line-height: 24px;
}
.funky-button-small{
  @extend .btn-shizzle;
  height: 20px;
  line-height: 18px;
  cursor: pointer;
}
.delete-button{
  @extend .funky-button-small;
  border: solid 1px #f66;
  color: #eee;
  background: url('/images/ui/btn-bg-red.png') repeat-x 0px 0px;
  text-shadow: none;
}

p.submit{ text-align: right;}

form {
  
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    background: #f9f9f9;
    outline: 1px solid $ideapi_green_light;
  }
  
  input[type=text], input[type=password], textarea {
    border: 1px solid #cccccc;
    padding: 0.5em;
    background: white;
  }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    background: #f9f9f9;
  }
  p {
    label {
      margin-right: 1em;
      line-height: 1.1em;
      width: 8em;
      clear: left;
    }
    input[type=checkbox] {
      margin-top: 5px;
    }
  }
}

/* Minor Section Customization */
#users{
  .user{
    .avatar{ 
      float: left;
      margin: 0 1em 1em 0;
    }
  }
  &.edit, &.index{
    #content{ padding-top: 1em;}
  }
}
#pages{
  #content{ padding-top: 1em;}
}

.big-ass-text{
  font-size: 5em;
  font-weight: bold;
  vertical-align: top;
  line-height: 1em;
  color: #ddd;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
  text-shadow: -1px -1px 1px #ccc;
}

.green-button-link{
  @extend .funky-button-small;
  @include border_radius(4px);
  color: white;
  border-color: $ideapi_green_dark;
  text-shadow: none;
  background: url('/images/ui/btn-bg-darkgreen.png') repeat-x 0px 0px;
  display: block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  padding-top: 1px;
  &:hover{
    color: #eee;
  }
}

/* LOGIN */ 
#user_session_email, #user_session_password{
  width: 225px;
}
.login, .app_error {
  margin: 15% auto 0 auto;
  width: 45em;
  border: 10px solid #dddddd;
  background: #f6f6f6;
  .footer {
    background: #dddddd;
    padding: 0.5em 0 0 0;
    p {
      margin: 0;
      padding: 0;
      font-size: 1.2em; }
    a {
      color: #888888;
      @include color-transitions(600ms);
      &:hover {
        color: #333333; } } }
  a {
    text-decoration: none;
    color: $link_colour;
    font-weight: bold; }
  a:hover {
    color: #32401a; }
  h3 {
    @include rounded-top-3px;
    background: #32401a;
    border-bottom: 4px solid #b3d335;
    color: white;
    padding: 0.2em 1em;
    font-size: 2em;
  }
  .login_form, .friendship_form {
    padding: 1em 1em;
    font-size: 1.4em;
  }
  .login_form{
    label{ 
    }
  }
  .friendship_form {
    p {
      text-align: center; 
    } 
  }
}
.app_error {
  h3 {
    background: #d81f26;
    color: white; }
  p {
    padding: 0.5em 2em;
    font-size: 1.2em;
    font-weight: bold; }
}


@import "partials/comments_and_activity_stream";
@import "partials/account_form";
@import "partials/jquery.fancybox-1.3.1";