/* variables */

/* mixins */
@mixin test{
  border: 1px solid pink;
}


/* Homepage */
.home-page .try-button-primary {
  top: 148px;
}

/* Account menu */
#account-menu {
  padding-bottom: 0;
  &.active #account-button {  
    background-position: right -25px;

    &:hover {
      background-position: right 5px;
    }
  }
  #account-contents {
    padding-bottom: 0;
  }
}

/* Content */
#content #testimonials {
  h2 {
    padding-top: 25px;
  }
  .listing {
    margin-top: 40px;
  }
}