
/* Colours
  link-colour   = #2b3087

!link_colour        = #b3d335
!link_hover_colour  = #32401a
!off_white          = #fcfcfc
!link_header        = #eeeeee
!link_purple        = #2b3087
!heading_color      = #32401a
!body_bg            = #fff
!bright_green       = #b3d335

!nav_default_bg  = transparent
!nav_default_txt = #fff
!nav_current_bg  = #7e9d3a
!nav_current_txt = #fff
!nav_special_txt  = #ffcc00

!text_color = #333

!divider_colour = #e7f0f7

/* Dimensions */
!container_width = 959px
!banner_height = 430px

/* z-index - low lvls = further behind */
!z_index_highest = 5000
!z_index_lvl_0 = 0
!z_index_lvl_1 = 100
!z_index_lvl_2 = 200
!z_index_lvl_3 = 300

/* Mixins */ 

@mixin border_radius($size)
  border-radius: $size
  -moz-border-radius: $size
  -webkit-border-radius: $size

@mixin bottom_left_border_radius($size)
  :-moz-border-radius-bottomleft $size
  :-webkit-border-bottom-left-radius $size
  :border-bottom-left-radius $size

@mixin bottom_right_border_radius($size)
  :-moz-border-radius-bottomright $size
  :-webkit-border-bottom-right-radius $size
  :border-bottom-right-radius $size
  
@mixin bottom_border_radius($size)
  @include bottom_left_border_radius($size)
  @include bottom_right_border_radius($size)  
  
=rounded-top-3px
  :-moz-border-radius-topleft 3px
  :-webkit-border-top-left-radius 3px
  :-moz-border-radius-topright 3px
  :-webkit-border-top-right-radius 3px
  :border-top-left-radius 3px
  :border-top-right-radius 3px
  
=rounded-top-6px
  :-moz-border-radius-topright 6px
  :-webkit-border-top-right-radius 6px
  :-moz-border-radius-topleft 6px
  :-webkit-border-top-left-radius 6px
  :border-top-left-radius 6px
  :border-top-right-radius 6px

body
  background-color: !body_bg
  text-align: justify
  color: #4c4c4c
  padding: 0px
  margin: 0px
  line-height: 20px
  font-size: 12px
  font-family: Helvetica, Arial, sans-serif


h1
  font-size: 3em
  line-height: 1.2em
  margin-bottom: 1em
  color: !heading_color


h2
  font-size: 2.6667em
  line-height: 1.2em  
  color: !heading_color

h3
  font-size: 1.8333em
  line-height: 1.2em  
  color: !heading_color
  font-weight: normal
  margin-bottom: 0

a
  color: #4c4c4c
  text-decoration: none
  font-weight: bold
  &:hover
    text-decoration: underline
    
.try-button
  background: transparent url(/images/try-button.png) no-repeat 0 0
  display: block
  width: 206px
  height: 62px
  text-indent: -9999px
  
  &:hover
    background-position: 0 -81px
  &.primary
    position: absolute
    right: 82px
    top: 158px
  &.secondary
    
  
img
  border: none

#grid-overlay
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100%
  text-align: center
  z-index: !z_index_highest
  background: transparent url(/images/grid.png) repeat-y center 0

#container
  padding: 0px
  margin: 0 auto
  width: 100%
  
  text-align: center
  position: relative

#banner
  background: !bright_green url(/images/bg_clouds.png) repeat-x center 100%
  padding: 0
  margin: 0
  height: !banner_height
  width: 100%
  position: absolute
  top: 0
  left: 0
  
#header
  z-index: !z_index_lvl_1
  width: !container_width
  margin-right: auto
  margin-left: auto
  position: relative
  
  #logo
    position: absolute
    top: 20px
    left: 82px
    width: 148px
    height: 65px
    text-align: left
      
  ul.navigation
    position: absolute
    right: 66px
    margin: 36px 0 0 0
    
    li
      :display inline
      :padding 0
      :margin 0
      
      &.free-trial
        a, a:hover, a:focus, a:active, span, span.current
          color: !nav_special_txt
        
      a, span
        color: !nav_default_txt
        font-weight: bold
        font-size: 1.3333em
        line-height: 1.3333em
        padding: 8px 0.8em 5px 0.8em
        @include border_radius(15px)
        background: !nav_default_bg
        text-transform: capitalize

        
      a:hover, span.current
        text-decoration: none
        background: !nav_current_bg
        color: !nav_current_txt
        
      a:focus, a:active
        top: 1px
        background: #b3d335

     


#middle-section
  z-index: !z_index_lvl_0
  position: relative
  background-color: transparent
  width: !container_width
  margin: 0 auto
  clear: both  


#content
  background-color: transparent
  margin-right: auto
  margin-left: auto
  text-align: left
  width: 920px
  padding: 120px 82px 0
  p
    padding-right: 15px
    :color #32401a
    margin-top: 10px
    &.intro-title
      font-size: 38px
      line-height: 1em
      font-weight: bold
      margin: 10px 0 0 0
    &.intro-text    
      font-size: 2em
      margin: 12px 0 50px 0
      line-height: 1.2em
      width: 548px
    &.actions
      :margin-top 3em
      :text-align center
      span
        margin-right: 1em
      
  #workflow
    background: transparent url(/images/workflow.png) no-repeat 0 0
    width: 807px
    height: 150px
    text-indent: -9999px
    list-style: none
    margin: 40px 0 0 -6px
    padding: 0 0 50px 0
    border-bottom: 1px solid !divider_colour
  
  #testimonials
    h2
      width: 500px
      float: left
    
    .try-button
      margin: 30px 126px 0 0
      float: right
      height: 41px
      
    .listing
      clear: both
      list-style: none
      overflow: auto
      margin: 0
      padding: 0
    
      li 
        width: 248px
        float: left
        margin-right: 26px
      
      .body
        p
          color: #676767
    
.section
  text-align: left
  margin: 0
  padding: 0
  h1
    :font-weight normal
    :color #32401a

.tour-section
  width: 700px
  padding-top: 10px
  margin-left: 10px
  margin-bottom: 60px
  margin-right: 10px
  margin-top: 10px
  text-align: justify

  img, .object
    width: 700px
    border: 5px solid #eee
    padding: 3px
    @include border_radius(3px)

#footer
  padding: 0
  margin: 0px
  color: black
  width: !container_width
  margin: 60px auto 0
  overflow: auto
  .twitter-button
    @include border_radius(6px)
    :padding 10px 40px
    :text-align center
    :background-color #d9d9d9
    :color = !text_color
    :font-weight normal
    :float right
    :display block
    &:hover
      :background-color #bbb
      :text-decoration none
  p
    color: black
    font-size: 12px

  a
    text-decoration: none
    color: black

    &:hover
      text-decoration: underline

  #footer-content
    border-top: 1px solid !divider_colour  
    margin: 0 82px
      
  #footer-content-left
    text-align: left
    padding: 20px 0 20px
    float: left
    p
      margin: 0
    a
      font-weight: normal

  #footer-content-right
    text-align: right
    padding: 15px 0 0 10px
    float: right
    width: 170px
    p
      margin: 0
    p.right
      text-align: right
    span.text
      display: block
      float: left
      margin-top: 5px

    
.spacer
  height: 20px


.line-width
  :width 55em
  h2
    :margin .8em 0 .4em 0

.button-ideapi
  :background #b3d335
  :color #fff
  :cursor pointer
  @border_radius(6px)
  :padding 0.5em 1em 0.5em 1em  
  :font-weight normal
  &:hover
    :background #32401a
    :color white
    :cursor pointer
    :text-decoration none
    
span.right
  display: block
  float: right
span.left
  display: block
  float: left
  

// ACCOUNT MENU
#account-menu
  position: absolute
  top: 0
  right: 76px
  background: #7E9D3A
  padding: 0 18px 5px 20px
  @include bottom_left_border_radius(15px)
  @include bottom_right_border_radius(3px)
  z-index: !z_index_lvl_3
  
  &.logged-in
    ol, ul
      list-style: none
      padding: 0
  
  &.active #account-button
    color: !link_hover_colour
    background: url("/images/close.png") no-repeat scroll right -25px transparent
    padding-right: 14px
    
    &:hover
      color: #444
      background-position: right 5px

  #account-button
    outline: none
    color: !nav_default_txt
    float: right
    margin-top: 1px
    &:hover
      color: !link_hover_colour
      text-decoration: none
    
  
  #account-contents
    display: none
    clear: both
    border: none
    padding: 10px 0 10px 0
    margin: 0
    text-align: right
          
    font-size: 0.9em
        
    legend
      display: none

    ol, ul
      list-style: none
      margin: 0
      padding: 0
          
      li  
        input
          width: 100px
          height: 10px      
        
        a
          color: !nav_default_txt

          &:hover
            text-decoration: none
          
        &.logout-link
          border-top: 1px solid #666
          margin-top: 5px
          
    .submit
      background: url("/images/ui/button_background.png") repeat-x scroll 0 0 transparent
      border: 1px solid #688924
      color: #EEEEEE
      height: 25px
      line-height: 1em
      margin-top: 10px
      padding-bottom: 2px  

  
#promo-video
  z-index: 0
  position: block
  background-color: #000
  width: 795px
  height: 417px
  text-align: center
  object
    position: block
    z-index: 0
    
.infield-labels
  li
    position: relative
  label
    position: absolute
    top: 0
    left: 0
    padding: 1px 4px
    color: #999