/* variables */

/* mixins */
@mixin test{
  border: 1px solid pink;
}


/* Homepage */
.home-page .try-button.primary {
  top: 148px;
}

/* Account menu */
#account-menu {
  &.active #account-button {  
    background-position: right -26px

    &:hover {
      background-position: right 6px
    }
  }
}
