
/* Colours
  link-colour   = #2b3087

!link_colour        = #b3d335
!link_hover_colour  = #32401a
!link_pink          = #32401a
!off_white          = #fcfcfc
!link_header        = #eeeeee
!link_purple        = #2b3087
!text_color1        = #32401a
!body_bg            = #fff
!bright_green       = #b3d335

!nav_default_bg  = #32401a
!nav_default_txt = #fff
!nav_current_bg  = #b3d335
!nav_current_txt = #fff

!text_color = #333



/* Mixins */ 
/* Mixins */ 

=rounded-top-3px
  :-moz-border-radius-topleft 3px
  :-webkit-border-top-left-radius 3px
  :-moz-border-radius-topright 3px
  :-webkit-border-top-right-radius 3px
  :border-top-left-radius 3px
  :border-top-right-radius 3px
  
=rounded-top-6px
  :-moz-border-radius-topright 6px
  :-webkit-border-top-right-radius 6px
  :-moz-border-radius-topleft 6px
  :-webkit-border-top-left-radius 6px
  :border-top-left-radius 6px
  :border-top-right-radius 6px
  
=rounded-all-6px
  :-moz-border-radius 6px
  :-webkit-border-radius 6px
  :border-radius 6px
  
=rounded-all-3px
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :border-radius 3px

body
  background-color: !body_bg
  text-align: justify
  color: #4c4c4c
  padding: 0px
  margin: 0px
  line-height: 20px
  font-size: 12px
  font-family: "Lucida Grande", Verdana, Arial, sans-serif


h1
  font-size: 20px
  margin-bottom: 1em


h2
  font-size: 16px


a
  color: #4c4c4c
  text-decoration: none
  font-weight: bold
  &:hover
    text-decoration: underline
img
  border: none


#container
  padding: 0px
  margin: 0px
  width: 100%
  text-align: center
  position: relative

#banner
  background-color: white
  padding: 0px
  margin: auto
  height: 100px
  width: 920px
  border-bottom: 3px solid
  border-color = !bright_green
  position: relative
  
  #header
    width: 920px
    margin-right: auto
    margin-left: auto
    :position relative
    
    #logo
      padding-left: 10px
      padding-bottom: 15px
      padding-right: 15px
      padding-top: 15px
      margin-top: 15px
      float: left
      color: white
      text-align: left
      width: 470px
        
    ul.navigation
      :padding-top 12px
      :padding-bottom 1px
      :margin-top 65px
      :float right
      :width 300px  
      :z-index 100
      :text-align right

      li
        :display inline
        :padding 0
        :margin 0

        span
          +rounded-top-3px

        a, span
          :color = !nav_default_txt
          :font-weight normal
          :font-size 1.2em
          :padding 5px 0.8em 5px 0.8em
          +rounded-top-3px
          :background = !nav_default_bg

          
        a:hover, span.current
          :text-decoration none
          +rounded-top-3px
          :background = !nav_current_bg
          :color = !nav_current_txt
          
        a:focus, a:active
          +rounded-top-3px
          :top 1px
          :background #b3d335

     


#middle-section
  background-color: white
  width: 100%
  clear: both
  


#content
  background-color: white
  margin-right: auto
  margin-left: auto
  text-align: left
  width: 920px
  padding: 10px
  p
    font-family: Georgia, Palatino, serif
    font-size: 1.3em
    padding-right: 15px
    :color #32401a
    margin-top: 10px
    &.intro-title
      font-size: 38px
      font-family: Helvetica, Arial, sans-serif       
      line-height: 1em
      font-weight: bold
      margin: 10px 0 0 0
    &.intro-text
      font-style: italic
      font-size: 1.7em
      margin: 12px 0 0 0
      line-height: 1.2em
    &.actions
      :margin-top 3em
      :text-align center
      span
        margin-right: 1em
  ul
    li
      font-family: Georgia, Palatino, serif
      font-size: 1.3em
      line-height: 1.4em
  

.section
  text-align: left
  margin: 0
  padding: 0
  h1
    :font-weight normal
    :color #32401a

.tour-section
  width: 700px
  padding-top: 10px
  margin-left: 10px
  margin-bottom: 60px
  margin-right: 10px
  margin-top: 10px
  text-align: justify

  img, .object
    width: 700px
    border: 5px solid #eee
    padding: 3px
    +rounded-all-3px

#footer
  padding: 0
  margin: 0px
  color: black
  :width 920px
  :margin auto
  :border-top = 3px "solid" !bright_green
  .twitter-button
    +rounded-all-6px
    :padding 10px 40px
    :text-align center
    :background-color #d9d9d9
    :color = !text_color
    :font-weight normal
    :float right
    :display block
    &:hover
      :background-color #bbb
      :text-decoration none
  p
    color: black
    font-size: 12px

  a
    text-decoration: none
    color: black

    &:hover
      text-decoration: underline



  #footer-content-left
    text-align: left
    padding: 10px 0
    float: left
    p
      margin: 0
    a
      font-weight: normal

  #footer-content-right
    text-align: right
    padding: 10px 0 10px 10px
    float: right
    width: 170px
    p
      margin: 0
    p.right
      text-align: right
    span.text
      display: block
      float: left


  #footer-content
    margin-right: auto
    margin-left: auto
    :width 920px

    
.spacer
  height: 20px


.line-width
  :width 55em
  h2
    :margin .8em 0 .4em 0

.button-ideapi
  :background #b3d335
  :color #fff
  :cursor pointer
  +rounded-all-6px
  :padding 0.5em 1em 0.5em 1em
  :font-family Helvetica, Arial, sans-serif
  :font-weight normal
  &:hover
    :background #32401a
    :color white
    :cursor pointer
    :text-decoration none
    
span.right
  display: block
  float: right
span.left
  display: block
  float: left
  

// ACCOUNT MENU

#account-menu
  position: absolute
  top: 20px
  right: 0px
  font-size: 0.9em
#account-button
  display: block
  float: right
  margin-left: 10px
  background: url('/images/ui/accountbutton_bg.png') no-repeat 0 0
  height: 23px
  padding: 0 10px
  color: #333
  margin-right: 24px
  .end
    width: 25px
    height: 23px
    position: absolute
    top: 0
    right: 0
    margin-left: 5px
    background: url('/images/ui/accountbutton_bg.png') no-repeat top right
  &.active
    background: url('/images/ui/accountbutton_bg.png') no-repeat bottom left
    .end
      background: url('/images/ui/accountbutton_bg.png') no-repeat bottom right
#account-form, #account-links
  display: none
  position: absolute
  z-index: 30
  top: 25px
  right: 0
  padding: 5px 10px 10px 10px
  +rounded-all-3px
  text-align: left
  border: 1px solid #ccc
  background: #defba4
  width: 200px
  h2
    font-size: 1.2em
  label
    display: none
  #user_session_email, #user_session_password
    background-color: #fff
    margin: 6px 0
    padding: 0 3px
    border: 1px solid #ccc
    width: 190px
    height: 26px
    font-size: 1.2em
    color: #777
    -webkit-box-shadow: 0px 0px 1px #aaa
  #user_session_email.empty
    background: #fff url('/images/ui/account-form-labels.png') no-repeat top left
  #user_session_password.empty
    background: #fff url('/images/ui/account-form-labels.png') no-repeat bottom left
  input.submit
    margin-top: 10px
    padding: auto 10px
    background: url('/images/ui/button_background.png') repeat-x
    +rounded-all-3px
    border: 1px solid #688924
    height: 35px
    color: #eee
    &:active
      :background-position bottom left
#account-links
  background-color: #eee
  text-align: right
  width: 150px
  a
    display: block
#account_logout
  display: block
  
#promo-video
  z-index: 0
  position: block
  object
    position: block
    z-index: 0