/* variables */

/* mixins */
@mixin test{
  border: 1px solid pink;
}


/* Homepage */
.home-page .try-button-primary {
  top: 148px;
}

/* Navigation */
ul.navigation li {
  a, span {
    padding-top: 10px;
    padding-bottom: 10px;
  }
} 

/* Account menu */
#account-menu {
  padding-bottom: 5px;

  fieldset#account-contents {
    padding-bottom: 0;
    margin-bottom: -10px;
  }
}

/* Content */
#content #testimonials {
  h2 {
    padding-top: 25px;
  }
  .listing {
    margin-top: 40px;
  }
}

#content #homepage-footer #testimonials .body {
  margin-top: 15px;
}
#content #homepage-footer ul {
  border: 1px solid #000
}
#content #homepage-footer ul li {
  width: 150px !important
  padding-left: 40px
}
/* FAQ */
.faq-page #contents {
  padding: 20px 5px 5px;
}

/* Blog */

.blog {
  #sidebar {
    h1 {
      margin-top: 20px;
    }
    .social-links {
      margin-top: 15px;
    }
  }
}

/* Footer */
#footer #footer-content-right .social-links {
  margin-top: 3px;
}
