/* Colours
 * link-colour   = #2b3087 */
/* Mixins */
body {
  background-color: !body_bg;
  text-align: justify;
  color: #4c4c4c;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  font-size: 12px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

h1 {
  font-size: 20px;
  margin-bottom: 1em; }

h2 {
  font-size: 16px; }

a {
  color: #4c4c4c;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

#container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center; }

#banner {
  background-color: white;
  padding: 0px;
  margin: auto;
  height: 100px;
  width: 920px;
  border-bottom: 3px solid;
  border-color: #b3d335; }
  #banner #header {
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    position: relative; }
    #banner #header #logo {
      padding-left: 10px;
      padding-bottom: 15px;
      padding-right: 15px;
      padding-top: 15px;
      margin-top: 15px;
      float: left;
      color: white;
      text-align: left;
      width: 470px; }
    #banner #header ul.navigation {
      padding-top: 1em;
      padding-bottom: 0.1em;
      margin-top: 65px;
      float: right;
      width: 300px;
      right: 0;
      z-index: 100;
      text-align: right; }
      #banner #header ul.navigation li {
        display: inline; }
        #banner #header ul.navigation li span {
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px; }
        #banner #header ul.navigation li a, #banner #header ul.navigation li span {
          color: white;
          font-weight: normal;
          padding: 0.5em 0.8em 0.5em 0.8em;
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          background: #32401a; }
        #banner #header ul.navigation li a:hover, #banner #header ul.navigation li span.current {
          text-decoration: none;
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          background: #b3d335;
          color: white;
          height: 50px; }
        #banner #header ul.navigation li a:focus, #banner #header ul.navigation li a:active {
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          top: 1px;
          background: #b3d335; }

#middle-section {
  background-color: white;
  width: 100%;
  clear: both; }

#content {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 920px;
  padding: 10px; }

.section {
  text-align: left;
  margin: 0;
  padding: 0; }
  .section p {
    font-family: 'Garamond', 'Georgia', 'Palatino Linotype', serif;
    font-size: 1.2em;
    padding-right: 15px; }

.tour-section {
  width: 700px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: justify; }
  .tour-section img {
    width: 700px; }

#footer {
  height: 200px;
  padding: 0px;
  margin: 0px;
  color: black;
  width: 920px;
  margin: auto;
  border-top: 3px solid #b3d335; }
  #footer p {
    color: black;
    font-size: 12px; }
  #footer a {
    text-decoration: none;
    color: black; }
    #footer a:hover {
      text-decoration: underline; }
  #footer #footer-content-left {
    text-align: left;
    padding: 10px;
    float: left;
    width: 400px; }
  #footer #footer-content-right {
    text-align: right;
    padding: 10px;
    float: right;
    width: 300px; }
    #footer #footer-content-right p.right {
      text-align: right; }
  #footer #footer-content {
    margin-right: auto;
    margin-left: auto;
    width: 920px; }

.spacer {
  height: 20px; }

.twitter-button {
  width: 214px;
  padding: 5px 20px;
  text-align: center;
  background-color: #d9d9d9;
  color: #333333;
  float: right;
  display: block; }
