#header
  - if (flash[:error])
    %p.flash.error=flash[:error]
  - elsif (flash[:notice])
    %p.flash.notice=flash[:notice]

  - if logged_in?
    = render :partial => 'partials/top_menu'
    = render :partial => 'partials/logo'
    %ul.navigation
      %li.page-help
        %a{:href => 'javascript:void(0)', :class => 'toggle-page-help current'}
          %span help
      %li=link_unless_current 'documents', '/documents'
      -if current_user && current_user_can_create_documents?
        %li=link_unless_current 'templates', template_documents_path
      - if current_account.admin?(current_user)
        %li= link_unless_current 'ideas', proposals_path
      %li=link_unless_current 'contacts', users_path
