#page-help
  .blind.clearfix
    .right-column
      :markdown
        <a href="http://getsatisfaction.com/ideapi"><img src="/images/resources/getsatisfaction2.png" alt="GetSatisfaction" /></a>

        Got a question? Need support? Want to give feedback? Visit our [GetSatisfaction community](http://getsatisfaction.com/ideapi), or try our [FAQs](#).
        

        
    = yield :page_help
    
