#textile-help-box
  .side_box
    %h2
      Formatting help
      = link_to '+', '#', :class => "help-toggle"
    .contents
      %ul.textile-help
        %li
          .html
            h1. Header
            %h1 &rarr; Header 
            %br
        %li
          .html
            h2. Header
            %h2 &rarr; Header 
            %br
        %li
          .html
            *Bold* &rarr; 
            %strong Bold 
            %br
        %li
          .html
            _Italic_ &rarr;
            %em Italic 
            %br
            %br
        %li
          .html
            * Bulleted List
            %br
            * Bulleted List
            %br
            %ul.normal
              %li Bulleted list
              %li Bulleted list
            %br
        %li
          .html
            \# Numbered List
            %br
            \# Numbered List
            %br
            %ol
              %li Numbered list
              %li Numbered list
              %br
        %li
          .html
            bq. Block &rarr; 
            %br
            %blockquote Blockquote
            %br
        %li
          .html
            Add a link:
            %br
            "ideapi":http://ideapi.com
            %br
            &rarr; 
            =link_to "Link to ideapi.com", "http://ideapi.com"
            %br
            %br
        %li
          .html
            Add an image:
            %br
            !http://image_url!
            %br
            %br
        %li
          .html
            Create a table:
            %br
            ="|_. Heading |_. Heading |"
            %br
            ="| Cell | Cell |"
            %br
            %br