body {
  color: #333;
  background-color: #eee; }

div#container {
  margin: 2em auto; }
div#header {
  color: inherit;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-width: 0 2px 2px 0; }
div#header-in {
  padding: 20px; }
div#content-wrap {
  padding: 10px 0; }
div.content {
  color: inherit;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-width: 0 2px 2px 0;
  width: 65%; }
div.content-in {
  padding: 20px; }
div.column {
  width: 33%;
  color: inherit;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-width: 0 2px 2px 0; }
div.column-in {
  padding: 20px; }
div#footer {
  color: inherit;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-width: 0 2px 2px 0; }
div#footer-in {
  padding: 20px; }

h2 {
  margin-bottom: 1em; }

.brief_section {
  border-bottom: 1px solid #eee; }
  .brief_section h3 {
    background: #333;
    color: #ddd;
    padding: 0.2em 0.5em;
    border: 1px solid #333; }
  .brief_section li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: 20px 1em;
    position: relative; }
    .brief_section li .brief_question {
      width: 39%;
      float: left; }
      .brief_section li .brief_question .brief_question_help {
        border: 1px solid red;
        position: absolute;
        top: 12px;
        right: -335px;
        width: 275px;
        color: inherit;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-width: 0 2px 2px 0;
        padding: 10px; }
    .brief_section li .brief_answer {
      width: 59%;
      float: right; }
      .brief_section li .brief_answer textarea {
        width: 100%;
        height: 5em; }

.quick_update {
  margin: 1em 0; }

.briefs_list {
  margin-bottom: 2em; }

table {
  margin-bottom: 1em; }
  table tr {
    background: #eee; }
    table tr td, table tr th {
      padding: 0.5em 0em 0.5em 1em;
      border-bottom: 1px solid #ddd; }
    table tr th {
      background: #ccc; }
  table tr:hover {
    background: #ddd; }

input, textarea {
  border: 1px solid #ccc;
  padding: 0.2em 0.3em; }

input.submit {
  padding: 0.2em 1em;
  border: 4px solid #ccc;
  float: right; }

input.submit:hover {
  background: #333;
  color: #ddd; }

form p label {
  margin-right: 1em;
  line-height: 1.1em;
  width: 8em; }

.clear {
  clear: both; }

hr {
  margin: 4em  0 2em 0; }


#comments {
  width: 400px;
  margin: 0 auto; }
  #comments .new_comment textarea {
    width: 390px;
    min-height: 40px;
    height: 50px; }
  #comments .comment {
    border-bottom: 1.5px solid #eee;
    border-right: 1.5px solid #eee;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background: #fafafa; }

p#user_info {
  text-align: right; }
