
.asmSelect {
  display: inline; }

.asmOptionDisabled {
  color: #999; }

.asmHighlight {
  padding: 0;
  margin: 0 0 0 1em; }

.asmList {
  margin: 1em 0 1em 85px;
  position: relative;
  display: block;
  padding-left: 0;
  list-style: none;
  width: 370px; }

.asmListItem {
  position: relative;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  background: #eee;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 0 -1px 0;
  line-height: 1em;
  font-size: 0.85em; }
  .asmListItem:hover {
    background-color: #e5e5e5; }

.asmListItemLabel {
  padding: 5px;
  display: block; }

.asmListSortable .asmListItemLabel {
  cursor: move; }

.asmListItemRemove {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px; }
