html, body, div, span, applet, object, iframe {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0; }

h1 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 3em; }

h2 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 2.5em; }

h3 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 2em; }

h4 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1.6em; }

h5 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1.2em; }

h6 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1em; }

p {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.5em 0 1em 0;
  line-height: 1.5em; }

blockquote {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  quotes: "" ""; }
  blockquote p {
    margin: 0;
    padding: 0.8em;
    color: #666666;
    background: inherit; }

pre {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  pre strong {
    color: #cc3333;
    background: inherit; }

a {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  color: #0066ff;
  background-color: inherit;
  text-decoration: underline; }
  a:visited {
    color: #454545;
    background: inherit; }
  a:hover {
    color: #222222;
    background: inherit; }
  a:active {
    color: #333333;
    background: inherit; }

abbr {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-size: 0.9em;
  text-transform: uppercase;
  border-bottom: 1px dashed #dddddd;
  cursor: help; }

acronym {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

address, big {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

cite {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-style: italic; }

code {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  code strong {
    color: #cc3333;
    background: inherit; }

del {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  color: #888888;
  background-color: inherit;
  text-decoration: line-through; }

dfn {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

em {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-style: italic; }

font, img, ins, kbd {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

q {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  quotes: "" ""; }
  q p {
    margin: 0;
    padding: 0.8em;
    color: #666666;
    background: inherit; }

s {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  text-decoration: line-through; }

samp, small {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

strike {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  text-decoration: line-through; }

strong {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold; }

sub {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

sup {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

tt {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

var {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  var strong {
    color: #cc3333;
    background: inherit; }

dl {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

dt {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em;
  list-style-type: decimal;
  list-style-position: outside; }

ul {
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em; }

fieldset {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  border: 0; }

form {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

label {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  display: block;
  float: left;
  padding: 3px;
  font-weight: bold; }
  label.xs {
    width: 50px; }
  label.s {
    width: 100px; }
  label.m {
    width: 150px; }
  label.l {
    width: 200px; }
  label.xl {
    width: 250px; }

legend {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

table {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  border-collapse: separate;
  border-spacing: 0; }
  table th {
    font-weight: bold; }

caption, tbody, tfoot, thead, tr, th, td, .x, * {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline; }

* {
  margin: 0;
  padding: 0; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  color: #aaaaaa;
  background: #aaaaaa;
  border: none; }

.hide {
  display: none; }

.inline {
  display: inline; }

.block {
  display: block; }

.nfloat {
  float: none; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.clear {
  clear: both; }

.lclear {
  clear: left; }

.rclear {
  clear: right; }

.navigation {
  list-style: none; }
  .navigation li {
    display: inline; }

.debug {
  border: 1px solid red; }

.monospace {
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  .monospace strong {
    color: #cc3333;
    background: inherit; }

i {
  font-style: italic; }

u {
  text-decoration: underline;
  text-decoration: underline; }

.u {
  text-decoration: underline; }

.input {
  clear: left; }

input.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
input.xs {
  width: 20px; }
input.s {
  width: 50px; }
input.m {
  width: 125px; }
input.l {
  width: 200px; }
input.xl {
  width: 300px; }

textarea.default, select.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }

button {
  padding: 2px 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  text-align: center;
  border: 0;
  cursor: pointer; }
  button.xs {
    width: 15px; }
  button.s {
    width: 30px; }
  button.m {
    width: 50px; }
  button.l {
    width: 80px; }
  button.xl {
    width: 120px; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }


a:link, a:visited {
  color: #552200;
  background: transparent;
  font-weight: bold;
  text-decoration: underline; }

body {
  font-size: 62.5%; }

div.document, #footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

ul {
  list-style: disc;
  list-style-position: inside;
  padding: 0;
  font-size: 1.2em; }
  ul li {
    margin-left: 0.1em;
    font-size: 1em; }

.document {
  padding: 1em 4em; }
  .document h2 {
    border-bottom: 4px solid #333333; }
  .document .most_important_thing {
    font-size: 2em;
    padding: 1em 1em 0 1em; }
    .document .most_important_thing p {
      font-weight: bold; }
  .document img {
    display: block;
    border: 5px solid #dddddd;
    margin: auto;
    max-width: 570px; }
  .document p {
    font-size: 1.2em; }
  .document .document_item {
    padding: 1em; }
    .document .document_item h3 {
      border-bottom: 1px solid #aaaaaa; }
    .document .document_item .body {
      padding: 0; }
    .document .document_item .actions {
      display: none; }
    .document .document_item .document_item_history {
      padding: 0 2em; }
      .document .document_item .document_item_history .question {
        margin: 0.5em 1em;
        padding: 0 1em;
        border-bottom: 1px dashed #aaaaaa; }
        .document .document_item .document_item_history .question .question_body span.speech {
          font-style: italic; }
      .document .document_item .document_item_history p.updated {
        border-bottom: 1px solid #cccccc;
        font-size: 1em;
        text-transform: uppercase;
        text-align: right; }
        .document .document_item .document_item_history p.updated span {
          color: #aaaaaa; }

.col_2 {
  display: none; }

#header, .feedback_form {
  display: none; }

a[href='#'] {
  display: none; }

.avatar {
  display: none; }

form {
  display: none; }

#footer {
  margin: 1em auto;
  max-width: 600px;
  padding: 1em 0;
  border-top: 1px solid #cccccc; }
  #footer p {
    font-size: 1.1em; }
  #footer img {
    display: block;
    float: left;
    margin-right: 5px; }
table{
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0px 0px 1px; }
  th{ 
    background-color: #eee; }
  td, th{
    padding: 0.2em 0.5em;
    border-color: #ccc;
    border-style: solid;
    border-width: 0 1px 1px 0; }
