/* Initialize variables */
/* Mixins */
/* Colours */
/* Importing partials / snippets */
html, body, div, span, applet, object, iframe {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0; }

h1 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 3em; }

h2 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 2.5em; }

h3 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 2em; }

h4 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1.6em; }

h5 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1.2em; }

h6 {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold;
  font-size: 1em; }

p {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.5em 0 1em 0;
  line-height: 1.5em; }

blockquote {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  quotes: "" ""; }
  blockquote p {
    margin: 0;
    padding: 0.8em;
    color: #666666;
    background: inherit; }

pre {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  pre strong {
    color: #cc3333;
    background: inherit; }

a {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  color: #0066ff;
  background-color: inherit;
  text-decoration: underline; }
  a:visited {
    color: #454545;
    background: inherit; }
  a:hover {
    color: #222222;
    background: inherit; }
  a:active {
    color: #333333;
    background: inherit; }

abbr {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-size: 0.9em;
  text-transform: uppercase;
  border-bottom: 1px dashed #dddddd;
  cursor: help; }

acronym {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

address, big {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

cite {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-style: italic; }

code {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  code strong {
    color: #cc3333;
    background: inherit; }

del {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  color: #888888;
  background-color: inherit;
  text-decoration: line-through; }

dfn {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

em {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-style: italic; }

font, img, ins, kbd {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

q {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  quotes: "" ""; }
  q p {
    margin: 0;
    padding: 0.8em;
    color: #666666;
    background: inherit; }

s {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  text-decoration: line-through; }

samp, small {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

strike {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  text-decoration: line-through; }

strong {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold; }

sub {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

sup {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

tt {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

var {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  var strong {
    color: #cc3333;
    background: inherit; }

dl {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

dt {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em;
  list-style-type: decimal;
  list-style-position: outside; }

ul {
  outline: none;
  list-style-position: outside;
  list-style: none;
  line-height: 1.5em; }

fieldset {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  border: 0; }

form {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

label {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  display: block;
  float: left;
  padding: 3px;
  font-weight: bold; }
  label.xs {
    width: 50px; }
  label.s {
    width: 100px; }
  label.m {
    width: 150px; }
  label.l {
    width: 200px; }
  label.xl {
    width: 250px; }

legend {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none; }

table {
  margin: 0;
  padding: 0;
  color: #333333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: none;
  border-collapse: separate;
  border-spacing: 0; }
  table th {
    font-weight: bold; }

caption, tbody, tfoot, thead, tr, th, td, .x, * {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline; }

* {
  margin: 0;
  padding: 0; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  color: #aaaaaa;
  background: #aaaaaa;
  border: none; }

.hide {
  display: none; }

.inline {
  display: inline; }

.block {
  display: block; }

.nfloat {
  float: none; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.clear {
  clear: both; }

.lclear {
  clear: left; }

.rclear {
  clear: right; }

.navigation {
  list-style: none; }
  .navigation li {
    display: inline; }

.debug {
  border: 1px solid red; }

.monospace {
  margin: 0.8em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.5em; }
  .monospace strong {
    color: #cc3333;
    background: inherit; }

i {
  font-style: italic; }

u {
  text-decoration: underline;
  text-decoration: underline; }

.u {
  text-decoration: underline; }

.input {
  clear: left; }

input.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }
input.xs {
  width: 20px; }
input.s {
  width: 50px; }
input.m {
  width: 125px; }
input.l {
  width: 200px; }
input.xl {
  width: 300px; }

textarea.default, select.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaaaaa;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd; }

button {
  padding: 2px 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  text-align: center;
  border: 0;
  cursor: pointer; }
  button.xs {
    width: 15px; }
  button.s {
    width: 30px; }
  button.m {
    width: 50px; }
  button.l {
    width: 80px; }
  button.xl {
    width: 120px; }

#beta_feedback {
  background: white;
  background: #fefefe;
  min-width: 980px;
  width: 100%; }
  #beta_feedback .title {
    background: #333333;
    padding: 1em; }
    #beta_feedback .title h2 {
      color: white;
      font-size: 1.4em;
      width: 65em;
      margin: 0 auto; }
      #beta_feedback .title h2 span {
        padding-left: 1em;
        font-size: 0.8em;
        color: #aaaaaa; }
        #beta_feedback .title h2 span a {
          color: #eeeeee;
          font-weight: bold; }
        #beta_feedback .title h2 span a:hover {
          color: #b3d335; }
  #beta_feedback h3 {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1em; }
  #beta_feedback .wrap {
    display: none;
    width: 92em;
    margin: 0 auto; }
  #beta_feedback .user_input, #beta_feedback .info {
    padding: 1em 2em;
    background: #ffffdf;
    border: 1px solid #cccccc;
    height: 24em; }
  #beta_feedback .user_input {
    float: left;
    margin: 2em 0 2em 2em;
    border-right: none; }
    #beta_feedback .user_input textarea {
      height: 10em; }
    #beta_feedback .user_input p.submit {
      text-align: right; }
  #beta_feedback .info {
    float: left;
    margin: 2em 2em 2em 0;
    border-left: none; }
    #beta_feedback .info p {
      font-size: 1.2em; }
    #beta_feedback .info ul {
      padding: 0 3em 1em 3em; }
      #beta_feedback .info ul li {
        list-style: disc; }

#header {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background: white;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  position: relative;
  border-bottom: 2px solid #b3d335;
  padding: 1em 1em 0 1em; }

#logo {
  float: left; }

#top-menu {
  color: #888888;
  text-align: right; }
  #top-menu span.current {
    color: #32401a;
    font-weight: bold; }
  #top-menu a {
    -webkit-transition-property: background-color, color, border-color, opacity, background-image;
    -webkit-transition-duration: 400ms;
    -moz-transition-property: background-color, color, border-color, opacity;
    -moz-transition-duration: 400ms;
    -o-transition-property: background-color, color, border-color, opacity;
    -o-transition-duration: 400ms;
    transition-property: background-color, color, border-color, opacity;
    transition-duration: 400ms; }
    #top-menu a:visited {
      color: #b3d335; }
    #top-menu a:hover {
      color: #32401a; }
  #top-menu .name {
    color: #333333;
    font-weight: bold;
    padding: 2px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

ul.navigation {
  text-align: right;
  padding: 0; }
  ul.navigation li {
    display: inline-block;
    margin: 0; }
    ul.navigation li a, ul.navigation li span.current {
      display: block;
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: #eeeeee;
      font-size: 1.1em;
      height: 24px;
      line-height: 24px;
      font-weight: normal;
      background-color: #32401a;
      background: -webkit-gradient(linear, left top, left bottom, from(#54623c), to(#32401a));
      background: -moz-linear-gradient(top, #54623c, #32401a);
      padding: 3px 0.8em 3px 0.8em; }
    ul.navigation li a:hover {
      background: -webkit-gradient(linear, left top, left bottom, from(#32401a), to(#54623c));
      background: -moz-linear-gradient(top, #32401a, #54623c); }
    ul.navigation li span.current, ul.navigation li a:focus, ul.navigation li a:active {
      -moz-border-radius-topleft: 3px;
      -webkit-border-top-left-radius: 3px;
      -moz-border-radius-topright: 3px;
      -webkit-border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      background: #b3d335;
      background: -webkit-gradient(linear, left top, left bottom, from(#c4e446), to(#a2c224));
      background: -moz-linear-gradient(top, #c4e446, #a2c224);
      color: #fcfcfc; }
    ul.navigation li a.toggle-page-help {
      display: block;
      width: 32px;
      text-align: center;
      padding: 4px 0.5em 2px 0.5em; }
      ul.navigation li a.toggle-page-help.selected {
        background: -webkit-gradient(linear, left top, left bottom, from(#25a2ff), to(#0380ee));
        background: -moz-linear-gradient(top, #25a2ff, #0380ee); }
      ul.navigation li a.toggle-page-help span {
        background: url("/images/ui/help.png") no-repeat 0 0;
        text-indent: -9999px;
        display: block;
        width: 24px;
        margin: auto;
        height: 24px; }

#page-help {
  display: none;
  background: #32401a;
  background: -webkit-gradient(linear, left top, left bottom, from(#32401a), to(#283610));
  background: -moz-linear-gradient(top, #32401a, #283610);
  color: #fcfcfc;
  margin: 0;
  padding: 2em;
  font-size: 1.2em;
  border-top: 1px solid #b3d335;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  #page-help h1, #page-help h2, #page-help h3, #page-help h4, #page-help h5, #page-help h6, #page-help p, #page-help strong, #page-help em {
    color: #fcfcfc; }

.sub_nav, .breadcrumbs {
  display: inline; }
  .sub_nav li, .breadcrumbs li {
    display: inline;
    margin-right: 1em; }

.sub_nav {
  display: block;
  margin: 1em;
  border: 1px solid #ddd;
  background: #eee;
  padding: 1px 5px; }

body {
  font-size: 62.5%;
  text-align: center;
  background: #dddddd; }

a {
  text-decoration: none;
  color: #b3d335;
  font-weight: bold;
  -webkit-transition-property: background-color, color, border-color, opacity, background-image;
  -webkit-transition-duration: 300ms;
  -moz-transition-property: background-color, color, border-color, opacity;
  -moz-transition-duration: 300ms;
  -o-transition-property: background-color, color, border-color, opacity;
  -o-transition-duration: 300ms;
  transition-property: background-color, color, border-color, opacity;
  transition-duration: 300ms; }
  a:hover {
    color: #32401a; }

p {
  margin-bottom: 0.7em;
  line-height: 1.2em; }

h1, h2, h3, h4 {
  font-weight: bold; }

h1 {
  font-size: 1.5em; }

h2 {
  font-size: 1.3em; }

h3 {
  font-size: 1.15em; }

h4 {
  font-size: 1.15em; }

#container {
  width: 94em;
  margin: 1em auto;
  position: relative; }

#content, #header {
  font-size: 1.2em; }

.navigation {
  display: inline; }
  .navigation li {
    display: inline;
    margin-right: 1em; }

.navigation {
  clear: both;
  display: block; }

#content {
  background: #fcfcfc;
  border-top: 1px solid #b3d335;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }
  #content .col_1, #content .col_2 {
    float: left; }
  #content .col_1 {
    width: 600px;
    padding: 1.5em 2em;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 0.8em; }
  #content .col_2 {
    margin-left: 20px;
    width: 200px; }
  #content .brief .edit, #content .brief .inline-edit {
    display: none; }
  #content .brief .actions {
    text-align: right; }
  #content .brief .title {
    margin-bottom: 1em; }

#comments_area {
  margin-top: 3em; }
  #comments_area h4 {
    margin-bottom: 1em; }

.note {
  margin-bottom: 1em;
  padding: 1em 2.5em 1em 1em;
  background: #f4f4f4;
  width: 36em;
  position: relative; }
  .note .hide_message {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    font-weight: normal; }

.clear {
  clear: both; }

.cleft {
  clear: left; }

.cright {
  clear: right; }

.hide {
  display: none; }

.add_collaborators {
  display: none; }
