/* 
 * 1. General
 * 1.1 Forms
 * 1.2 Links
 * 1.3 Type
 * //
 * 2. Masthead
 * 3. Content
 * 4. Footer */
/* 
 * General */
body {
  font-size: 62.5%;
  text-align: center;
  background: #eee; }

/* Colours
 * //
 * link-colour   = #2b3087 */
a {
  text-decoration: none;
  color: #2b3087;
  font-weight: bold; }

a:hover {
  color: #000033;
  text-decoration: underline; }

#container {
  width: 96em;
  margin: 0 auto; }
  #container #header {
    background: #333333;
    height: 8.4em;
    border-bottom: 1px solid #505050;
    padding: 0 2em; }
    #container #header h1 {
      background: url(/images/logo.png) no-repeat;
      width: 83px;
      height: 33px;
      position: relative;
      top: 30px; }
      #container #header h1 a {
        text-indent: -3000px;
        display: block; }
  #container ul.navigation {
    float: right; }
    #container ul.navigation li {
      margin-left: 2em; }
      #container ul.navigation li a {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
        position: relative; }
      #container ul.navigation li a:hover {
        color: #ff0060;
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none; }
      #container ul.navigation li a:focus, #container ul.navigation li a:active {
        top: 1px;
        color: #9f003c; }
  #container #content {
    background: #fffffe; }
    #container #content .title_holder {
      border-bottom: 2px solid #ddd;
      border-top: 1px solid #505050;
      background: #f9f9f9;
      position: relative;
      height: 4.5em;
      padding: 0.6em 2em; }
      #container #content .title_holder h2 {
        float: left; }
      #container #content .title_holder a.button {
        font-size: 1.3em;
        text-transform: uppercase;
        float: right;
        display: block;
        height: 19px;
        background: url(/images/button/bg.png) repeat-x;
        padding: 10px;
        position: relative;
        margin: 0.2em 0.5em 0 2.5em;
        /* applied by javascript */ }
        #container #content .title_holder a.button .btn_left, #container #content .title_holder a.button .btn_right {
          display: block;
          height: 39px;
          width: 18px;
          position: absolute;
          top: 0; }
        #container #content .title_holder a.button .btn_left {
          left: -18px;
          background: url(/images/button/left.png) no-repeat; }
        #container #content .title_holder a.button .btn_right {
          right: -18px;
          background: url(/images/button/right.png) no-repeat; }
    #container #content .main {
      padding: 2em;
      border-bottom: 2px solid #ddd; }

input, textarea, select {
  border: 1px solid #ccc;
  padding: 0.2em 0.3em;
  background: white; }

textarea {
  width: 400px;
  height: 50px; }

input.submit {
  padding: 0.2em 1em;
  border: 4px solid #ccc;
  float: right; }

input.submit:hover {
  background: #333;
  color: #ddd; }

form p label {
  margin-right: 1em;
  line-height: 1.1em;
  width: 8em; }

span.field_with_errors label {
  color: #d81f26; }
span.field_with_errors input {
  background: #d81f26;
  color: white; }
