/* 
 * 1. General
 * 1.1 Forms
 * 1.2 Links
 * 1.3 Type
 * //
 * 2. Masthead
 * 3. Content
 * 4. Footer */
/* 
 * General */
body {
  font-size: 62.5%;
  text-align: center;
  background: #eee; }

/* Colours
 * //
 * link-colour   = #2b3087 */
a {
  text-decoration: none;
  color: #454545;
  font-weight: bold; }

a:hover {
  color: #21286c; }

#container {
  width: 94em;
  margin: 1em auto;
  border: 10px solid #ddd; }
  #container #header {
    background: #222222;
    height: 3.4em;
    border-bottom: 1px solid #505050;
    padding: 0.6em 2em 0 2em; }
    #container #header h1 {
      float: left;
      margin-right: 0.8em;
      font-size: 1.7em;
      line-height: 1em;
      font-weight: 100; }
      #container #header h1 a {
        color: white; }
      #container #header h1 a:hover {
        color: #ed1a62; }
  #container .what_user_is_doing {
    float: left; }
    #container .what_user_is_doing h3 {
      color: white;
      font-size: 1.7em;
      font-weight: 100;
      line-height: 1em; }
      #container .what_user_is_doing h3 a {
        color: #ed1a62; }
      #container .what_user_is_doing h3 a:hover {
        color: #ed1a62; }
  #container ul.navigation {
    float: right;
    padding-top: 0.2em; }
    #container ul.navigation li {
      margin-left: 2em; }
      #container ul.navigation li a, #container ul.navigation li span {
        color: white;
        font-size: 1.5em;
        font-weight: 100;
        position: relative;
        padding: 0 0.2em 0.2em 0.2em; }
      #container ul.navigation li a:hover {
        color: #ed1a62;
        font-size: 1.5em;
        font-weight: 100;
        text-decoration: none; }
      #container ul.navigation li a:focus, #container ul.navigation li a:active {
        top: 1px;
        color: #9f003c; }
      #container ul.navigation li span.current {
        border-bottom: 4px solid #ff0060; }
  #container #content {
    background: #fcfcfc; }
    #container #content p {
      font-size: 1.2em; }
    #container #content .title_holder {
      border-bottom: 2px solid #bbbbbb;
      border-top: 1px solid #505050;
      background: #f9f9f9;
      position: relative;
      height: 4.5em;
      padding: 0.8em 0 0.3em 0; }
      #container #content .title_holder h2 {
        float: left; }
      #container #content .title_holder a.button {
        margin-right: 0.5em; }
      #container #content .title_holder form {
        float: right; }
    #container #content .main {
      padding: 0;
      border-bottom: 2px solid #ddd; }
    #container #content a.button {
      font-size: 1.3em;
      text-transform: uppercase;
      float: right;
      display: block;
      height: 19px;
      background: url(/images/button/bg.png) repeat-x;
      padding: 10px;
      position: relative;
      margin: 0.2em 1em 0 2.5em; }
    #container #content a.button, #container #content .submit_button {
      /* applied by javascript */ }
      #container #content a.button span.btn_left, #container #content a.button span.btn_right,       #container #content .submit_button span.btn_left, #container #content .submit_button span.btn_right {
        display: block;
        height: 39px;
        width: 18px;
        position: absolute;
        top: 0; }
      #container #content a.button .btn_left,       #container #content .submit_button .btn_left {
        left: -18px;
        background: url(/images/button/left.png) no-repeat; }
      #container #content a.button .btn_right,       #container #content .submit_button .btn_right {
        right: -18px;
        background: url(/images/button/right.png) no-repeat; }
    #container #content .sub_nav {
      background: #e9e9e9;
      padding: 0.5em 2em;
      border-bottom: 1px solid #cccccc; }
      #container #content .sub_nav li {
        display: inline;
        margin-right: 2em; }
        #container #content .sub_nav li a, #container #content .sub_nav li span {
          font-size: 1.2em;
          font-weight: bold; }
      #container #content .sub_nav li.secondary {
        float: right;
        margin-left: 2em;
        margin-right: 0; }

input, textarea, select {
  border: 1px solid #ccc;
  padding: 0.2em 0.3em;
  background: white; }

textarea {
  width: 400px;
  height: 50px; }

form p label {
  margin-right: 1em;
  line-height: 1.1em;
  width: 8em; }

span.field_with_errors label {
  color: #d81f26; }
span.field_with_errors input {
  background: #d81f26;
  color: white; }

#container #content h3 span {
  font-size: 0.8em; }
#container #content .col_1 {
  width: 65em;
  padding: 0 2em; }
  #container #content .col_1 .sub_nav {
    border: 1px solid #ccc;
    border-top: 0; }
  #container #content .col_1 h2 {
    padding-top: 0.5em; }
#container #content #dashboard h2.salu {
  padding-bottom: 1em; }
#container #content #dashboard .brief_overviews {
  margin-top: 4em;
  border-top: 1px solid #ccc; }
  #container #content #dashboard .brief_overviews h2 {
    padding: 0;
    font-size: 1.1em;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    margin: -0.8em auto 1.5em auto;
    background: white;
    width: 7.5em;
    color: #454545; }
#container #content .required_actions {
  border: 1px solid #ccc; }
  #container #content .required_actions h3 {
    font-size: 1.7em;
    color: #f9f9f9;
    background: #21286c;
    margin: 0;
    padding: 0.2em 0.5em;
    font-weight: 100;
    border-bottom: 1px solid #ccc; }
  #container #content .required_actions ul li {
    background: #f2f2f2;
    padding: 0.5em 1em; }
    #container #content .required_actions ul li p {
      margin: 0;
      padding: 0; }
#container #content .brief_overview {
  margin: 0 0 2em 0;
  padding: 0;
  border: 1px solid #ccc; }
  #container #content .brief_overview h3 {
    font-size: 1.7em;
    color: #f9f9f9;
    background: #21286c;
    margin: 0;
    padding: 0.2em 0.5em;
    font-weight: 100;
    border-bottom: 1px solid #ccc; }
  #container #content .brief_overview ul li {
    background: #f2f2f2;
    padding: 0.5em 1em; }
    #container #content .brief_overview ul li p {
      margin: 0;
      padding: 0; }
  #container #content .brief_overview .brief {
    border: none;
    margin: 0; }
#container #content .brief_overview.published h3, #container #content .brief_overview.watching h3 {
  background: #29c6cb;
  color: #333333; }
#container #content .brief_overview.draft h3 {
  background: #ddd;
  color: #333; }
#container #content p.most_important_thing {
  font-size: 2.2em;
  font-weight: bold;
  color: #454545;
  padding: 0.5em 1em;
  background: #ffffe0;
  border: 4px solid #dddddd;
  margin: 1em; }
#container #content ul.tabbed_links {
  background: #fffffe;
  border: 1px solid #ccc;
  padding: 0.5em 0;
  height: 22px; }
  #container #content ul.tabbed_links li {
    float: left; }
    #container #content ul.tabbed_links li a, #container #content ul.tabbed_links li span {
      font-size: 1.3em;
      text-transform: uppercase;
      padding: 0.6em 2em;
      background: #eeeeee;
      border: 1px solid #ccc;
      border-left: 0;
      font-weight: normal;
      color: #666; }
    #container #content ul.tabbed_links li span.current, #container #content ul.tabbed_links li a:hover {
      border: 1px solid #21286c;
      border-left: 0;
      background: #21286c;
      color: white; }
    #container #content ul.tabbed_links li a:hover {
      background-color: rgba(33, 40, 108, .9); }
#container #content .brief {
  background: #fffffe;
  margin-bottom: 2em;
  border: 1px solid #ccc;
  border-top: 0; }
  #container #content .brief .brief_item {
    padding: 1em 2em;
    border-bottom: 1px solid #eee;
    position: relative; }
  #container #content .brief .brief_item:hover {
    background: #ffffdf; }
  #container #content .brief .brief_item.extended:hover {
    background: transparent; }
#container #content #edit_brief #edit_brief_details {
  background: #eee;
  padding: 1em 2em;
  border: 1px solid #ccc;
  border-top: 0; }
  #container #content #edit_brief #edit_brief_details h3 {
    padding-bottom: 1em; }
#container #content #edit_brief h3.brief_document {
  padding-top: 0.5em;
  width: 35em; }
#container #content #edit_brief .brief_details, #container #content #edit_brief .brief_items {
  border: 1px solid #ccc;
  padding: 1em;
  background: #f6f6f6;
  margin-top: 3em;
  margin-bottom: 2em; }
  #container #content #edit_brief .brief_details h3,   #container #content #edit_brief .brief_items h3 {
    padding-top: 0; }
  #container #content #edit_brief .brief_details .submit_button input,   #container #content #edit_brief .brief_items .submit_button input {
    top: 12px; }
  #container #content #edit_brief .brief_details label,   #container #content #edit_brief .brief_items label {
    width: 10em; }
  #container #content #edit_brief .brief_details .brief_item,   #container #content #edit_brief .brief_items .brief_item {
    position: relative;
    margin-bottom: 0; }
    #container #content #edit_brief .brief_details .brief_item input[type=text],     #container #content #edit_brief .brief_items .brief_item input[type=text] {
      width: 40em; }
    #container #content #edit_brief .brief_details .brief_item textarea,     #container #content #edit_brief .brief_items .brief_item textarea {
      width: 40em;
      height: 10em;
      max-width: 48em; }
  #container #content #edit_brief .brief_details .help_message,   #container #content #edit_brief .brief_items .help_message {
    width: 20em;
    border: 1px solid #ccc;
    background: rgb(252, 252, 252);
    background: rgba(220, 220, 220, 0.2);
    padding: 1em;
    position: absolute;
    top: 2em;
    left: 45em; }
  #container #content #edit_brief .brief_details a.button,   #container #content #edit_brief .brief_items a.button {
    margin: 0.2em 11em 1em 2.5em; }
#container #content .note {
  padding: 0 2em 0 2em;
  margin: 0.5em 0 0.5em 0;
  line-height: 1.8em; }
#container #content .boom_box {
  border: 1px solid #ccc;
  padding: 1em;
  background: #f6f6f6;
  margin-top: 1em;
  margin-bottom: 2em; }
#container #content .brief_items_by_section {
  position: relative;
  padding-top: 24px; }
  #container #content .brief_items_by_section .brief_item_section_tabbed h3 {
    position: absolute;
    top: 1.3em;
    left: 0;
    font-size: 1.8em;
    border: 1px solid #ccc;
    border-right: 0;
    background: #eee;
    padding: 0.5em 1em 0.5em 1em;
    margin: 0;
    line-height: 0.5em;
    width: 99px;
    text-align: center;
    font-weight: normal; }
  #container #content .brief_items_by_section .brief_item_section_tabbed h3:hover {
    background: #ddd;
    cursor: pointer; }
  #container #content .brief_items_by_section .brief_item_section_tabbed h3.selected {
    background: #21286c;
    color: white; }
#container .show_question_details {
  background: url(/images/tri-down.png) no-repeat 7px right;
  padding-right: 1em; }
#container .search_results {
  padding-top: 1em; }
  #container .search_results ul.brief_list li {
    padding: 1em 2em;
    border-top: 1px solid #ddd; }
#container .avatar {
  border: 6px solid #ddd; }
#container .creative, #container .author {
  padding: 0 0 1em 0;
  position: relative; }
  #container .creative p.edit,   #container .author p.edit {
    position: absolute;
    top: 0;
    right: 1em; }
  #container .creative .avatar,   #container .author .avatar {
    float: left;
    margin-right: 1em; }
#container .hr {
  border-top: 1px solid #bbb;
  border-bottom: 4px solid #eee;
  margin: 4em 0; }

#container #content .question_list li, #container #content .brief_item_history li {
  padding: 0.5em 1em 0 1em; }
#container #content .question_list .creative_question, #container #content .brief_item_history .creative_question {
  margin-bottom: 1em;
  padding: 0 2em; }
  #container #content .question_list .creative_question .question_body .speech,   #container #content .question_list .creative_question .author_answer .speech,   #container #content .question_list .creative_question .author_answer_form .speech,   #container #content .brief_item_history .creative_question .question_body .speech,   #container #content .brief_item_history .creative_question .author_answer .speech,   #container #content .brief_item_history .creative_question .author_answer_form .speech {
    background: #e9e9e8;
    padding: 1em 1em;
    margin: 0;
    width: 34em;
    display: block;
    position: relative; }
  #container #content .question_list .creative_question .question_body .speech,   #container #content .brief_item_history .creative_question .question_body .speech {
    margin-left: 5em; }
    #container #content .question_list .creative_question .question_body .speech span.bubble,     #container #content .brief_item_history .creative_question .question_body .speech span.bubble {
      background: url(/images/speech.png);
      width: 7px;
      height: 16px;
      display: block;
      position: absolute;
      left: -7px;
      top: 40%; }
  #container #content .question_list .creative_question .question_body img,   #container #content .brief_item_history .creative_question .question_body img {
    float: left;
    margin-top: 0.3em; }
  #container #content .question_list .creative_question .author_answer, #container #content .question_list .creative_question .author_answer_form,   #container #content .brief_item_history .creative_question .author_answer, #container #content .brief_item_history .creative_question .author_answer_form {
    padding: 0.5em 0 1em 1.5em; }
    #container #content .question_list .creative_question .author_answer img,     #container #content .question_list .creative_question .author_answer_form img,     #container #content .brief_item_history .creative_question .author_answer img,     #container #content .brief_item_history .creative_question .author_answer_form img {
      float: right; }
    #container #content .question_list .creative_question .author_answer .speech,     #container #content .question_list .creative_question .author_answer_form .speech,     #container #content .brief_item_history .creative_question .author_answer .speech,     #container #content .brief_item_history .creative_question .author_answer_form .speech {
      margin-left: 1.5em;
      width: 42em;
      margin-bottom: 1em;
      padding: 0.5em 1em 0.1em 1em; }
      #container #content .question_list .creative_question .author_answer .speech p,       #container #content .question_list .creative_question .author_answer_form .speech p,       #container #content .brief_item_history .creative_question .author_answer .speech p,       #container #content .brief_item_history .creative_question .author_answer_form .speech p {
        padding: 0 0.5em; }
      #container #content .question_list .creative_question .author_answer .speech textarea,       #container #content .question_list .creative_question .author_answer_form .speech textarea,       #container #content .brief_item_history .creative_question .author_answer .speech textarea,       #container #content .brief_item_history .creative_question .author_answer_form .speech textarea {
        width: 41em;
        margin-bottom: 0.5em;
        resize: none; }
      #container #content .question_list .creative_question .author_answer .speech span.bubble,       #container #content .question_list .creative_question .author_answer_form .speech span.bubble,       #container #content .brief_item_history .creative_question .author_answer .speech span.bubble,       #container #content .brief_item_history .creative_question .author_answer_form .speech span.bubble {
        background: transparent url(/images/speech.png) 8px 0;
        width: 8px;
        height: 16px;
        display: block;
        position: absolute;
        top: 40%;
        right: -8px; }
    #container #content .question_list .creative_question .author_answer p.submit,     #container #content .question_list .creative_question .author_answer_form p.submit,     #container #content .brief_item_history .creative_question .author_answer p.submit,     #container #content .brief_item_history .creative_question .author_answer_form p.submit {
      margin-right: 6em; }
  #container #content .question_list .creative_question .show_author_answer_form,   #container #content .brief_item_history .creative_question .show_author_answer_form {
    position: absolute;
    top: 2.5em;
    right: 1.5em; }
#container #content .brief_item_history {
  margin-top: 3em;
  border-top: 1px solid #eee;
  padding-top: 1em; }
  #container #content .brief_item_history .revision {
    border-top: 1px solid #eee;
    margin-top: 2em;
    padding: 0;
    position: relative;
    margin-bottom: 2em; }
    #container #content .brief_item_history .revision h5 {
      background: #e9e9e8;
      max-width: 8em;
      padding: 0.5em 1em;
      text-align: center;
      margin-top: -1.3em;
      text-transform: uppercase;
      font-size: 0.8em; }
    #container #content .brief_item_history .revision h5:hover {
      background: #ccc;
      cursor: pointer; }
    #container #content .brief_item_history .revision p.updated_at {
      position: absolute;
      top: -1.3em;
      right: 0;
      font-size: 1em;
      color: #666666; }
    #container #content .brief_item_history .revision p.changes {
      border-bottom: 1px solid #ccc;
      padding: 1em; }
#container #content .current_revision {
  display: none; }
#container #content .brief_item:hover .current_revision {
  display: inline; }
  #container #content .brief_item:hover .current_revision span.revision {
    background: #e9e9e8;
    padding: 0.5em 0.7em 0.5em 1em;
    margin: 0 1em; }
  #container #content .brief_item:hover .current_revision span.revision:hover {
    background: #ccc;
    cursor: pointer; }
  #container #content .brief_item:hover .current_revision span.updated_at {
    font-size: 0.6em;
    color: #666666X; }
  #container #content .brief_item:hover .current_revision span.question_count {
    padding-left: 1em;
    font-size: 0.7em; }
#container #content .question_list {
  border: 1px solid #ccc;
  border-top: 0;
  margin-bottom: 2em; }
  #container #content .question_list .creative_question {
    padding: 1em 4em;
    border-bottom: 1px solid #eee;
    position: relative; }
#container #content #question_filter {
  margin-bottom: 0.5em; }
#container #content .title_holder .brief_timeline {
  padding: 0.1em 0 0 0.5em;
  margin: 0; }
  #container #content .title_holder .brief_timeline li {
    text-transform: uppercase;
    width: 158px;
    padding: 0;
    float: left; }
    #container #content .title_holder .brief_timeline li span {
      display: block;
      text-align: center;
      margin: 0 2px;
      padding: 4px 8px;
      color: #ccc;
      font-weight: 100;
      font-size: 1.8em; }
    #container #content .title_holder .brief_timeline li span.selected {
      background: #e9e9e9;
      color: #555; }

p.submit {
  background: #ddd;
  border: none;
  padding: 0.3em 1em 0.3em 1em;
  width: auto;
  display: inline;
  margin: 0 0 1em 1em;
  float: right; }
  p.submit input[type=submit] {
    background: transparent;
    border: none;
    font-weight: bold; }

p.submit.left {
  float: left;
  margin: 0 1em 1em 0; }

p.submit:hover {
  background: #21286c; }
  p.submit:hover input[type=submit], p.submit:hover a {
    color: white; }

#facebox .content .fb {
  width: 60em;
  border: 1px solid #ccc; }
  #facebox .content .fb p.message {
    padding: 0.5em 1em 0 1em;
    font-size: 1.2em;
    font-weight: bold; }
  #facebox .content .fb .brief_item {
    padding: 0.5em 1em;
    border-bottom: 1px solid #eee; }
    #facebox .content .fb .brief_item p.body {
      background: transparent;
      font-size: 1.2em; }
  #facebox .content .fb .brief_item:hover {
    background: #ffffdf; }
