/* variables */
/* line 10, sass/ie7.scss */
input[type=submit] { text-align: center; border-width: 1px; }

/* line 15, sass/ie7.scss */
input[type=text] { font-size: 1em; line-height: 1.2em; }

/* line 21, sass/ie7.scss */
#middle-section { clear: both !important; padding-top: 2.5em; }
/* line 25, sass/ie7.scss */
#middle-section .section h1 { padding-top: 1em; }

/*Layout fixes*/
/* line 33, sass/ie7.scss */
.speech, .revision-body { position: static !important; }
/* line 35, sass/ie7.scss */
.speech .bubble, .revision-body .bubble { display: none !important; }

/* line 40, sass/ie7.scss */
#document-tags { display: none; }

/*DOCUMENTS*/
/* line 47, sass/ie7.scss */
#container #content .main .col_1 .title { overflow: hidden; }
/* line 49, sass/ie7.scss */
#container #content .main .col_1 .title a { height: 1px; }
/* line 50, sass/ie7.scss */
#container #content .main .col_1 .title h2 { position: static; }
/* line 54, sass/ie7.scss */
#container #content .main .col_1 .title:hover .toggle-inline-edit { height: 5px; display: block; float: right; margin-right: 50px; margin-top: -35px; }
/* line 62, sass/ie7.scss */
#container #content .main .col_1 .title .toggle-inline-edit { display: none; }
/* line 67, sass/ie7.scss */
#container #content .main .col_1 .most_important_thing .right { clear: none; margin-top: 0; }
/* line 72, sass/ie7.scss */
#container #content .main .col_1 .document_item_history li { border: 1px solid #f7f7f7; }
/* line 75, sass/ie7.scss */
#container #content .main .col_1 ul.comments li { border: 1px solid transparent; }
/* line 82, sass/ie7.scss */
#container #content .main .col_1 ul.document_item_history li .document_item_question, #container #content .main .col_1 ul.document_item_history li .comment, #container #content .main .col_1 #comments_area ul.comments li .document_item_question, #container #content .main .col_1 #comments_area ul.comments li .comment { border: 1px solid transparent; }
/* line 84, sass/ie7.scss */
#container #content .main .col_1 ul.document_item_history li .document_item_question .speech, #container #content .main .col_1 ul.document_item_history li .comment .speech, #container #content .main .col_1 #comments_area ul.comments li .document_item_question .speech, #container #content .main .col_1 #comments_area ul.comments li .comment .speech { border: 1px solid transparent; margin-top: -17px; }
/* line 91, sass/ie7.scss */
#container #content .main .col_1 ul.document_item_history li .show_author_answer_form input[type=submit], #container #content .main .col_1 #comments_area ul.comments li .show_author_answer_form input[type=submit] { width: 60px; top: -2.5em; }

/* line 99, sass/ie7.scss */
input[type=submit] { padding: 2px 5px !important; font-size: 1em; border-width: 1px !important; }
/* line 103, sass/ie7.scss */
input[type=submit]:active, input[type=submit]:focus { border-width: 1px !important; }

/* line 108, sass/ie7.scss */
input.smartTextBox-input-elem-valueInput { border: none !important; }

/* line 113, sass/ie7.scss */
#beta_feedback .wrap { display: none; }
/* line 115, sass/ie7.scss */
#beta_feedback .wrap .info { float: left; }

/* line 120, sass/ie7.scss */
#user_input.user_input { float: left; width: 330px; }

/*DASHBOARD*/
/*COLLABORATION LIST*/
/* line 131, sass/ie7.scss */
#container #content .side_box .action { clear: both; }
/* line 135, sass/ie7.scss */
#container #content .side_box ul.overview li, #container #content .side_box ul.proposals li { position: relative; clear: both; }
/* line 138, sass/ie7.scss */
#container #content .side_box ul.overview li p, #container #content .side_box ul.proposals li p { float: left; margin: 0 0 1em 0; padding: 0; }
/* line 143, sass/ie7.scss */
#container #content .side_box ul.overview li p.non_found, #container #content .side_box ul.proposals li p.non_found { float: none; }
/* line 150, sass/ie7.scss */
#container #content .side_box #update_collaborators ul.add_collaborators { padding-top: 1em; }
/* line 153, sass/ie7.scss */
#container #content .side_box #update_collaborators li.available_collaborator { padding-bottom: 0.5em; }
/* line 157, sass/ie7.scss */
#container #content .side_box #update_collaborators ul.collaborators .collaboration_user { clear: both; }
/* line 159, sass/ie7.scss */
#container #content .side_box #update_collaborators ul.collaborators .collaboration_user .avatar { position: absolute; top: 0em; left: 0em; }
/* line 164, sass/ie7.scss */
#container #content .side_box #update_collaborators ul.collaborators .collaboration_user p { margin: -15px 0 0 50px !important; }

/* line 176, sass/ie7.scss */
#template_documents #container .new_template_document .actions, #template_documents #container .edit_template_document .actions { border-top: 1px solid #dddddd; padding-top: 1.5em; }
/* line 180, sass/ie7.scss */
#template_documents #container .new_template_document .actions #template_document_submit, #template_documents #container .edit_template_document .actions #template_document_submit { height: 30px; }

/* line 192, sass/ie7.scss */
#container #content .col_1 .user input[type=file] { border: 1px solid #aaa; background: white; padding: 0px 5px 5px 5px; }
/* line 197, sass/ie7.scss */
#container #content .col_1 .user p.cancel { position: absolute; left: 530px; margin-left: 0; float: right !important; margin-right: 0 !important; }

/* line 208, sass/ie7.scss */
#account-menu { z-index: 2; }
/* line 210, sass/ie7.scss */
#account-menu #account-button { float: none; }

/* line 216, sass/ie7.scss */
#content > object { z-index: 1 !important; }

/* line 220, sass/ie7.scss */
#account-dropdown { z-index: 1; }

/* line 225, sass/ie7.scss */
#banner #header ul.navigation { margin-top: 58px; margin-right: 0; width: 284px; }
/* line 229, sass/ie7.scss */
#banner #header ul.navigation a, #banner #header ul.navigation span { display: block; float: left; padding: 15px; margin-left: 5px; }

/* line 241, sass/ie7.scss */
#top-menu { margin-top: 1em; }

/* line 245, sass/ie7.scss */
.boom_box { width: 630px; }

/* line 251, sass/ie7.scss */
#proposals .boom_box { width: 600px; }

/* Revisions */
/* line 262, sass/ie7.scss */
.revision-body:hover .delete-item-revision input { display: block; }
/* line 267, sass/ie7.scss */
.revision-body .buttons { float: right; width: 20px; }
/* line 271, sass/ie7.scss */
.revision-body form.delete-item-revision { margin: 0 !important; width: 30px; }
/* line 274, sass/ie7.scss */
.revision-body form.delete-item-revision input { display: none; }

/* line 281, sass/ie7.scss */
.close-button { border: none !important; }

/* line 285, sass/ie7.scss */
.clear { clear: both; }

/* line 289, sass/ie7.scss */
.add_user_document_button { line-height: 10px !important; }

/* line 293, sass/ie7.scss */
.funky-button-small { line-height: 10px; }

/* line 296, sass/ie7.scss */
.funky-button, .btn-shizzle { font-size: 0.8em; line-height: 16px !important; height: 24px; border: none; padding: 0; }

/* LOGIN FORM */
/* line 307, sass/ie7.scss */
.login .footer { height: 30px; margin: 0; }
/* line 311, sass/ie7.scss */
.login #forgot-password { margin-top: 0; }

/* line 318, sass/ie7.scss */
.login_form .field label { font-size: 10pt !important; height: 24px; line-height: 22px; }

/* line 325, sass/ie7.scss */
#remember-me { text-align: left; }
/* line 327, sass/ie7.scss */
#remember-me label { display: inline; }

/* line 329, sass/ie7.scss */
#user_session_remember_me { display: inline !important; margin: 0 !important; }

/* line 333, sass/ie7.scss */
#user_session_email, #user_session_password { padding: 0.5em; color: black !important; display: block; font-family: 'Trebuchet MS', sans-serif !important; font-size: 10pt; height: 24px; line-height: 22px; }

/* line 345, sass/ie7.scss */
.document_item .actions a { display: inline; }

/* line 349, sass/ie7.scss */
.show-options-menu { background: url("/images/button/actions.png") no-repeat 0 0; display: block !important; width: 65px; height: 23px; border: none !important; padding: 0 !important; margin: 0 !important; text-indent: -9999px !important; overflow: hidden; font-size: 0; line-height: 0; }

/* line 363, sass/ie7.scss */
#comment_submit, .submit-button, .new_question_submit, .inline-edit-submit, #template_document_submit, #new-section-submit, .submit-button { background: url("/images/button/submit.png") no-repeat 0 0 !important; text-indent: -9999px !important; display: inline-block !important; width: 63px; height: 20px; border: none !important; }

/* line 372, sass/ie7.scss */
#add-new-section .buttons .toggle-add-new-section { background: url("/images/button/add-new-section.png") no-repeat 0 0 !important; width: 107px; height: 21px; text-indent: -9999px !important; padding: 0; margin: 0; border: none; display: block; float: left; margin-left: 1em; }

/* line 384, sass/ie7.scss */
#comments_area { clear: both; }

/* line 388, sass/ie7.scss */
#reorder-sections { background: url("/images/button/reorder-sections.png") repeat 0 0 !important; width: 111px; height: 21px; text-indent: -9999px !important; padding: 0; margin: 0; border: none; display: block; /*  text-indent: -9999px !important; display: inline-block !important;*/ }

/* line 401, sass/ie7.scss */
#template_document_submit { float: left; }

/* line 404, sass/ie7.scss */
.close-button, .question-delete { display: block; overflow: hidden; text-indent: -9999px !important; overflow: hidden; font-size: 0; line-height: 0; }

/* line 413, sass/ie7.scss */
.document .section .delete-section-submit { border: none !important; background: #d0534d url("/images/button/delete.png") no-repeat 0 0; width: 53px; height: 21px; padding: 0; text-indent: -9999px; overflow: hidden; display: block; margin-top: -26px; }

/* line 425, sass/ie7.scss */
.bodytext li { border: none !important; }

/* line 429, sass/ie7.scss */
.add_user_document_button { background: url("/images/button/add-collaborator.png") no-repeat 0 0 !important; text-indent: -9999px !important; display: inline-block !important; width: 35px; height: 20px; border: none !important; }

/* line 438, sass/ie7.scss */
.info.inline-block { display: inline; margin-left: 5px; }

/* line 443, sass/ie7.scss */
.side_box .help-toggle { margin: -25px 10px 0 0 !important; }

/* line 449, sass/ie7.scss */
#content-header .actions { position: absolute; right: .5em; }

/* line 455, sass/ie7.scss */
.boom_box { width: auto; }
