input[type=submit] {
  text-align: center; }

input[type=text] {
  font-size: 1em;
  line-height: 1.2em; }

#banner #header ul.navigation {
  padding-bottom: 3px; }

#middle-section {
  clear: both !important;
  padding-top: 2.5em; }
  #middle-section .section h1 {
    padding-top: 1em; }
