/* Colours
 * link-colour   = #2b3087 */
/* Mixins */
/* Mixins */
body {
  background-color: white;
  text-align: justify;
  color: #4c4c4c;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  font-size: 12px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif; }

h1 {
  font-size: 20px;
  margin-bottom: 1em; }

h2 {
  font-size: 16px; }

a {
  color: #4c4c4c;
  text-decoration: none;
  font-weight: bold; }
  a:hover {
    text-decoration: underline; }

img {
  border: none; }

#container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  text-align: center; }

#banner {
  background-color: white;
  padding: 0px;
  margin: auto;
  height: 100px;
  width: 920px;
  border-bottom: 3px solid;
  border-color: #b3d335; }
  #banner #header {
    width: 920px;
    margin-right: auto;
    margin-left: auto;
    position: relative; }
    #banner #header #logo {
      padding-left: 10px;
      padding-bottom: 15px;
      padding-right: 15px;
      padding-top: 15px;
      margin-top: 15px;
      float: left;
      color: white;
      text-align: left;
      width: 470px; }
    #banner #header ul.navigation {
      padding-top: 12px;
      padding-bottom: 1px;
      margin-top: 65px;
      float: right;
      width: 300px;
      z-index: 100;
      text-align: right; }
      #banner #header ul.navigation li {
        display: inline;
        padding: 0;
        margin: 0; }
        #banner #header ul.navigation li span {
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        #banner #header ul.navigation li a, #banner #header ul.navigation li span {
          color: white;
          font-weight: normal;
          font-size: 1.2em;
          padding: 5px 0.8em 5px 0.8em;
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background: #32401a; }
        #banner #header ul.navigation li a:hover, #banner #header ul.navigation li span.current {
          text-decoration: none;
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background: #b3d335;
          color: white; }
        #banner #header ul.navigation li a:focus, #banner #header ul.navigation li a:active {
          -moz-border-radius-topleft: 3px;
          -webkit-border-top-left-radius: 3px;
          -moz-border-radius-topright: 3px;
          -webkit-border-top-right-radius: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          top: 1px;
          background: #b3d335; }

#middle-section {
  background-color: white;
  width: 100%;
  clear: both; }

#content {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  width: 920px;
  padding: 10px; }
  #content p {
    font-family: Georgia, Palatino, serif;
    font-size: 1.3em;
    padding-right: 15px;
    color: #32401a;
    margin-top: 10px; }
    #content p.intro-title {
      font-size: 38px;
      font-family: Helvetica, Arial, sans-serif;
      line-height: 1em;
      font-weight: bold;
      margin: 10px 0 0 0; }
    #content p.intro-text {
      font-style: italic;
      font-size: 1.7em;
      margin: 12px 0 0 0;
      line-height: 1.2em; }
    #content p.actions {
      margin-top: 3em;
      text-align: center; }
      #content p.actions span {
        margin-right: 1em; }
  #content ul li {
    font-family: Georgia, Palatino, serif;
    font-size: 1.3em;
    line-height: 1.4em; }

.section {
  text-align: left;
  margin: 0;
  padding: 0; }
  .section h1 {
    font-weight: normal;
    color: #32401a; }

.tour-section {
  width: 700px;
  padding-top: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: justify; }
  .tour-section img, .tour-section .object {
    width: 700px;
    border: 5px solid #eeeeee;
    padding: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px; }

#footer {
  padding: 0;
  margin: 0px;
  color: black;
  width: 920px;
  margin: auto;
  border-top: 3px solid #b3d335; }
  #footer .twitter-button {
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    padding: 10px 40px;
    text-align: center;
    background-color: #d9d9d9;
    color: #333333;
    font-weight: normal;
    float: right;
    display: block; }
    #footer .twitter-button:hover {
      background-color: #bbbbbb;
      text-decoration: none; }
  #footer p {
    color: black;
    font-size: 12px; }
  #footer a {
    text-decoration: none;
    color: black; }
    #footer a:hover {
      text-decoration: underline; }
  #footer #footer-content-left {
    text-align: left;
    padding: 10px 0;
    float: left; }
    #footer #footer-content-left a {
      font-weight: normal; }
  #footer #footer-content-right {
    text-align: right;
    padding: 10px 0 10px 10px;
    float: right;
    width: 300px; }
    #footer #footer-content-right p.right {
      text-align: right; }
  #footer #footer-content {
    margin-right: auto;
    margin-left: auto;
    width: 920px; }

.spacer {
  height: 20px; }

.line-width {
  width: 55em; }
  .line-width h2 {
    margin: 0.8em 0 0.4em 0; }

.button-ideapi {
  background: #b3d335;
  color: white;
  cursor: pointer;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  padding: 0.5em 1em 0.5em 1em;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal; }
  .button-ideapi:hover {
    background: #32401a;
    color: white;
    cursor: pointer;
    text-decoration: none; }

span.right {
  display: block;
  float: right; }

span.left {
  display: block;
  float: left; }
