a:link, a:visited {
  color: #552200;
  background: transparent;
  font-weight: bold;
  text-decoration: underline; }

body {
  font-size: 62.5%; }

ul {
  list-style: disc;
  font-size: 1.2em; }
  ul li {
    margin-left: 1em;
    font-size: 1em; }

.brief {
  padding: 1em 4em; }
  .brief h2 {
    border-bottom: 4px solid #333333; }
  .brief .most_important_thing {
    font-size: 2em;
    padding: 1em 1em 0 1em; }
    .brief .most_important_thing p {
      font-weight: bold; }
  .brief img {
    max-width: 90%;
    display: block;
    border: 5px solid #dddddd;
    margin: auto; }
  .brief p {
    font-size: 1.2em; }
  .brief .brief_item {
    padding: 1em; }
    .brief .brief_item h3 {
      border-bottom: 1px solid #aaaaaa; }
    .brief .brief_item .body {
      padding: 0.5em 1em; }
    .brief .brief_item .actions {
      display: none; }
    .brief .brief_item .brief_item_history {
      padding: 0 2em; }
      .brief .brief_item .brief_item_history .question {
        margin: 0.5em 1em;
        padding: 0 1em;
        border-bottom: 1px dashed #aaaaaa; }
        .brief .brief_item .brief_item_history .question .question_body span.speech {
          font-style: italic; }
      .brief .brief_item .brief_item_history p.updated {
        border-bottom: 1px solid #cccccc;
        font-size: 1em;
        text-transform: uppercase;
        text-align: right; }
        .brief .brief_item .brief_item_history p.updated span {
          color: #aaaaaa; }

.col_2 {
  display: none; }

#header, .feedback_form {
  display: none; }

a[href='#'] {
  display: none; }

.avatar {
  display: none; }

form {
  display: none; }

#footer {
  margin: 1em 4em;
  background: white url("/images/logo-small.png") no-repeat 0 1.2em;
  padding: 1em 2em 0px 50px;
  border-top: 1px solid #cccccc; }
  #footer p {
    font-size: 1.1em; }
