html, body, div, span, applet, object, iframe {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

h1 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 3.00em; }

h2 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 2.50em; }

h3 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 2.00em; }

h4 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1.60em; }

h5 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1.20em; }

h6 {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1.00em; }

p {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.50em 0 1.00em 0;
  line-height: 1.50em; }

blockquote {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.80em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  quotes: "" ""; }
  blockquote p {
    margin: 0;
    padding: 0.80em;
    color: #666;
    background: inherit; }

pre {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.80em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.50em; }
  pre strong {
    color: #c33;
    background: inherit; }

a {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #06f;
  background-color: inherit;
  text-decoration: underline; }
  a:visited {
    color: #454545;
    background: inherit; }
  a:hover {
    color: #222;
    background: inherit; }
  a:active {
    color: #333;
    background: inherit; }

abbr {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-size: 0.90em;
  text-transform: uppercase;
  border-bottom: 1px dashed #ddd;
  cursor: help; }

acronym {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-size: 0.90em;
  text-transform: uppercase;
  letter-spacing: 0.10em; }

address, big {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

cite {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-style: italic; }

code {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.80em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.50em; }
  code strong {
    color: #c33;
    background: inherit; }

del {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #888;
  background-color: inherit;
  text-decoration: line-through; }

dfn {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

em {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-style: italic; }

font, img, ins, kbd {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

q {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.80em 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  quotes: "" ""; }
  q p {
    margin: 0;
    padding: 0.80em;
    color: #666;
    background: inherit; }

s {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  text-decoration: line-through; }

samp, small {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

strike {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  text-decoration: line-through; }

strong {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold; }

sub {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  vertical-align: sub; }

sup {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  vertical-align: sup; }

tt {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

var {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  margin: 0.80em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.50em; }
  var strong {
    color: #c33;
    background: inherit; }

dl {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

dt {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  font-weight: bold; }

dd {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  list-style-position: outside;
  list-style: none;
  line-height: 1.50em;
  padding: 0; }

ol {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  list-style-position: outside;
  list-style: none;
  line-height: 1.50em;
  list-style-type: decimal;
  list-style-position: outside; }

ul {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  list-style-position: outside;
  list-style: none;
  line-height: 1.50em; }

li {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

fieldset {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  border: 0; }

form {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

label {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  display: block;
  float: left;
  padding: 3px;
  font-weight: bold; }
  label.xs {
    width: 50px; }
  label.s {
    width: 100px; }
  label.m {
    width: 150px; }
  label.l {
    width: 200px; }
  label.xl {
    width: 250px; }

legend {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

table {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  border-collapse: separate;
  border-spacing: 0; }
  table th {
    font-weight: bold; }

caption, tbody, tfoot, thead, tr, th, td, *, .x {
  margin: 0;
  padding: 0;
  color: #333;
  background: transparent;
  font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 101%;
  font-weight: normal;
  font-style: normal;
  line-height: 1.60em;
  text-decoration: none;
  text-align: left;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

* {
  focus-outline: 0; }

hr {
  display: block;
  width: 100%;
  height: 1px;
  color: #aaa;
  background: #aaa;
  border: none; }

.hide {
  display: none; }

.inline {
  display: inline; }

.block {
  display: block; }

.nfloat {
  float: none; }

.lfloat {
  float: left; }

.rfloat {
  float: right; }

.clear {
  clear: both; }

.lclear {
  clear: left; }

.rclear {
  clear: right; }

.navigation {
  list-style: none; }
  .navigation li {
    display: inline; }

.debug {
  border: 1px solid red; }

.monospace {
  margin: 0.80em 0;
  font-family: "Palatino Linotype", "Courier New", monospace;
  line-height: 1.50em; }
  .monospace strong {
    color: #c33;
    background: inherit; }

i {
  font-style: italic; }

u {
  text-decoration: underline;
  text-decoration: underline; }

.u {
  text-decoration: underline; }

.input {
  clear: left; }

input.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
input.xs {
  width: 20px; }
input.s {
  width: 50px; }
input.m {
  width: 125px; }
input.l {
  width: 200px; }
input.xl {
  width: 300px; }

textarea.default, select.default {
  float: left;
  padding: 3px;
  border: 1px solid #aaa;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

button {
  padding: 2px 5px;
  color: white;
  background-color: black;
  font-weight: bold;
  text-align: center;
  border: 0;
  cursor: pointer; }
  button.xs {
    width: 15px; }
  button.s {
    width: 30px; }
  button.m {
    width: 50px; }
  button.l {
    width: 80px; }
  button.xl {
    width: 120px; }

body {
  font-size: 0.8em; }

a {
  text-decoration: none;
  color: #2b3087;
  font-weight: bold; }

a:hover {
  color: #fcfcfc; }
