%h1= @page_title = 'Brief Templates'

=link_to 'Create Template', new_admin_template_brief_path

%table.spaced
  %tr
    %th
      Name
  -current_objects.each do |template|
    %tr
      %td= link_to(h(template.title), edit_admin_template_brief_path(template))

  
= will_paginate(current_objects)