%h1= @page_title = "Viewing Brief Template: #{current_object.title}"

%p= link_to('Edit Template', :action => 'edit')

%h3 Questions

%ul
  -current_object.template_questions.each do |template_question|
    %li
      %h4=template_question.body
      %p=template_question.help_message
      
      