:plain
  --------------------------------------
  Got a question? Try our FAQs at 
  http://ideapi.com/faq

  --------------------------------------
  For support or to give feedback, please
  email the team on support@ideapi.com or 
  feedback@ideapi.com

  --------------------------------------
  For information and updates about 
  ideapi, including what features are in
  the pipeline, check our our blog at
  http://blog.ideapi.com
