:plain
  --------------------------------------
  Got a question? Try our FAQs at 
  http://ideapi.com/faq

  --------------------------------------
  For support, feedback or ideas, 
  please visit our community at
  http://getsatisfaction.com/ideapi

  --------------------------------------
  For information and updates about 
  ideapi, including what features are in
  the pipeline, check our our blog at
  http://blog.ideapi.com
