%p
  A question has been left on the brief 
  = link_to @question.brief.title, brief_url(@question.brief, :host => @question.brief.account.full_domain)
  by #{@question.user.full_name}:
%p
  "#{@question.body}"
%p
  = link_to brief_url(@question.brief, :host => @question.brief.account.full_domain), brief_url(@question.brief, :host => @question.brief.account.full_domain)