- if !@user.invitation_message.blank?
  = @user.invitation_message
- else
  Dear  
  = @user.name_parts(:first_name).capitalize
  ,

%p
  An account has been created for you on "#{@account.full_domain}".

%p
  To complete the signup process, click here:
  %br/
  = user_signup_url(:invite_code => @user.invite_code, :host => @account.full_domain)
