- if !@user.invitation_message.blank?
  = @user.invitation_message
- else
  Great news! You'be been invited to the #{@account.name} ideapi account!
  
:plain 
  
  Get started on the #{@account.name} account by logging in here: 
  http://#{@account.full_domain}

=render :partial => 'footer'
