- if @user.invitation_message.present?
  = @user.invitation_message
- else
  Great news! You'be been invited to the #{@account.name} ideapi account!
%p
  Get started on the #{@account.name} account by logging in here: 
  http://#{@account.full_domain}
