%p
  %label{:for => "user_login"} Screen name:
  = f.text_field :login
  .help
    This is what you will be known as on the website, so if you want to remain anonymous here is your chance.
  
%p
  %label{:for => "user_email"} Email:
  = f.text_field :email

.hr

%p
  %label{:for => "user_avatar"} Your picture:
  =f.file_field :avatar
  .help
    Upload a square image 100x100
.hr  
  
%p
  %label{:for => "user_password"} Password:
  = f.password_field :password
  .help
    You must fill in both password and password confirmation to change passwords.
%p
  %label{:for => "user_password_confirmation"} Password confirmation:
  = f.password_field :password_confirmation
