.invite_users
  %h4= defined?(title) ? title : "Invite people to join"
  -if current_user.has_invites?
    -form_for 'invitation', :url => invitations_path do |f|
      =f.text_area 'recipient_list', :title => 'Enter email addresses here'      
      =f.submit 'Invite'
  -else
    %p You don't have any invites to give.
