.col_1
  %h2 Edit profile
  %div[current_object]
    - form_for(:user, :url => object_url, :html => { :method => :put, :multipart => true }) do |f|
      .boom_box
        = error_messages_for :user
        = render :partial => "form", :locals => {:f => f}
      %p.submit
        =submit_tag "Update" 
      %p.cancel= link_to 'Cancel', object_path, { :class => "submit-button"}
      .clear
   
