=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2=name_or_login(current_object).titleize
  
  .boom_box

    %div[current_object]
      =large_avatar(current_object)

      %p
        %strong Nickname:
        =current_object.login

      %p
        %strong Name:
        -if current_object.name.present?
          =current_object.name
        -else
          unknown
      
      %p
        %strong Email:
        =current_object.email        
          
      -if current_object == current_user
        %p.edit= link_to 'Edit', edit_user_path(current_user)
        
      .clear
  
  -if current_object == current_user
    %p 
      Know someone who might like an ideapi account? 
      = link_to 'Send us an email', "#beta_feedback" 
              
.col_2.profile