=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Profile
  
  .boom_box

    %div[current_object]
      =large_avatar
      %p
        %strong Login:
        =current_object.login
      %p
        %strong Email:
        -if (current_object == current_user || current_user.friends?(current_object))
          =current_object.email
        -else
          is only visible to friends
        
          
      -if current_object == current_user
        %p.edit= link_to 'Edit', edit_user_path(current_user)
        
      .clear
  
  -if current_object == current_user
    -if current_object.has_invites?  
      .boom_box
        %h3 Invitations
        %p 
          You have 
          %strong=current_object.invite_count
          invites left, you can request more 
          =link_to "here.", request_invitations_invitations_path
        -if current_object.invitations.blank?
          %p You have not sent any invitations yet.
        -else
          %table.invitations
            %thead
              %tr
                %th
                  Email address
                %th
                  Date sent
                %th
                  Status
                %th
                  Actions
            %tbody
              -current_object.invitations.each do |invite|
                %tr
                  %td
                    =invite.recipient_email
                    -if invite.pending?
                      =link_to '(resend invite)', resend_invitation_path(invite.code), :style => "padding-left: 0.5em"
                  %td
                    =distance_of_time_in_words_to_now(invite.created_at) 
                    ago
                  %td
                    =invite.state
                  %td
                    -if invite.pending?
                      =link_to 'cancel', cancel_invitation_path(invite.code)
      
          %ul.invitations
          
              
.col_2.profile
  -if current_object == current_user
    =render :partial => 'users/invite'