=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Profile
  
  .boom_box

    %div[current_object]
      %p=large_avatar
    
      -if current_object == current_user
        %p.edit= link_to 'Edit', edit_user_path(current_user)
  
  -if current_object == current_user
    .boom_box
      %h3 Invitations
      -if current_object.invitations.blank?
        %p You have not sent any invitations yet.
      -else
        %ul.invitations
          -current_object.invitations.each do |invite|
            %li
              =invite.recipient_email 
              ="(#{invite.state})"
              
.col_2
  -if current_object == current_user
    =render :partial => 'users/invite'