%tr[question]
  %td= h question.title
  %td
  %td
    = link_to 'Show', object_path(question)
    |
    = link_to 'Edit', edit_object_path(question)
    |
    = link_to 'Destroy', object_path(question), :confirm => 'Really destroy question?', :method => :delete