%h1 Creating question

= error_messages_for :question

- form_for(:question, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submitter "Create"
    .clear

= link_to 'Back', objects_path
