You've been invited to create an account at http://www.ideapi.com.  

ideapi.com connects creative industry professional together, providing tools to discuss and manage briefs.

### CLICK THE LINK BELOW TO ACCEPT THIS INVITATION ###

<%= invitation_url(@invitation.code, :host => "staging.ideapi.net") %>

For support: support@ideapi.com
