.col_1
  %h1 Welcome to ideapi.
      
  %p ideapi is a briefing tool that allows you to create, collaborate on, approve and share creative briefs.

  %p Right now we are in the process of testing and perfecting ideapi and would love your input.
  
  %p The briefing tool is designed to bring creative minds closer together – resulting in richer creative briefs and more engaged teams as well as keeping all your briefs easily accessible, stored safely and securely in one place online.
  
  %p We&rsquo;d love it if you&rsquo;d let us know if you come across any glitches or bugs and leave any feedback for us. Just use the simple drop-down form at the top of every page.

  %p 
    If you&rsquo;re interested in using ideapi briefing tool please 
    %a{:href => "mailto:support@ideapi.com"}get in touch.