.col_1
  %h1 Homepage
      
  %p ideapi.com is an exciting new creative ideas marketplace bringing planners, clients and creatives closer together, resulting in richer creative briefs and more engaged creative teams.

  %p Currently in private beta, our innovative briefing app is designed specifically for the creative community.

  %p 
    If you and your colleagues would benefit from this collaboration portal, 
    %a{:href => "mailto:support@ideapi.com"}then get in touch.