%p
  %label{:for => "answer_body"} Body:
  = f.text_area :body
%p
  %label{:for => "answer_question_id"} Question:
  = f.text_field :question_id
%p
  %label{:for => "answer_brief_id"} Brief:
  = f.text_field :brief_id
