-form_for @template_brief do |f| 
  =new_child_fields_template(f, :template_questions)
  =f.error_messages
  %p
    =f.label :title, "Template Title"
    =f.text_field :title 
  
  -f.fields_for :template_questions do |tqf| 
    =render :partial => 'template_question', :locals => { :f => tqf }


  .actions
    .left
      =add_child_link "Add a Section or Heading", :template_questions
      =f.submit "Submit"
    - unless @template_brief.new_record?
      .right
        =link_to "Delete template", {:action=>"destroy", :controller=>"template_briefs"}, :method => :delete, :class => "delete_template",
          :confirm => "Are you sure you want to delete this template - this is permanent but will NOT affect briefs already created with this template"
  .clear
  
  
