-form_for @template_brief do |f| 
  =f.error_messages
  %p
    =f.label :title, "Template Title"
    =f.text_field :title 
  
  -f.fields_for :template_questions do |tqf| 
    =render :partial => 'template_question', :locals => { :f => tqf }


  .actions
    =add_child_link "Add a Section or Heading", :template_questions
    =new_child_fields_template(f, :template_questions)
    =f.submit "Submit"


