=sub_nav do
  =breadcrumb_list
= page_help do 
  .box
    You can reorder the titles and sections after clicking submit.
.col_1

  %h2 Edit your template
  
  = error_messages_for :proposal

  .boom_box
    = render :partial => "form"
      
      
.col_2    
  
