
=sub_nav do
  =breadcrumb_list
  -if current_user_can_create_briefs?
    %li{:class => "secondary"}
      =link_to 'Create template', new_template_brief_path
#dashboard.col_1

  - # if flash[:note].present?
  #templates_dashboard_note.note
    :markdown
      Briefs are created from templates.

      The templates dashboard lists all of your custom brief templates. 
      Your ideapi account has been created with a default template that contains 
      some common brief sections (not shown on the templates dashboard).

      To create your own templates click “create template”.

        
      
  .brief_list
    %h2 
      Your templates
    -if @template_briefs.empty?
      .brief_item
        %h3 
          -if current_user_can_create_briefs?
            You have no templates -
            =link_to 'create a template', new_template_brief_path
            to get started.
          -else
            You have no briefs. Contact your account owner if you need the ability to create briefs
    -else  
      =render :partial => 'template_brief', :collection => @template_briefs
      
.col_2.dashboard
