
=sub_nav do
  =breadcrumb_list
#documents.col_1

  - # if flash[:note].present?
  = page_help do
    .box
      :markdown
        Briefs are created from templates.

        The templates documents lists all of your custom brief templates. 
        Your ideapi account has been created with a default template that contains 
        some common brief sections (not shown on the templates documents).

        To create your own templates click “create template”.

        
      
  .brief_list
    #content-header
      - if current_user_can_create_briefs?
        = link_to 'Create template', new_template_brief_path, :class => 'green-button-link fright'
    
      %h2 
        Your templates
    -if @template_briefs.empty?
      .brief_item
        %h3 
          -if current_user_can_create_briefs?
            You have no templates -
            =link_to 'create a template', new_template_brief_path
            to get started.
          -else
            You have no briefs. Contact your account owner if you need the ability to create briefs
    -else  
      =render :partial => 'template_brief', :collection => @template_briefs
      
.col_2.documents
