=sub_nav do
  =breadcrumb_list

.col_1

  %h2 Create a new template
  #write_new_brief.note
    %p You can add as many questions as you like to your template. 
  
  .boom_box
    =render :partial => 'form'        
.col_2
