=sub_nav do
  =breadcrumb_list

.col_1
  
  #write_new_brief.note
    %p You can reorder your brief items by dragging them up and down. 
  .brief
    %h2
      =@template_brief.title
      .actions
        =link_to 'edit', edit_template_brief_path(@template_brief), :title => 'Edit template', :class => 'edit_template'
    -if @template_brief.template_questions.present?
      #sortable
        -@template_brief.template_brief_questions.each do |q|
          %div{:class => q.template_question.is_heading ? "brief_heading" : "brief_item",:id => "brief_item_#{q.id}"}
            -if q.template_question.is_heading?
              %h3
                =q.template_question.body
            -else
              %h4
                =q.template_question.body
              -if q.template_question.help_message.present?
                .body
                  %p
                    =q.template_question.help_message
.col_2
  
