=sub_nav do
  =breadcrumb_list

.col_1
  
  #write_new_brief.note
    :markdown
      You can reorder the template sections by dragging them up and down.
      This will only change future briefs based on this template – briefs 
      that have already been created with this template will not be affected.
      
  .brief
    .title
      %h2
        =@template_brief.title
      .actions
        = link_to "Show options", "#", :class => "show-options-menu"
    #options-menu
      %ul.object-actions
        %li
          =link_to 'edit', edit_template_brief_path(@template_brief), :title => 'Edit template', :class => 'edit_template edit_icon'
        %li.delete-template
          -form_for @template_brief, :html => { :method => :delete } do |f|
            =hidden_field_tag '_flash[notice]', 'Brief deleted'
            = link_to "delete", "#"
            :javascript
              $('#options-menu li.delete-template a').click(function(){
                var answer = confirm("Are you sure?")
                if(answer){
                  $(this).parent().submit();
                }
                return false;
              });
            
    -if @template_brief.template_questions.present?
      #sortable
        -@template_brief.template_brief_questions.each do |q|
          %div{:class => q.template_question.is_heading ? "brief_heading" : "brief_item",:id => "brief_item_#{q.id}"}
            -if q.template_question.is_heading?
              %h3
                =q.template_question.body
            -else
              %h4
                =q.template_question.body
              -if q.template_question.help_message.present?
                .body
                  %p
                    =q.template_question.help_message
.col_2
  
