%h3 Contact request

.friendship_form  
  -if current_object.requested?  
    -form_for current_object, :url => friendship_path(current_object), :html => {:method => :put} do |f|
      %p
        =link_to current_object.friendshipped_by_me.login.capitalize, user_path(current_object.friendshipped_by_me)
        would like to add you as a contact.
      %p  
        =f.submit "Accept"
        or return to your
        =link_to "profile", user_path(current_user)
  -else
    %p 
      This friendship request has already been accepted or cancelled.