- title "Features Tour"

#content-heading
  %h2.title Features Tour

  .signup
    = link_to "Sign Up Now", "/signup", :class => "try-button try-button-primary"          
    .meta
      for free!

  -# %hr.faded
  
%ul.features-index
  %li.active 
    %a.feature-title{:href=>"#"} 
      Documents View
    .description
      %p The documents view on ideapi allows you to see all active documents that you are creating, editing or collaborating on.
      %img.screenshot{:src => "../images/screenshots/features/documents_view.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Create Documents
    .description
      %p Create new blank documents or create from pre-made templates.
      %img.screenshot{:src => "../images/screenshots/features/create_documents.png", :alt => "Add new sections to documents"}/

  %li
    %a.feature-title{:href=>"#"} Templates
    .description
      %p Create templates to enforce document structure and layout or to save time by adding in regularly used content.
      %img.screenshot{:src => "../images/screenshots/features/templates.png", :alt => "An approved idea"}/
    
  %li
    %a.feature-title{:href=>"#"} Manage Contacts
    .description
      %p Add and manage contacts on your account so that the right people can collaborate on the right documents and ideas. New contacts are sent an email invitation to your account, with personalised message if required.
      %img.screenshot{:src => "../images/screenshots/features/manage_contacts.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Add Collaborators
    .description
      %p Each documents allows you to add the collaborators that you need, and assign the relevant permissions.
      %img.screenshot{:src => "../images/screenshots/features/add_collaborators.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Add Some Jazz
    .description
      %p 
        :plain
          Sections can easily be formatted to make the content stand out more or be more user friendly. This is done using <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)">Textile</a>.
      %img.screenshot{:src => "../images/screenshots/features/add_some_jazz.png", :alt => "Sections of a document"}/    
    
  %li
    %a.feature-title{:href=>"#"} Discuss Documents
    .description
      %p Each section of your document has a discussion showing any comments/questions that have been asked as well as any historical section updates. You can easily see the history of each section.
      %img.screenshot{:src => "../images/screenshots/features/discuss_documents.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Reorder Sections
    .description
      %p Easily manage the structure and layout of your documents by reordering the sections.
      %img.screenshot{:src => "../images/screenshots/features/reorder_sections.png", :alt => "Sections of a document"}/
        
  %li
    %a.feature-title{:href=>"#"} Ideas / Attachments
    .description
      %p For each document there is an ideas/attachments widget allowing you and your collaborators to add ideas and/or supporting attachments (images, PDFs, etc) to the document.
      %img.screenshot{:src => "../images/screenshots/features/ideas_attachments.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Approval
    .description
      %p For each idea or set of attachments there is approval functionality should it be required.
      %img.screenshot{:src => "../images/screenshots/features/approval.png", :alt => "Sections of a document"}/

  %li
    %a.feature-title{:href=>"#"} Print View
    .description
      %p There is a print view for each document showing an even more simplified view of document content.
      %img.screenshot{:src => "../images/screenshots/features/print_view.png", :alt => "Sections of a document"}/
    
  %li
    %a.feature-title{:href=>"#"} Add Tags
    .description
      %p Adding tags to your documents allows for categorisation and simple searching.
      %img.screenshot{:src => "../images/screenshots/features/add_tags.png", :alt => "Sections of a document"}/

  %li
    %a.feature-title{:href=>"#"} Archive
    .description
      %p Once a document is ‘finished’, it can be easily archived so as not to clutter up your current documents view.
      %img.screenshot{:src => "../images/screenshots/features/archive.png", :alt => "Sections of a document"}/


= custom_footer do
  .large-quote
    .quote
      .before
        %img{:src => '/images/icons/lquote.png', :alt=> ""}/
      .content
        :markdown
          …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
    
      .after
        %img{:src => '/images/icons/rquote.png', :alt=> ""}/
    .cite
      %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange