.col_1
  #help_and_faq
    / :markdown
    /   ## Help & FAQ's
    / 
    /   ### Roles
    /   #### Collaborator:
    /   This is the default role for users added to a brief. Collaborators can ask questions and leave comments for others to read. Collaborators can also respond to the brief by submitting ideas.
    / 
    /   #### Author:
    /   The brief creator is automatically an author of the brief, allowing them to edit, update or delete the brief. Authors may also respond to collaborators’ questions and respond to the brief by submitting ideas. Authors can manage all collaborator permissions on the brief, assign idea approvers and add/remove collaborators from the brief.
    / 
    /   #### Approver:
    /   The brief approver is responsible for reviewing ideas submitted to a brief.
  
    = render :file => 'pages/faq'