<% title "Home"%>
<div class="section">
	<table cellpadding="0" cellspacing="0" border="0">
	
		<tr><td width="32%" valign="top">
		  <p class="intro-title">Brief &amp; Idea Collaboration</p>
			<p class="intro-text">Client. Agency. Production.</p>
			<p>ideapi is a brand new tool that helps groups of people work together better. You can collaborate on and agree a clear brief, as well as manage the process of submitting and approving ideas. </p>
			  
			  <!--ideapi is currently in public beta - why not <a href="/signup">give it a try?</a>  Not ready to
			  take the plunge? Then how about <a href="/tour">taking a tour</a>?</p>-->
			<p class="actions">
			  <span><a class="button-ideapi" href="/signup">Try the <strong>beta</strong></a></span>
			  <span><a class="button-ideapi" href="/tour">Take a tour</a></span>
			</p>
		</td>
		<td valign="top" align="center" width="68%" >
		  <object width="600" height="450"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11616621&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=c9ff23&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11616621&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=c9ff23&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="450"></embed></object>
		</td></tr>
	</table>
</div>