.homepage-header
  %h1 Collaborate on briefs & ideas

%hr.faded/

#slides
  %div.slides_container
    %div
      %img{:src => "images/idea.png"}
    %div
      %img{:src => "images/brief.png"}
    %div
      %img{:src => "images/dashboard.png"}


%hr.faded/

.homepage-copy
  %p ideapi allows you to collaborate on briefs and ideas with your team and clients. 

  %p Used by: in-house recruiters to manage job specs and candidates; creative agencies to create better briefs and collect ideas.

%hr.faded/

.code-credit
  %h2 built by the fine folks at <a href"http://pebblecode.com/">pebble {code} </a>
  %p ideapi has been developed and hosted for free*. We hope you like it but if you have any ideas, features or bugs, let us know at <a href"mailto:support@ideapi.com">support@ideapi.com</a>
  %p.disclaimer * Due to the service being free, we cannot guarantee rapid responses to queries - we will do our best.


/ %ul.features.clearfix
/   %li.clearfix
/     %ul
/       %li.collaborate
/         %h4 Work together on your documents.
/         %p.desc Create a structured document online, with headings and sections. Discuss individual sections with your team, clients or grandma. Enrich your document with images and attachments.
/   
/       %li.create
/         %h4 Create new documents your way.
/         %p.desc Build reusable document templates that support your organisation. Reduce the time it takes to start a document.
/   
/       %li.boost.last
/         %h4 Boost Your Creativity.
/         %p.desc Allow team members to upload ideas and supporting media in response to documents. Control your approvals process in one place.
/   %li.clearfix
/     %ul
/       %li.updated
/         %h4 Stay up to date with changes to your documents.
/         %p.desc Track changes to individual sections – see who changed what and when. Get notified by email when something changes.
/   
/       %li.control
/         %h4 Control who sees what
/         %p.desc Choose who to involve in each of your projects. Manage who can view or edit individual documents.
/   
/       %li.last.testimonial
/         %h4.quote.prepend-1
/           For more information, <br/>
/           check out the #{link_to 'features', '/features'} <br/>
/           page or #{link_to 'try it for free', '/signup'}!

/ = custom_footer do
/   .large-quote
/     .quote
/       .before
/         %img{:src => '/images/icons/lquote.png', :alt=> ""}/
/       .content
/         :markdown
/           …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
/     
/       .after
/         %img{:src => '/images/icons/rquote.png', :alt=> ""}/
/     .cite
/       %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange