#intro
  .text
    %h2.title Create better documents
    %p
      <strong>Take control</strong> of your briefs, proposals, articles and essays. <strong>Collaborate</strong> better, <strong>prevent</strong> duplication and <strong>supercharge</strong> your ideas.
    .signup
      = link_to "Try it for free &raquo;", "/signup", :class => "try-button try-button-primary"
  #promo-video
    != '<iframe src="http://player.vimeo.com/video/11616621?title=0&amp;byline=0&amp;portrait=0&amp;color=b3d335" width="557" height="418" frameborder="0"></iframe>'

%hr.faded/

%ul.features.clearfix
  %li.collaborate
    %h4 Work together on your documents.
    %p.desc Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus.
  
  %li.create
    %h4 Create new documents your way.
    %p.desc Quisque lacus quam, egestas ac tincidunt a, lacinia vel.
  
  %li.boost.last
    %h4 Boost Your Creativity.
    %p.desc Morbi a enim in magna semper bibendum. Etiam scelerisque, nunc.
    
  %li.updated.clear
    %h4 Stay up to date with changes to your documents.
    %p.desc Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam.
  
  %li.control
    %h4 Control who sees what
    %p.desc Aenean facilisis nulla vitae urna tincidunt congue sed ut.
  
  %li.last.testimonial
    %span.lquote.span-1 
      %img{:src => '/images/icons/lquote.png', :alt=> ""}/
      
    %p.quote
      ='...perfect for an organisation like ours working with many different groups and individuals all in different time zones...'
      %span.rquote
        %img{:src => '/images/icons/rquote.png', :alt=> ""}/
    %p.clear
      %cite Philippa White, Founder &amp; Managing Director, The International Exchange

