<div class="section">
	<table cellpadding="0" cellspacing="0" border="0">
		<tr><td width="28%" valign="top">
			<h1>Welcome to ideapi</h1>
			<p>ideapi is a brand new tool to help groups of people work together better, giving them the ability to collaborate on and agree a clear brief, and manage the process of submitting and approving ideas.</p>
			<!-- p>An excellent application for busy diaries, remote working and collaboration.</p -->
			<p>ideapi is currently in public beta, why not <a href="/signup">give it a try?</a>  Not ready to
			  take the plunge? Then how about <a href="/tour">taking a tour</a>.</p>
			<!-- p>ideapi is currently in use by: creative agencies, copy writters, script writters and teachers.</p -->
		</td>
		<td width="2%">&nbsp;</td>
		<td width="70%" valign="top" align="center">
			&nbsp;
			<img src="images/homepage_note.jpg" alt="how it works" />
		</td></tr>
	</table>
</div>