.homepage-header
  %h1 Collaborate on briefs & ideas

.slideshow

%hr.faded/

.homepage-copy
  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

%hr.faded/

.code-credit
  %h2 built by the fine folks at pebble {code}


/ %ul.features.clearfix
/   %li.clearfix
/     %ul
/       %li.collaborate
/         %h4 Work together on your documents.
/         %p.desc Create a structured document online, with headings and sections. Discuss individual sections with your team, clients or grandma. Enrich your document with images and attachments.
/   
/       %li.create
/         %h4 Create new documents your way.
/         %p.desc Build reusable document templates that support your organisation. Reduce the time it takes to start a document.
/   
/       %li.boost.last
/         %h4 Boost Your Creativity.
/         %p.desc Allow team members to upload ideas and supporting media in response to documents. Control your approvals process in one place.
/   %li.clearfix
/     %ul
/       %li.updated
/         %h4 Stay up to date with changes to your documents.
/         %p.desc Track changes to individual sections – see who changed what and when. Get notified by email when something changes.
/   
/       %li.control
/         %h4 Control who sees what
/         %p.desc Choose who to involve in each of your projects. Manage who can view or edit individual documents.
/   
/       %li.last.testimonial
/         %h4.quote.prepend-1
/           For more information, <br/>
/           check out the #{link_to 'features', '/features'} <br/>
/           page or #{link_to 'try it for free', '/signup'}!

/ = custom_footer do
/   .large-quote
/     .quote
/       .before
/         %img{:src => '/images/icons/lquote.png', :alt=> ""}/
/       .content
/         :markdown
/           …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
/     
/       .after
/         %img{:src => '/images/icons/rquote.png', :alt=> ""}/
/     .cite
/       %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange