- title "Plans &amp; Pricing"
.line-width
  %h1="Plans &amp; Pricing"
  %p="ideapi is in public BETA. Whilst in BETA, you are welcome to trial ideapi with up to 10 users for free. Pricing will be published shortly, but will be in line with your company size and number of active documents you want in your account."
  %p
    For more information, please email us at <a title="info" onclick="this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" href="mailto:info[at" rel="ideapi.com">info [at] ideapi.com</a>
  %p
    <a href='/signup'>Try ideapi now!</a>
