- title "Privacy Policy"
.line-width
  %h1
    Privacy Policy
  %ul.privacy-policy
    %li="Ideapi Limited does not share customer information of any kind with anyone."
    %li="We will not sell or rent your name or personal information to any third party."
    %li="We DO NOT sell, rent or provide outside access to our mailing list or any data we store."
    %li="Any data that a user stores via our facilities is wholly owned by that user or business."
    %li="At anytime a user or business is free to take their data and leave, or to simply delete their data from our facilities."
    %li="Ideapi Limited only collects such personal information that is necessary for you to access and use our services."
    %li="This personal information includes, but is not limited to, first and last name, physical address, postcode/zip code, email address, phone number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents."
    %li="Ideapi Limited may release personal information if Ideapi Limited is required to by law, search warrant, subpoena, court order or fraud investigation."
    %li="We may also use personal information in a manner that does not identify you specifically nor allow you to be contacted but does identify certain criteria about our Site’s users in general (such as we may inform third parties about the number of registered users, number of unique visitors, and the pages most frequently browsed)."