- title "Terms of Service"

.line-width
  %h1="Terms of Service"
  %h2="Acceptance"
  %p
    By using the Service you are deemed to accept the validity of and be bound by the Terms of Service as stated herein without modification.
  %h2
    Limited Warranties
  %p
    Except as specified in these Terms, to the maximum extent permitted under applicable law, the Service provided by Ideapi Limited is provided “as is” without any kind of warranty. Except as specified in these Terms, we are not responsible for any loss, injury, claim, liability, damage, or consequential damage related to your use of the Service, or inaccessibility of the Service whether from errors or omissions in the content of this Service or any other linked sites or for any other reason. Use of this Service is at your own risk. Ideapi Limited does not represent or warrant that the Site, its server or any linked sites are free of any harmful materials.

  %h2="Maximum Liability"
  %p
    Except as specified in these Terms, the maximum liability of Ideapi Limited is the amount paid to Ideapi Limited by the customer.

  %h2="Other"
  %p
    The Terms of Service take precedence over any conflicting material on the Service.

  %h2="Indemnification"
  %p
    The user agrees to indemnify and hold Ideapi Limited, its directors, officers and employees, harmless from any claim, demand, or damage, including legal fees, asserted by any third party due to or arising out of the user’s use of or conduct on the Site.

  %h2="Modification to Terms"
  %p
    Ideapi Limited reserves the right to change the Terms or policies regarding the use of the Site at any time and to notify you by updating the Service.

  %h2="Enforcement"
  %p
    If any part of the Terms or the Site’s Disclaimer cannot be enforced for any reason, this decision will not affect the validity of the remainder of the Terms and Disclaimer which will continue to be in full force and effect.

  %h2="Governing Law"
  %p
    The Terms are governed by the laws of the United Kingdom. You consent to the exclusive jurisdiction of the courts of the United Kingdom.

