- title "Tour"

%h1 Tour
= link_to "Try it for free. Signup in seconds", "/signup", :class => "try-button try-button-primary"
  
%ol.features
  %li.odd
    .content  
      %h2 Dashboard
      %p Overview of all briefs you are collaborating on.      
    %img{:src => "../images/screenshots/dashboard.png", :alt => "Dashboard"}/
  %li.even
    .content
      %h2 Brief
      %p View, comment and discuss a brief and its contents.
      %p ideapi captures a full history of all discussions.
    %img{:src => "../images/screenshots/brief.png", :alt => "Content"}/
  %li.odd
    .content
      %h2 Edit Brief
      %p A brief can be re-calibrated by its author as necessary.
    %img{:src => "../images/screenshots/edit_brief.png", :alt => "Edit Brief"}/
  %li.even
    .content
      %h2 Idea
      %p Capture your thoughts and ideas. Submit your response to a brief when you are ready.
      %p Appraise all ideas submitted; request amendments, approve or drop.
    %img{:src => "../images/screenshots/idea.png", :alt => "Idea"}/
