<% title "Tour" %>

<div class="tour-section">
	<h1>Watch the tour</h1>
  <div class="object">
    <object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11616621&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11616621&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="700" height="450"></embed></object>
  </div>


</div>


<div class="tour-section">
	<h1>Dashboard</h1>
	<p>Overview of all briefs you are collaborating on.</p>
	<img src='../images/screenshots/dashboard.png' />
</div>

<div class="tour-section">
	<h1>Brief</h1>
	<p>View, comment and discuss a brief and its contents.</p>
<p>ideapi captures a full history of all discussions.</p>
	<img src='../images/screenshots/brief.png' />
</div>

<div class="tour-section">
	<h1>Edit Brief</h1>
	<p>A brief can be re-calibrated by its author as necessary.</p>
	<img src='../images/screenshots/edit_brief.png' />
</div>

<div class="tour-section">
	<h1>Idea</h1>
	<p>Capture your thoughts and ideas. Submit your response to a brief when you are ready.</p>
	<p>Appraise all ideas submitted; request amendments, approve or drop. </p>
	<img src='../images/screenshots/response.png' />
</div>
