- title "Tour"

#tour-intro
  %h2.title Take a tour
  -# %hr.faded
#tour-slides
  #slider
    %ul.features
      %li
        .content
          %h2 Work together on your documents
          :markdown
            Create a structured document online, with headings and sections. Discuss individual sections with your team (or your clients, grandma etc). Enrich your document with images and attachments.
    
          %img.screenshot{:src => "../images/screenshots/document_view.png", :alt => "Sections of a document"}/

      %li
        .content
          %h2 Create new documents your way
          :markdown
            Build reusable document templates that support your organisation. Reduce the time it takes to start a document.
    
          %img.screenshot{:src => "../images/screenshots/add_new_section.png", :alt => "Add new sections to documents"}/

      %li
        .content
          %h2 Boost Your Creativity
          :markdown
            Allow team members to upload ideas and supporting media in response to documents. Control your approvals process in one place.
    
          %img.screenshot{:src => "../images/screenshots/idea.png", :alt => "An approved idea"}/

      %li
        .content 
          %h2 Stay up to date with changes to your documents
          :markdown
            Track changes to individual sections ‚Äì see who changed what and when. Get notified by email when something changes.
          %img.screenshot{:src => "../images/screenshots/discussion.png", :alt => "Discuss individual sections of documents"}/

      %li
        .content 
          %h2 Control who sees what
          :markdown
            Choose who to involve in each of your projects. Manage who can view or edit individual documents.
          %img.screenshot{:src => "../images/screenshots/collaborator_widget.png", :alt => "Collaborator widget"}/




= custom_footer do
  .large-quote
    .quote
      .before
        %img{:src => '/images/icons/lquote.png', :alt=> ""}/
      .content
        :markdown
          …perfect for an organisation like ours working with many different groups and individuals all in different time zones…
    
      .after
        %img{:src => '/images/icons/rquote.png', :alt=> ""}/
    .cite
      %cite Philippa White, Founder &amp; Managing Director, <br/>The International Exchange