- title "Tour"

%h1 Tour
= link_to "Try it for free. Signup in seconds", "/signup", :class => "try-button try-button-primary"
  
%ol.features
  %li.odd
    .content  
      %h2 Dashboard
      %p Overview of the briefs that you are working on.   
    %a{:href => "../images/screenshots/dashboard.png", :rel => "lightbox"}
      %img{:src => "../images/screenshots/dashboard.png", :alt => "Dashboard"}/
  %li.even
    .content
      %h2 Brief
      %p Collaborate on your brief with others and let ideapi capture a full history of all iterations and discussions.
    %a{:href => "../images/screenshots/brief.png", :rel => "lightbox"}
      %img{:src => "../images/screenshots/brief.png", :alt => "Content"}/
  %li.odd
    .content
      %h2 Edit Brief
      %p Take on board comments and suggestions from others, update your brief and add formatting if required.
    %a{:href => "../images/screenshots/edit_brief.png", :rel => "lightbox"}  
      %img{:src => "../images/screenshots/edit_brief.png", :alt => "Edit Brief"}/
  %li.even
    .content
      %h2 Idea
      %p Submit your response to a brief - when you are ready, submit your idea for approval. 
    %a{:href => "../images/screenshots/idea.png", :rel => "lightbox"}  
      %img{:src => "../images/screenshots/idea.png", :alt => "Idea"}/
