- title "Who's it for?"

#content-heading
  %h2.title Who's it for?
  .signup
    = link_to "Sign Up Now", "/signup", :class => "try-button try-button-primary"          
    .meta
      for free!
.large-copy.who
  :markdown
    ideapi is a tool for any person or company that wants to create, collaborate on and approve documents in a simple yet structured way. Whether they be briefs, proposals or ideas, ideapi will help you to create better content.
    
    Here some examples of some industries that are currently using ideapi and how they are using it:
    
    * ### Marketing &amp; advertising
      Using ideapi to create, collaborate and approve their briefs and ideas. They are including their creatives, planners, account handlers, partner agencies and clients. ideapi has been tagged by some as their "online job bag".
      

    * ### Recruitment consultants &amp; headhunters
      Using ideapi to manage client briefs and submit candidate CVs for review.

    * ### Teachers &amp; students
      Using ideapi to set and review assignments. Essays and answers can be reviewed in line and updates tracked easily. 

    * ### Contract lawyers
      Using ideapi to create structured templates for legal documents. They can collaborate easily and securely on the detail with clients and colleagues; anywhere and anytime.

    * ### Copywriters
      Using ideapi to create content and then review with their clients. They can collaborate with others and ask questions, while keeping all their communication in one place.

    * ### Graphic designers
      Using ideapi to communicate more easily with clients ensure clearer briefs and subsequently better responses. 

    * ### Estate agents
      Using ideapi to allow clients to fill out property briefs online and subsequently efficiently communicate to make sure the right properties can be chosen. Clients are able accept or reject properties easily. 

    * ### Wedding/Event planners
      Using ideapi to discuss and plan each stage of their clients’ weddings or events.
