- title "FAQ"

%h2.title Who's it for?

.large-copy.who
  :markdown
    * ### Marketing &amp; advertising
      Create the template you need. 
      Creatives, planners, account handlers, partner agencies and clients can create, collaborate and approve briefs and ideas. 
      Store all your briefs and brief templates in one place.

    * ### Recruitment consultants &amp; headhunters
      Manage all client briefs and submit your candidate CVs for review - all in one system.

    * ### Teachers &amp; students
      Set assignments (by creating templates), allow students to respond by creating a document based on the template. 
      Collaborate with students on submitted assignments, discussing each answer in place.
      Use ideas to add external documents to the assignment

    * ### Contract lawyers
      Create structured templates for your legal documents.
      Collaborate easily on the detail with clients and colleagues; anywhere and anytime, secure, access.

    * ### Copywriters
      Receive your brief and create your copy. Keep all your work in one place.
      Collaborate with others, ask the client questions, keeping all your communication in one place.

    * ### Graphic designers
      Communicate more easily with clients to ensure clearer briefs.
      Keep all your briefs and ideas in one place.
      Inform the customer when work is ready for review, manage the process of selecting design candidates.

    * ### Estate agents
      Allow clients to fill out their own property brief online, refine their responses using the in document collaboration.
      Submit possible properties matching their criteria as ideas for the client to accept or reject.

    * ### Wedding/Event planners
      Discuss and plan each stage of your clients’ weddings and submit suggestions for different aspects of the event.
