.document_item
  - unless document.active?
    =render :partial => 'change_state', :locals => { :document => document }
  %h3
    - if document.draft?
      %span.flag
        draft
    - if document.user_documents.for_user(current_user).present? and document.active?
      - document.user_documents.for_user(current_user).document_role[:label].split(',').each do |lbl|
        %span.user_context= lbl
    =link_to truncate(document.title, :length => 70), document, :title => document.title
        
