.document_item
  - unless document.active?
    =render :partial => 'change_state', :locals => { :document => document }
  %h3
    - if document.draft?
      %span.flag
        draft
        
    - if document.tags_from(current_account).any?
      - document.tags_from(current_account).each do |tag|
        %span.user_context= tag
    =link_to truncate(document.title, :length => 70), document, :title => document.title
        
