%p This is a preview of the document items that will be included in the final document, once published.
.fb
  %div[current_object]
    %h2 
      =truncate(current_object.title, :length => 30)
    .most_important_thing
      %p
        %span.left &ldquo;
        =current_object.most_important_message
        %span.right &rdquo;
    -if current_object.document_items.empty?
      %p.message This document is empty, answer some of the questions to populate the document.
    =render :partial => 'document_item', :collection => current_object.document_items.answered, :locals => { :draft => current_object.draft? }