%div[brief_config]
  %p.title
    %strong Title
    = h brief_config.title

  = link_to 'Show', object_path(brief_config)
  |
  = link_to 'Edit', edit_object_path(brief_config)
  |
  = link_to 'Destroy', object_path(brief_config), :confirm => 'Really destroy brief_config?', :method => :delete
