%h1 Creating brief_config

= error_messages_for :brief_config

- form_for(:brief_config, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p
    = submitter "Create"
    .clear
    
= link_to 'Back', objects_path
