%div.brief_item_activity
  -if brief_item.timeline_events.present? and local_assigns[:print].nil?
    %ul.brief_item_history
      -brief_item.timeline_events.each do |event|
        -if event.subject.is_a?(Question)
          =render :partial => 'briefs/question', :object => event.subject, :locals => { :show_relation => false }
        -elsif event.subject.is_a?(BriefItem::Version)
          =render :partial => 'briefs/brief_item_version', :locals => {:subject => event.subject, :object => event, :current_object => @brief}
  .question_form
    =medium_avatar
    -current_object = brief_item.brief
    - form_for(@user_question, :url => brief_questions_path(@brief), :html => { :id => "new_user_question_#{brief_item.id}"}) do |f|
      = render :partial => "briefs/question_form", :locals => {:f => f, :brief_item => brief_item}