%div{:class => "ask_question brief_item_history"}
  -if brief_item.timeline_events.present? and local_assigns[:print].nil?
    %ul.brief_item_history
      -brief_item.timeline_events.each do |event|
        -if event.subject.is_a?(Question)
          =render :partial => 'question', :object => event.subject, :locals => { :show_relation => false }
        -elsif event.subject.is_a?(BriefItem::Version)
          =render :partial => 'brief_item_version', :locals => {:subject => event.subject, :object => event}
  .question_body
    =medium_avatar
    - form_for(@user_question, :url => brief_questions_path(current_object), :html => { :id => nil}) do |f|
      = render :partial => "question_form", :locals => {:f => f, :brief_item => brief_item, :counter => brief_item_counter}

  %div.clear
