.briefs_list
  %h3= h title
  - if briefs.empty?
    -if author?
      %p 
        There are no briefs here yet, 
        =link_to 'create one?', new_brief_path
    -else
      %p 
        There are no briefs yet,
        =link_to 'login and create one?', new_user_session_path
  - else
    %table{:width => "100%"}
      %tr
        %th{:width => "50%"} Name
        %th Responses
        %th Actions
      = render :partial => 'brief', :collection => briefs