%div[brief_item]{:class => (brief_item.has_history? ? "extended" : "")}
  %h3
    =brief_item.title
    -if brief_item.has_history?
      %span.current_revision
        %span.revision
          Version
          =brief_item.version
        %span.updated_at
          updated
          =time_ago_in_words(brief_item.updated_at) 
          ago
        %span.question_count
          =brief_item.creative_questions.count
          Questions answered
  %p.body
    -if brief_item.body.blank? && draft
      ="You have yet to #{link_to 'answer', edit_brief_path(current_object)}, the question would disappear if published."
    -else
      =brief_item.body
      
  %p=link_to 'Ask a question', brief_creative_questions_path(current_object), :rel => 'facebox'
      
  -if brief_item.has_history?      
    %ul.brief_item_history
      -brief_item.history.each do |history_item|
        -if history_item.is_a?(CreativeQuestion)
          =render :partial => 'creative_questions/question', :object => history_item
        -else
          =render :partial => 'brief_item_version', :object => history_item