%div[brief_item]
  %h3
    =brief_item.title
    %span.updated
      -if brief_item_updated_for_user?(brief_item)
        ="- updated"
  
  %p.body
    -if brief_item.body.blank? && draft
      ="You have yet to #{link_to 'answer', edit_brief_path(current_object)}, the question would disappear if published."
    -else
      =brief_item.body_parsed
      
  .actions
    -if brief_item.has_history?
      =link_to "recent activity (#{brief_item.history.size})", brief_questions_path(current_object, :brief_item_id => brief_item.id), :class => "recent_activity"
    -if !owner?(current_object)
      =link_to 'ask question/comment', brief_questions_path(current_object, :brief_item_id => brief_item.id)
  
  -if (!defined?(@print_mode)) || (defined?(@print_mode) && @print_mode.to_i == 1)
    -if brief_item.has_history?
      .brief_item_history
        -brief_item.history_grouped_by_fancy_date_including_user(current_user).each do |date, history_items|
          %p.updated
            %span
              ="#{time_ago_in_words(Time.at(date))} ago"
          %ul
            -history_items.each do |history_item|
              -if history_item.is_a?(Question)
                =render :partial => 'questions/question', :object => history_item, :locals => { :show_relation => false }
              -else
                =render :partial => 'brief_item_version', :object => history_item