.brief_item
  %h3
    =link_to truncate(brief.title, :length => 50), show_brief_path(brief)
    -if brief.active?
      %span.user_context=brief.role_for_user?(current_user)[:label]
  
  -if brief.active?
    
    / %ul.activity_stream
    /   -brief.timeline_events(:include_brief_items => true).each do |activity|
    /     %li
    /       .date=time_ago_in_words_with_word(activity.created_at)
    /       %span=stream_item(activity)
        
    =link_to brief.timeline_events(:include_brief_items => true).length, show_brief_path(brief), :class => "toggle_activity_stream"
    
  -else
    =render :partial => 'change_state', :locals => { :brief => brief }