%div[brief_item]{:class => (brief_item_updated_for_user?(brief_item) ? "updated" : "")}
  -if brief_item.is_heading?
    %h3
      =brief_item.title
  -else
    %h4
      =brief_item.title
  %div.body
    -if brief_item.body.present?
      :textile
        #{brief_item.body}

  -if !brief_item.is_heading?
    %ul.actions
      
      -if current_object.active? 
        
        %li=link_to comments_tab(brief_item), '#', {:class => 'toggle_ask_question'}
      / -if brief_item.timeline_events.present?
      /         %li=link_to 'History', '#', {:class => 'toggle_brief_item_history'}
    
    -if current_object.active?
      = render :partial => "activity_stream", :locals => {:brief_item => brief_item, :brief_item_counter => brief_item_counter}
  .clear