%div[brief_item]
  %h3
    =brief_item.title
    %span.updated
      / -if brief_item_updated_for_user?(brief_item)
      /   ="- updated"
  
  %p.body
    -if brief_item.body.present?
      =brief_item.body_parsed
  
  -if brief_item.timeline_events.present?
    .brief_item_history
      %ul
        -brief_item.timeline_events.each do |event|
          -if event.subject.is_a?(Question)
            =render :partial => 'question', :object => event.subject, :locals => { :show_relation => false }
          -elsif event.subject.is_a?(BriefItem::Version)
            =render :partial => 'brief_item_version', :object => event.subject
  
  .ask_question
    .question_body
      =medium_avatar
      - form_for(@user_question, :url => brief_questions_path(current_object)) do |f|
        = render :partial => "question_form", :locals => {:f => f, :brief_item => brief_item }
      %span.clear
  
    