%div[brief_item]{:class => (brief_item_updated_for_user?(brief_item) ? "updated" : "")}
  %h3
    =brief_item.title
  %p.body
    -if brief_item.body.present?
      =brief_item.body_parsed

  %ul.actions{:style => "visible: none;"}
    -if current_object.active?
      %li=link_to 'Comment', '', {:class => 'toggle_ask_question'}
    -if brief_item.timeline_events.present?
      %li=link_to 'History', '', {:class => 'toggle_brief_item_history'}
  
  -if current_object.active?
    .ask_question
      .question_body
        =medium_avatar
        - form_for(@user_question, :url => brief_questions_path(current_object)) do |f|
          = render :partial => "question_form", :locals => {:f => f, :brief_item => brief_item }
        %span.clear
  
  .clear
  
  -if brief_item.timeline_events.present?    
    %ul.brief_item_history
      -brief_item.timeline_events.each do |event|
        -if event.subject.is_a?(Question)
          =render :partial => 'question', :object => event.subject, :locals => { :show_relation => false }
        -elsif event.subject.is_a?(BriefItem::Version)
          =render :partial => 'brief_item_version', :object => event.subject
  

     