#options-menu
  %ul.object-actions
    %li.show-tags
      = link_to "tags", "#", :id => "brief-tags-toggle"
      
    %li.edit-brief
      -if owner?(current_object) and current_object.active?
        =link_to 'edit', edit_brief_path(current_object), :title => 'Edit brief', :class => 'edit_brief'
    %li.print-brief
      =link_to 'print', brief_path(current_object, :print_mode => 1), :title => "print brief document", :class => "print_brief"

    %li.clear-history
      -if owner?(current_object) and current_object.active?
        - form_tag clean_brief_url(current_object) do |f|
          = link_to "clear history", clean_brief_url(current_object), :class => "clean_brief"
        :javascript
          $('a.clean_brief').click(function(){
            var answer = confirm("Are you sure? You will delete all history, comments, questions and answers in this brief.")
            if(answer){
              $(this).parent().submit();
            }
            return false;
          });
    %li.delete-brief
      - if owner?(current_object)
        -form_for current_object, :html => { :method => :delete } do |f|
          =hidden_field_tag '_flash[notice]', 'Brief deleted'
          =f.submit 'delete', :confirm => "Are you sure?"
      