%li.brief_section_brief_question{:class => "#{brief_question.optional ? 'optional_brief_question': ''}"}
  %div[brief_question]
    %h4.brief_question_title=brief_question.title
    -if !brief_question.help_text.blank?
      %p.brief_question_help=brief_question.help_text
  -brief_answer = current_object.brief_answer_for(brief_question, brief_section)
  %div[brief_answer]
    =text_area_tag "brief_answers[#{brief_answer.id}][body]", brief_answer.body
  .clear