%div[brief_item]
  %h3=brief_item.title
  %p
    -if brief_item.body.blank? && draft
      ="You have yet to #{link_to 'answer', edit_brief_path(current_object)}, the question would disappear if published."
    -else
      =brief_item.body