.brief_item
  %h3
    - if brief.draft?
      %span.flag
        draft
    =link_to truncate(brief.title, :length => 55), show_brief_path(brief)
    -if brief.active? and not brief.role_for_user?(current_user)[:label] == 'collaborator'
      %span.user_context=brief.role_for_user?(current_user)[:label]
  - unless brief.active?
    =render :partial => 'change_state', :locals => { :brief => brief }
