%li.revision
  .revision-body
    .info
      .buttons
        = link_to "show", "#", :class => 'toggle_revision_body'
        = link_to "delete", timeline_event_url(object), :class => "remote-delete"
      %h5 Section Update
    .body
      %p
    
        %strong 
          Author changed section from:
      .item-revision-body
        :textile
          #{subject.body}
      %p
        %em="(#{comment_date(object.created_at)})"