%li[brief]
  %p
    =link_to brief.title, (brief.published? ? brief_path(brief) : edit_brief_path(brief))
    -if current_user.proposal_for(brief).present?
      ="(#{creative_response_link(brief, current_user.proposal_for(brief))})"