-#.side_box
-#  %h2 
-#    Brief Collaborators
-#    %span
-#  
-#  .contents#collaboration_form  
-#    -if current_object.author?(current_user)
-#      =render :partial => 'collaboration_form'
-#    -else
-#      =render :partial => 'collaboration_list'