- unless current_object.draft?    
  .comments_area
    %h4 Comments
    %ul.comments
      - if current_object.comments.blank?
        %li
          %p There have been no comments
      -current_object.comments.each do |comment|
        %li[comment]        
          %p.comment_body
            =small_avatar(comment.user)
            %span.speech
              %strong
                = succeed ':' do
                  =given_name(comment.user)
              =comment.comment
              %span.delete-comment
                -if comment.user == current_user or current_object.author == current_user
                  =# link_to_remote 'delete ajax', :url => comment_url(comment), :method => :delete
                  = link_to('delete', { :action => "destroy", :controller => 'comments', :id => comment }, :confirm => "Are you sure you want to delete this comment?", :method => :delete)
            %div.clear  
      -if current_object.active?
        %li
          .comment
            #comment_form.comment_form
              =medium_avatar            
              - form_for :comment, :url => comments_path do |f|
                =hidden_field_tag :brief_id, current_object.id
                .speech=f.text_area :comment, :rows => 5, :cols => 80

                %p.submit
                  =f.submit "submit"