%p
  %label{:for => "title"} Title:
  = f.text_field :title
%p
  %label{:for => "most_important_message"} Most important thing you wish to say:
  = f.text_area :most_important_message, :rows => "5", :cols => 60