-if current_object.all_involved.present?
  .discussion_stats
    %h2 
      People on this brief
      %span
    %ul.watching
      -current_object.all_involved.each do |friend|
        %li
          =small_avatar(friend)
          %p
            =link_to truncate(friend.login, :lenght => 10), user_path(friend)
            -if friend.eql?(current_object.user)
              %span.author - AUTHOR
            %br
            %span
              -if friend.last_request_at.present?            
                =distance_of_time_in_words_to_now(friend.last_request_at)
                ago
              -else
                Never logged in
                
-if owner?(current_object)
  .invite_users{:style => "margin-bottom: 1em"}
    %h4 Invite contacts to participate
    -if current_user.friends_not_watching(current_object).present?
      -form_for 'invitation', :url => invite_brief_path(current_object) do |f|
        %p
          =f.select 'user', current_user.friends_not_watching(current_object).map { |friend| [friend.login, friend.id] }, :include_blank => true
          =f.submit 'Invite'
    -else
      %p No contacts left to add

  .invite_users
    %h4 
      Or invite others
      ="(#{current_user.invite_count} remaining)"
    -if current_user.has_invites?  
      -form_for @invitation, :url => invitations_path do |f|
        =f.text_area 'recipient_list', :title => 'Enter email addresses here'     
        =f.hidden_field 'redeemable_id'
        =f.hidden_field 'redeemable_type'
        =f.submit 'Invite'
    -else
      %p You don't have any invites to give.
      
.hr

  %p Know someone who might like ideapi?