-form_for(question, :url => brief_question_path(current_object, question), :method => :put) do |f|
  .speech
    =f.text_area :author_answer, :rows => 5, :cols => 80
    %p.button=f.submit "submit"
  .clear
