=hidden_field_tag 'question[brief_item_id]', brief_item.id, :id => nil
.speech
  =f.text_area :body, :rows => 10, :cols => 80, :id => "question_body_#{counter}"
  %p.button=f.submit "submit", :class => "awesome large blue", :id => "question_submit_#{counter}"
.clear
