- if current_object.available_collaborators.present?
  %ul.add_collaborators
    - current_object.available_collaborators.each do |available_collaborator|
      -if available_collaborator.present?
        = render :partial => 'briefs/collaborator', :locals => {:collaborator => available_collaborator, :current_object => current_object, :available => true}

%ul.collaborators
  =render :partial => 'briefs/collaborator', :collection => current_object.user_briefs, :as => :user_brief, :locals => {:current_object => current_object}