=title_holder do
  %h2 Search results
  =link_to 'dashboard', briefs_path, :class => "button"

.col_1
  %h3 
    You searched for
    ="&ldquo;#{params[:q]}&rdquo;"
  = render :partial => "search_form"
  .hr
  
  .search_results
    %h3 Your search results
    %ul.brief_list
      -if @search_results.empty?
        %li
          %p Sorry, no briefs were found
      -else
        = render :partial => "search_result", :collection => @search_results
      