=sub_nav do
  =breadcrumb_list

.col_1

  %h2
    Manage users
    
  - form_for(current_object, :url => brief_path(current_object), :html => { :method => :put }) do |f|
    %table.collaborators
      %tr
        %th.user
          &nbsp;
        %th 
          Author
        %th
          Approver
        %th  
          Remove?
      
      - f.fields_for :user_briefs do |collaboration_form|
        -unless collaboration_form.object.new_record?
          %tr
            %td.user
              =given_name(collaboration_form.object.user)
            %td=collaboration_form.check_box :author
            %td=f.radio_button 'approver_id', collaboration_form.object.user_id
            %td=collaboration_form.check_box '_delete'
    %p.submit=f.submit 'update'
    
  - form_for(current_object, :url => brief_path(current_object), :html => { :method => :put }) do |add_contact_form|
    - add_contact_form.fields_for :user_briefs do |add_collab_form|
      -if add_collab_form.object.new_record?
        %p
          -if current_user.friends_not_collaborating(current_object).present?       
            %label{:style => "width: 10em"} Add collaborator
            %p
              =add_collab_form.select "user_id", current_user.friends_not_collaborating(current_object).map {|u| [u.login, u.id] }, { :include_blank => true }
              =#collaboration_form.check_box :author
              =add_contact_form.submit 'Add to brief'
          -else
            All your contacts are collaborating on this brief
              