=sub_nav do
  =breadcrumb_list
  -if current_object.draft?
    %li=link_to 'preview document', brief_path(current_object), :class => "awesome small" , :rel => "facebox"

.col_1.edit_brief
  / #edit_brief_details
  /   %h3 Edit brief details
  /   - form_for(current_object, :html => { :method => :put }) do |brief_form|
  /     =render :partial => 'form', :locals => { :f => brief_form }   
  /     %p.submit        
  /       =submit_tag 'update'
  /     %p.cancel=link_to 'cancel', '#'
  /     .clear
  
  / %h3.brief_document
  /   Brief Document
  /   %span - this is the heart of your proposal, answer as thoroughly as possible
  / 
  / = error_messages_for :brief
  / 
  / 
  -if current_object.draft?
    .note 
      %h3 Writing a brief
      %p The body of your brief can contain any of the sections listed below. To add a section to your brief, simply click the plus button. You can include as many of the sections as you wish. The more care you take with the information you enter, the easier it will be for colleagues to provide useful feedback.
  
  - form_for(current_object, :html => { :method => :put }) do |brief_form|
  
    %div[current_object]
      %h2 
        =truncate(current_object.title, :length => 30)
      .most_important_thing
        %p
          %span.left &ldquo;
          =current_object.most_important_message
          %span.right &rdquo;
    
      -current_object.brief_items.each do |brief_item|
        =hidden_field_tag "brief[brief_items_attributes][#{brief_item.id}][id]", brief_item.id
        %div[brief_item]
          %h3
            =brief_item.title

          %p.body=text_area_tag "brief[brief_items_attributes][#{brief_item.id}][body]", brief_item.body
          -if !brief_item.help_message.blank?
            %p.help_message
              %strong Example:
              = brief_item.help_message
            

    -if current_object.draft?
      %p.submit=brief_form.submit 'publish'        
      %p.submit=brief_form.submit 'save draft'
    -else 
      %p.submit=brief_form.submit 'update'
 
  .clear
          
  .hr
  %p=link_to 'delete brief', brief_path(current_object), :method => :delete, :confirm => "Are you sure?"
  
.col_2
  .discussion
    %p.join_discuss
      -if current_object.published?
        =link_to 'Back to brief »', brief_path(current_object), :class => "awesome blue large", :style => "text-transform: uppercase"
      -else
        =link_to 'Back to briefs »', briefs_path, :class => "awesome blue large", :style => "text-transform: uppercase"
        