=content_for :page_title do
  %h2
    Editing brief
    =link_to current_object.title.titlecase, brief_path(current_object)
    
= error_messages_for :brief

- form_for(:brief, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => {:f => f}
    
  =# render :partial => "form_brief_section", :collection => current_object.brief_sections, :locals => { :f => f }
  
  %p= submitter "Update"
  .clear
  