=sub_nav do
  =breadcrumb_list
  %li{:class => "secondary"}
    =link_to 'create brief', new_brief_path, :class => "awesome small"

#dashboard.col_1
  %h2.salu=salutation
  
  -if flash[:note]
    .note
      %h3 Welcome to the dashboard. 
      %p=flash[:note]
      
  .brief_overviews
    -if current_objects.empty?
      %p You don't have any briefs yet.
    -else  
      -current_objects.each do |state, briefs|
        -if !briefs.empty?
          .brief_overview{:class => state.to_s}
            %h3="#{state.to_s.capitalize} briefs"
            %ul
              =render :partial => 'brief', :collection => briefs
              
.col_2.dashboard
  =render :partial => 'users/invite'