=title_holder do
  %h2 Dashboard
  =link_to 'Create Brief', new_brief_path, :class => "button"

.required_actions
  %h3 Activity Snapshot
  -if current_objects.empty?
    %p Once you have created some briefs, any outstanding actions you need to perform will be listed here.
  -else
    %p Coming soon to an Ideapi near you ..
  
.brief_overviews
  -if current_objects.empty?
    %p You don't have any briefs yet.
  -else  
    -%w(published drafts).each do |state|
      -if !send(state).empty?
        %h4="#{state.capitalize} briefs"
        %ul{:class => state}
          =render :partial => 'brief', :collection => send(state)