#dashboard.col_1
  .boom_box
    %h3 Looking for a brief?
    = render :partial => "search_form"
    
  .required_actions
    %h3 Activity Snapshot  
    %ul.action_list
      -if current_objects.empty?
        %li
          %p Once you get involved with some briefs, either by watching, asking a question or submitting a proposal relevant actions will appear here.
      -else
        %li 
          %p Coming soon to an Ideapi near you ..
  
  .brief_overviews
    -if current_objects.empty?
      %p You aren't involved with any briefs yet, try searching above.
    -else  
      -%w(watching pitching under_review complete).each do |state|
        -if !send(state).empty?
          .brief_overview
            %h4="#{state.capitalize}"
            %ul{:class => state}
              =render :partial => 'brief', :collection => send(state)
