=sub_nav do
  =breadcrumb_list
  -if current_user_can_create_briefs?
    %li{:class => "secondary"}
      =link_to 'Create brief', new_brief_path

#dashboard.col_1

  -if flash[:note].present?
    .note
      %h3 Welcome to the dashboard. 
      %p=flash[:note]
      
  .brief_list
    %h2 
      Your active briefs
    -if current_objects.empty?
      .brief_item
        %h3 
          You have no briefs -
          =link_to 'create a brief', new_brief_path
          to get started.
    -else  
      =render :partial => 'brief', :collection => current_objects
      
.col_2.dashboard

  -if completed_briefs.present?
    .side_box
      %h2 
        Recently Completed
        %span

      .contents  
        %ul.completed_briefs
          -completed_briefs.each do |brief|    
            %li
              %p
                =link_to truncate(brief.title, 10), brief_path(brief)
              
        =link_to 'View all completed briefs', completed_briefs_path, :class => "action"