=sub_nav do
  =breadcrumb_list
  %li{:class => "secondary"}
    =link_to 'create brief', new_brief_path, :class => "awesome small"

#dashboard.col_1
  %h2.salu=salutation
  
  .note
    %h3 Welcome to the dashboard. 
    %p Your &lsquo;Watching briefs&rsquo; list already contains one brief. You have been invited to collaborate on this brief by INVITOR. We&rsquo;ve added a sample brief to your &lsquo;Watching Briefs&rsquo; list below. Click on the title to see how ideapi can be used to produce better briefs.
      
  .brief_overviews
    -if current_objects.empty?
      %p You don't have any briefs yet.
    -else  
      -current_objects.each do |state, briefs|
        -if !briefs.empty?
          .brief_overview{:class => state.to_s}
            %h3="#{state.to_s.capitalize} briefs"
            %ul
              =render :partial => 'brief', :collection => briefs
              
.col_2.dashboard
  =render :partial => 'users/invite'