=title_holder do
  %h2 Dashboard
  =link_to 'Create Brief', new_brief_path, :class => "button"

.required_actions
  %h3 Activity Snapshot
  -if current_objects.empty?
    %p Once you have created some briefs, any outstanding actions you need to perform will be listed here.
    
.brief_overviews
  %h3 Brief Overviews
  -if current_objects.empty?
    %p You don't have any briefs yet.