=content_for :page_title do
  %h2   
    -if author?
      Active Briefs
      =link_to 'Create new brief', new_object_path
    -else
      Popular briefs

.brief_list{:style => "margin: 0 1em;"}
  -if author?
    =render :partial => 'brief_table', :locals => {:briefs => current_user_briefs}
  -else
    =render :partial => 'brief_table', :locals => {:briefs => current_objects}