=sub_nav do
  =breadcrumb_list
  %li{:class => "secondary"}
    =link_to 'create brief', new_brief_path, :class => "awesome small"

#dashboard.col_1
  %h2.salu=salutation
  
  -if flash[:note].present?
    .note
      %h3 Welcome to the dashboard. 
      %p=flash[:note]
      
  .brief_list
    %h2 
      dashboard
    -if current_objects.empty?
      %p You don't have any briefs yet.
    -else  
      =render :partial => 'brief', :collection => current_objects
      
.col_2.dashboard
  =render :partial => 'users/invite'