%ul.sub_nav
  %li=link_to 'create brief', new_brief_path
  
#dashboard.col_1
  
  %h2.salu=salutation

  .required_actions
    %h3 Recent activity
    %ul.action_list
      -if current_objects.empty?
        %li 
          %p Once you have created some briefs, any outstanding actions you need to perform will be listed here.
      -else
        %li 
          %p Coming soon to an Ideapi near you ..
  
  .brief_overviews
    
    %h2 Your briefs
  
    -if current_objects.empty?
      %p You don't have any briefs yet.
    -else  
      -%w(published draft).each do |state|
        -if !send(state).empty?
          .brief_overview{:class => state}
            %h3="#{state.capitalize} briefs"
            %ul
              =render :partial => 'brief', :collection => send(state)