=sub_nav do
  =breadcrumb_list

  %li{:class => "secondary"}
    =link_to 'create brief', new_brief_path, :class => "awesome small"

  
#dashboard.col_1
  
  %h2.salu=salutation

  .required_actions
    %h3 Recent activity
    %ul.action_list
      %li 
        %p Coming soon to an Ideapi near you ..
  
  .brief_overviews
    
    %h2 Your briefs
  
    -if current_objects.empty?
      %p You don't have any briefs yet.
    -else  
      -current_objects.each do |state, briefs|
        -if !briefs.empty?
          .brief_overview{:class => state.to_s}
            %h3="#{state.to_s.capitalize} briefs"
            %ul
              =render :partial => 'brief', :collection => briefs