=sub_nav do
  =breadcrumb_list
  %li{:class => "secondary"}=link_to 'back to briefs', briefs_path, :class => "awesome small"

.col_1
  
  %h2 Create new brief
  
  #write_new_brief.note
    %h3 Creating a brief
    %p Choose a title to concisely refer to your brief – this is how your brief will be listed in ideapi. 
    %p The &lsquo;One Line Brief&rsquo; should summarise your brief to a single communications requirement.
  
  .boom_box
    = error_messages_for :brief

    - form_for(:brief, :url => objects_url) do |f|
      = render :partial => "form", :locals => {:f => f}
      %p.submit
        = submit_tag "Create"
        .clear