%h1 Creating brief

= error_messages_for :brief

- form_for(:brief, :url => objects_url) do |f|
  = render :partial => "form", :locals => {:f => f}
  %p= submit_tag "Create"

= link_to 'Back', objects_path
