=sub_nav do
  =breadcrumb_list
  %li{:class => "secondary"}=link_to 'back to briefs', briefs_path, :class => "awesome small"

.col_1
  
  %h2 Create new brief
  
  .boom_box
    = error_messages_for :brief

    - form_for(:brief, :url => objects_url) do |f|
      = render :partial => "form", :locals => {:f => f}
      %p.submit
        = submit_tag "Create"
        .clear