%h2=current_object.title.titlecase
%div[current_object]
  -current_object.brief_answers.answered.group_by(&:brief_section).each do |section, answers|
    =render :partial => "brief_section", :locals => { :brief_section => section, :answers => answers }