=title_holder do
  %h2=current_object.title
  
  -if creative?
    -form_for current_object, :url => watch_brief_path(current_object), :html => { :method => :post } do |f|
      -if current_user.watching?(current_object)
        =f.submit 'stop watching'
      -else
        =f.submit 'watch'
    
%p.most_important_thing=current_object.most_important_message

.col_1
  
  %ul.tabbed_links
    %li=tab_link 'Overview', brief_path(current_object)
    %li=tab_link 'Questions', brief_creative_questions_path(current_object)

  %div[current_object]
    -if current_brief_items.empty? && current_object.published?
      %p This document is empty
    =render :partial => 'brief_item', :collection => current_brief_items, :locals => { :draft => false }
  