%h2=current_object.title.titlecase

%div[current_object]
  - form_for(:brief, :url => object_url, :html => { :method => :put }) do |f|
    =render :partial => "section", :collection => current_object.sections, :locals => { :f => f }
    %p= submitter "Update"
  
  .clear
  
  %h3 Comments
  =render :partial => "comment", :collection => current_object.comments

