%h1 
  Brief:
  =current_object.title.titlecase

%div[current_object]
  - form_for(:brief, :url => object_url, :html => { :method => :put }) do |f|
    =render :partial => "section", :collection => current_object.sections, :locals => { :f => f }
    %p= submit_tag "Update"
  
= link_to 'Edit', edit_object_path
|
= link_to 'Destroy', object_path, :confirm => 'Really destroy brief?', :method => :delete
|
= link_to 'Back', objects_path
