=sub_nav do
  =breadcrumb_list    

.clear

.col_1
  -if flash[:note].present?
    .note
      %p=flash[:note]
      
  -unless current_object.active?
    .note
      %p 
        This brief has been marked as complete, and therefore is read-only.
        =render :partial => 'change_state', :locals => { :brief => current_object } 
      
  %div[current_object]
    .title
      %h2.show
        =current_object.title
      -if current_user.owns?(current_object)
        .actions
          = link_to "Show options", "#", :class => "show-options-menu"
    #options-menu
      %ul.object-actions
        %li
          -if owner?(current_object) and current_object.active?
            =link_to 'edit', edit_brief_path(current_object), :title => 'Edit brief', :class => 'edit_brief'
        %li
          =link_to 'print', brief_path(current_object, :print_mode => 1), :title => "print brief document", :class => "print_brief"

        %li
          -if owner?(current_object) and current_object.active?
            - form_tag clean_brief_url(current_object) do |f|
              = link_to "clean", clean_brief_url(current_object), :class => "clean_brief"
            :javascript
              $('a.clean_brief').click(function(){
                var answer = confirm("Are you sure? You will delete all history, comments, questions and answers in this brief.")
                if(answer){
                  $(this).parent().submit();
                }
                return false;
              });
    .most_important_thing
      %p
        %span.left &ldquo;
        =current_object.most_important_message
        %span.right &rdquo;
    -if current_object.brief_items_answered.empty?
      %p This document is empty
    -else
      =render :partial => 'brief_item', :collection => (current_object.brief_items.answered_or_heading)  
  =render :partial => 'comments'
  
.col_2  
  =render :partial => 'collaborators'
  =render :partial => 'responses'
  .discussion     
    =render :partial => 'questions/overview', :locals => { :overview_collection => current_object.questions } 
  =#render :partial => 'partials/textile_help'
