%h2=current_object.title.titlecase

%div[current_object]
  - form_for(:brief, :url => object_url, :html => { :method => :put }) do |f|
    =render :partial => "section", :collection => current_object.sections, :locals => { :f => f }
    %p= submitter "Update"
  
  .clear

  %hr
  
  #comments
    %h3 Comments
    
    =error_messages_for :comment
    
    =render :partial => "comments/comment", :collection => current_object.comments
  
    .new_comment
      -form_for(:comment, :url => brief_comments_path(current_object)) do |f|
        =render :partial => "comments/form", :locals => { :f => f }
        %p= submitter "Submit"
        .clear