=sub_nav do
  =breadcrumb_list    
  -if owner?(current_object)    
    %li.secondary=link_to 'edit brief', edit_brief_path(current_object)
    %li.secondary=link_to 'delete brief', brief_path(current_object), :method => :delete, :confirm => "Are you sure?"
  .clear

.col_1
  -if flash[:note].present?
    .note
      %p=flash[:note]
      
  %div[current_object]
    %h2 
      =truncate(current_object.title, :length => 30)
      =link_to 'print', brief_path(current_object, :print_mode => 1), :title => "print brief document", :class => "print_brief"
    .most_important_thing
      %p
        %span.left &ldquo;
        =current_object.most_important_message
        %span.right &rdquo;
    -if current_object.brief_items_answered.empty?
      %p This document is empty
    -else
      =render :partial => 'brief_item', :collection => (current_object.brief_items_answered)  
  =render :partial => 'comments'
  
.col_2  
  =render :partial => 'responses'
  =render :partial => 'collaborators'
  .discussion     
    =render :partial => 'questions/overview', :locals => { :overview_collection => current_object.questions } 
