%h2=current_object.title.titlecase

%div[current_object]
  - form_for(:brief, :url => object_url, :html => { :method => :put }) do |f|
    =render :partial => "brief_section", :collection => current_object.brief_sections, :locals => { :f => f }
    %p= submitter "Update"
  
  .clear