=sub_nav do
  =breadcrumb_list    
  -if owner?(current_object)    
    %li.secondary=link_to 'edit brief', edit_brief_path(current_object), :class => "awesome small"
    -if current_object.draft?
      %li.secondary=link_to 'delete brief', brief_path(current_object), :method => :delete, :confirm => "Are you sure?", :class => "awesome"
  -if !owner?(current_object)    
    %li.secondary.watch_form
      -form_for current_object, :url => watch_brief_path(current_object), :html => { :method => :post } do |f|
        -if current_user.watching?(current_object)
          =f.submit 'stop watching', :class => "awesome small"
        -else
          =f.submit 'watch', :class => "awesome small" 
  .clear 

.col_1
  -if flash[:note].present?
    .note
      %p=flash[:note]
      
  %div[current_object]
    %h2 
      =truncate(current_object.title, :length => 30)
      =link_to 'print', brief_path(current_object, :print_mode => 1), :title => "print brief document", :class => "print_brief"
    .most_important_thing
      %p
        %span.left &ldquo;
        =current_object.most_important_message
        %span.right &rdquo;
    -if current_object.brief_items.empty? && current_object.published?
      %p This document is empty
    =render :partial => 'brief_item', :collection => (current_object.brief_items.answered), :locals => { :draft => current_object.draft? }

.col_2
  -unless owner?(current_object)
    %p.create_response=creative_response_button(current_object)

  .discussion     
    %p.join_discuss
      =link_to owner?(current_object) ? "View discussion" : "Join the discussion", brief_questions_path(current_object, :f => "unanswered"), {:class => "awesome blue large", :style => "text-transform: uppercase" }
  =render :partial => 'questions/overview', :locals => { :overview_collection => current_object.questions } 
  .hr      
  -if current_object.published?
    =render :partial => 'invite'
