%p This is a preview of the document items that will be included in the final document, once published.
.fb
  %div[current_object]  
    -if current_brief_items.empty?
      %p.message This document is empty, answer some of the questions to populate the document.
    =render :partial => 'brief_item', :collection => current_brief_items, :locals => { :draft => current_object.draft? }