%p
  %label{:for => "creative_response_short_description"} Short description:
  = f.text_area :short_description
%p
  %label{:for => "creative_response_long_description"} Long description:
  = f.text_area :long_description
%p
  %label{:for => "creative_response_brief_id"} Brief:
  = f.text_field :brief_id
%p
  %label{:for => "creative_response_user_id"} User:
  = f.text_field :user_id
