%h2 Listing questions

%table{:width => "100%"}
  %tr
    %th{:width => "50%"} Name
    %th
    %th Actions
  = render :partial => 'question', :collection => current_objects

= link_to 'New question', new_object_path 
