#beta_feedback.feedback_form
  .title
    %h2 
      IDEAPI
      %span.fright
        For feedback or support &raquo;
        = link_to 'GetSatisfaction', 'http://getsatisfaction.com/ideapi/'
        -# Tell us what you think, or report a problem
        -# =link_to 'show/hide our feedback form', '#', :class => 'toggle'
        -# and send us an email. Best viewed in #{ link_to 'Safari', 'http://www.apple.com/safari'}, 
        -# #{ link_to 'Firefox', 'http://www.firefox.com'}, or #{ link_to 'Chrome', 'http://www.google.com/chrome/'}
  -# .wrap  
  -#   #user_input.user_input
  -#     -form_for 'user_feedback', :url => user_feedbacks_path do |f|
  -#       %h3 Feedback
  -#       %p
  -#         =f.label 'email', "Your email"
  -#         =f.text_field 'email', :value => (logged_in? ? current_user.email : '')
  -#       %p
  -#         =f.label 'message', "Your message"
  -#         =f.text_area 'message'
  -#       %p.submit=f.submit 'submit this feedback'
  -#   .info
  -#     %h3 Information
  -#     %p Thanks for helping make ideapi better, we really value your comments and time.
  -#     %ul
  -#       %li Know someone who would benefit from ideapi?
  -#       %li Don't understand something? Let us know
  -#       %li Tell us if you encounter an error, or something isn't quite right
  -#       %li Thanks for your time - your comments really help us improve ideapi  
  -#   .clear