#document_reference.side_box
  %h2 Document reference
  .contents
    %ul        
      -parent_object.document_items.each do |document_item|
        %li
          %h3=document_item.title
          - if document_item.body.present?
            %div.proposal-body
              :textile
                #{document_item.body}
