.proposal_asset.new
  %p.asset-desc
    =f.label :description, 'Description'
    %span.description-textarea
      =f.text_field :description

  %p.asset-file
    = f.label :data, 'Attach file'
    = f.file_field :data
  %p.remove_asset
    = link_to "Remove or clear", 'javascript:void(0)', :class => 'close-box'