=sub_nav do
  =breadcrumb_list

.col_1
  %h2 Editing your response
  
  = error_messages_for :proposal

  - form_for(current_object, :url => brief_proposal_path(parent_object, current_object), :html => { :method => :put, :multipart => true }) do |f|
    .boom_box
      = render :partial => "form", :locals => {:f => f}
      
    %p.submit
      = submit_tag "Save draft"
      
    %p.submit
      = submit_tag "Preview"
      .clear
    
.col_2    
  #brief_reference.side_box
    %h2 Brief reference
    .contents
      %ul
        %li
          %p.most_important_thing
            %span.left &ldquo;
            =parent_object.most_important_message
            %span.right &rdquo;
          
        -parent_object.brief_items.each do |brief_item|
          %li
            %h3=brief_item.title
            %p=brief_item.body
              
  %p=link_to 'back to brief', brief_path(parent_object)
  