=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Draft an idea
  
  #write_new_proposal.note
    :markdown
      You can add formatting to your idea, including: 
      links, images, text formatting, tables and more. 
      For more information, click “+” next to “Formatting help”. 
      You can also attach supporting material, PDFs, images, etc, 
      to help get your idea across.

      Until you elect to publish your idea, only you can see it. 
      Once published, the brief approvers will be informed that 
      it is ready for review.
  
  .boom_box
    = error_messages_for :proposal

    - form_for(current_object, :url => objects_url, :html => { :multipart => true }) do |f|
      = render :partial => "form", :locals => {:f => f}
        
      %p.submit
        = submit_tag "Save draft"
      .clear
        
.col_2
  =render :partial => 'brief_reference'
  =render :partial => 'partials/textile_help'