=sub_nav do
  =breadcrumb_list

.col_1
  
  %h2 Draft an idea
  
  -#write_new_proposal.note
    -#%h3 Drafting your response
    -#%p Add text and/or images to support your idea. Refresh
  
  .boom_box
    = error_messages_for :proposal

    - form_for(current_object, :url => objects_url, :html => { :multipart => true }) do |f|
      = render :partial => "form", :locals => {:f => f}
        
      %p.submit
        = submit_tag "Save draft"
      .clear
        
.col_2
  =render :partial => 'brief_reference'
  =render :partial => 'partials/textile_help'