=sub_nav do
  =breadcrumb_list

.col_1
  
  -if current_object.draft?
    %p.fixed_notice 
      This proposal is currently a DRAFT for preview purposes, 
      =link_to 'continue editing your response.', edit_brief_proposal_path(parent_object, current_object)
  
  %h2=current_object.title
  %p=current_object.long_description
  
  %p
    -if current_object.attachment.content_type =~ /image/
      =link_to image_tag(current_object.attachment.url, :width => "600"), current_object.attachment.url
    -else
      =link_to current_object.attachment.original_filename, current_object.attachment.url
  
.col_2
  %p=link_to 'back to brief', brief_path(parent_object), {:class => "awesome blue large", :style => "text-transform: uppercase" }
  