#accounts #container #content{
  .main{
    padding-top: 0;
  }
  h2{
    margin-left: 0.75em;
  }
  h3{
    margin: 0.5em 0 0.5em 0;
  }
  #update_domain_name{
    padding: 1em;
    border: 0 solid #ccc;
    border-bottom-width: 2px;
    .change_domain {
      color: #888888;
      font-style: italic;
    }
/*    background: #fcffeb;
    border: 1px solid #D3DAB8;
    padding: 1em;
    @include rounded-corners-all(0.4em);
    label, #account_domain, .base_domain{
      font-size: 1.5em;
    }
    .change_domain{
      label{
        font-weight: normal;
        font-size: 1em;
        float: none;
        display: inline;
      }
    }
    #account_domain{
      text-align: right;
      padding: 0;
    }
    p{padding-top: 0; margin-top: 0; }
    .account-domain{
      border: 1px solid #fcffeb;
      font-size: 1.2em;
      margin-left: 10em;
      p{
        font-size: 1em;
      }
    }
    
    .submit{
      text-align: right;
      padding: 0;
    }*/
  }
  
  
  
  #update_account{
    border: 0 solid #ccc;
    border-bottom-width: 2px;
    padding: 1em;

  }
  #edit_account_form{
    label{ 
      width: 120px;
      margin-right: 10px;
      padding: 3px 0 4px 0;
    }
    .field{
      
    }
    .warning{
      color: #888;
    }
    .errors{
      color: #ff3333;
    }
    .errors, .warning, .logo-preview{
      font-style: italic;
      margin-left: 130px;
    }
    .submit{
      text-align: right;
      padding: 0;
    }
    .account-url .url{
      input{
        width: 150px;
        text-align: right;
        padding: 0;
        margin: 0;
      }
    }
    
    .logo-preview{
      display: block;
      label{
        display: inline;
        float: none;
        font-weight: normal;
      }
      img{
        vertical-align: middle;
        margin-right: 1em;
      }
    }
  }
  #delete-account{
    padding: 1em;
    margin-bottom: 2em;
    .green-button-link{
      padding: 4px 10px 2px;
    }
  }
}