#briefs{
  #content{
    
    
    .brief_item{
      .body{
        img{
          max-width: 600px;
          border: 5px solid #eee;
          display: block;
          margin: auto;
        }
      
        .item-revision-body{
          img{
            max-width: 420px;
          }
        }
      }
    }
    
    .side_box{
      .add_collaborators{
        
        li.available_collaborator{
          position: relative;
          .add_user_brief_button{
            @include color-transitions;
            position: absolute;
            top: 5px;
            right: 0;
            background: #ccc;
            margin: 0;
            padding: 0px 4px;
            border: 1px solid #bbb;
            color: black;
            font-weight: bold;
            font-size: 0.9em;
            &:hover{
              background: #bbb;
              border-color: #aaa;
            }
          }
        }
      }
    }
  }
}

#dashboard{
  .brief_item .flag{
    border: 1px solid #aaa;
    background: #eee;
    color: #555;
    @include rounded-corners-all(3px);
    @include linear-gradient(#eee, #ccc);
    font-size: 8pt !important;
    margin-top: 9px;
    margin-right: 5px;
    padding: 0 5px;
    height: 15px;
    line-height: 15px;
    display: block;
    float: left;
  }
}

#briefs.show #content{
  .toggle-inline-edit{
    display: block;
    margin-right: 5px;
    font-weight: normal;
  }
  .title{
    .toggle-inline-edit{
      display: none;
      float: left;
      margin-right: 5px;
    }
  }
  
  .edit{
    p.submit{
      text-align: right;
      margin-top: 5px;
    }
  }
  .inline-edit{
    display: none;
  }
  h2.show{
    padding-left: 1em;
    .toggle-inline-edit{
      margin-top: 1px;
      margin-left: 1px;
    }
  }
  .title .inline-edit{
    h2{
      padding-left: 1em;
    }
    form{
      padding: 0;
      input.title{
        padding: 0;
        margin: 0 5px 0 0;
        float: left;
        font-size: 0.9em;
        font-weight: bold;
        color: #555;
        border: 1px solid #aaa;
        height: 17px;
        width: 40em;
      }
    }
  }
  
  
  .section{
    &:hover{
      .toggle-inline-edit{
        display: block;
      }
    }
    .toggle-inline-edit{
      display: none;
      position: absolute;
      top: 0;
      right: 0;
    }
    .edit{
      display: none;
      padding: 1em 0;
      text-align: center;
      .spinner{
        display: inline;
      }
      .field{
        width: 100%;
        margin-bottom: 5px;
      }
      input.inline-edit-title{
        padding: 0 10px;
        display: block;
        width: 590px;
      }
      .inline-edit-body{
        display: block;
        width: 590px;
        height: 100px;
        padding: 0 10px;
      }
      p.submit{
        float: none;
        margin: 0;
      }
    }
  }
  .most_important_thing{
    .edit{
      display: none;
      padding: 1em 0;
      text-align: center;
      .spinner{display: inline;}
      form{
        text-align: center;
      }
      span, .field{
        display: inline-block;
      }
      span {
        font-size: 8em;
        display: inline-block;
        padding: 0;
        margin: 0;
        height: 0.4em;
        line-height: 0.8em; }
      span.left {
        vertical-align: top;
        margin-top: 0px;
      }
      span.right {
        vertical-align: bottom;
      }
      .field{
        text-align: right;
        width: 500px;
        p{
          padding: 0;
          margin-bottom: 5px;
        }
        textarea{
          display: block;
          width: 478px;
          height: 100px;
          padding: 10px;
        }
      }
    }
    
  }
  
  input.inline-edit-submit{
    @include rounded-corners-all(0);
    background: url('/images/ui/save-button-big.png') 0 0 no-repeat;
    border: none;
    cursor: pointer;
    height: 18px;
    width: 45px;
    padding: 0;
    padding-bottom: 2px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    &:active{
      background-position: -45px 0;
    }
  }
}