#content{
  .brief_item{
    .body{
      img{
        max-width: 600px;
        border: 5px solid #eee;
        display: block;
        margin: auto;
      }
      
      .item-revision-body{
        img{
          max-width: 420px;
        }
      }
    }
  }
}