.ask_question
  :margin 0
  :width 658px
  :position relative
  :display none

.comments_area
  :padding 0 2em
  :margin 1em 0 2em 0
  
  h4
    :padding 0.5em 0

  .comments
    :padding 0
    :margin 0
    
.question_list, .brief_item_history, .comments

  li
    :padding 0.5em 1em 0 1em
    
  p.updated
    :text-transform uppercase
    :border-top 1px solid #eee
    :position relative
    :margin 1em 0

    span
      :position absolute
      :color #bbb
      :font-size 0.8em
      :top -0.9em
      :left 0
      :background white
      :padding 0 0.5em

  .question, .comment
    :margin-bottom 1em
    :padding 0 2em
    :position relative
    
    p.show_author_answer_form
      :position absolute
      :right -8px
      :top 1.5em
      :font-size 1.1em
      
    .question_body, .author_answer, .author_answer_form, .comment_body, .comment_form
      .speech
        :background #e9e9e8
        :padding 1em 1em
        :margin 0
        :width 37em
        :display block
        :position relative
    .question_body, .comment_body
      :font-size 1.1em
    
      .speech
        :margin-left 5em
        :width 35em
      
        span.bubble
          :background url(/images/speech.png)
          :width 7px
          :height 16px
          :display block
          :position absolute
          :left -7px
          :top 40%
                              
      img
        :float left
        :margin-top 0.3em
        
    .author_answer, .author_answer_form, .comment_form
      :padding 1em 0 1em 1.5em
    
      img
        :float right
        :margin-top 1em
      
      .speech
        :margin-top 0.5em
        :margin-right 1em
        :margin-bottom 1em
        :margin-left 2.4em
        :width 38em
        :padding 0.5em 1em 0.1em 1em
      
        p
          :padding 0 0.5em
          :font-size 1.1em
      
        textarea
          :width 37em
          :margin-bottom 0.5em
        
        span.bubble
          :background transparent url(/images/speech.png) 8px 0
          :width 8px
          :height 16px
          :display block
          :position absolute
          :top 40%
          :right -8px
    
      p.submit
        :margin-right 6em
    
    #comment_form
      :width 50.5em
      
      img
        :margin-top 2em
      
      textarea
        :width 37em
        :margin-bottom 0.5em            
        
.brief_item_history
  h4
    :font-size 1.3em
    :color #666
    :padding-bottom 1em
    
  ul
    :margin 0 0
      
  .revision
    :padding 1em 2em
    :position relative
    :border 1px solid #eee
    :margin 1em auto
    :background #fcfcfc
    +rounded-all-6px
    :width 40em
    .delete
      float: right
      a
        color: #aaa
        font-weight: normal
        font-size: 1.1em
        &:hover
          color: #888
    p
      :padding 0 
      :margin 0
    
.question_list
  :border 1px solid #ccc
  :border-top 0
  :margin-bottom 2em
  
  p.no_questions
    :padding 1em 2em
    :position relative
    :border 1px solid #eee
    :margin 1em auto
    :background #eee
    +rounded-all-6px
    :width 40em
    :font-weight bold  
    
  .question
    :padding 1em 1em
    :position relative
            
    .author_answer, .author_answer_form      
    
      .speech
        :width 42em      

        textarea
          :width 41em

.filter_questions
  :margin 1.7em 0 0 0
  :background #333
  :color white
  :font-size 1.2em
  :padding 1em 1.8em
  +rounded-top-6px
  :position relative

  li
    :display inline
    :margin-right 1em
    
    a
      :color = #ccc
    
    a:hover
      :color = !off_white
    
    span.current
      :font-weight bold
      :background #eee
      :padding 0.2em 0.5em 0.3em 0.5em
      +rounded-all-6px
      :border-top 1px solid #ccc
  
  li.brief_item_filter
    :position absolute
    :top 1.2em
    :right 1em
    :font-size 0.9em
    
    form
      :display inline
      div
        :display none
      span
        :color #ccc
        :padding-right 0.5em
