// variables
$field_padding: 20px;
$textfield_padding: 10px;
$textfield_width: 590px;

#proposals #content{
  .edit_proposal, .new_proposal{
    textarea{
      font-size: 1.2em;
    }
    h2{
      input[type=text]{
        font-size: 1.5em;
        padding: 3px $textfield_padding;
        display: block;
        width: $textfield_width;
        
      }  
    }
    .fields{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
    }
    .field{
      padding: 0 $field_padding;
    }
  }
  
  #proposal_long_description{
    display: block;
    width: $textfield_width;
    padding: $textfield_padding;
  }
  
  #idea-attachments{
    padding: 1em;
    margin: 2em $field_padding;
    background: #f8f8f8;
    border: 1px solid #f1f1f1;
    @include rounded-corners-all;
    label{
      width: 7em;
    }
    .asset-description{
      width: 30em;
      font-size: 1em;
    }
  }
}
