// variables
$field_padding: 20px;
$textfield_padding: 10px;
$textfield_width: 590px;

#proposal_state{
  font-size: 1em;
  display: block;
  width: 100%;
  margin: auto;
}
#proposals #content{
  .ajax-loading{ display: none;}

  .edit_proposal, .new_proposal{
    .infield-label{
      display: block;
      float: none;
      color: #aaa;
      z-index: 5;
      position: absolute;
      left: 1px;
      top: 1px;
      font-size: 1.5em;
      padding-left: $textfield_padding;
      font-style: italic;
    }
    textarea{
      font-size: 1.2em;
    }
    h2{
      .title-span{
        background: white;
        position: relative;
        display: block;
        width: $textfield_width + $textfield_padding + $textfield_padding;
        
      }  
      input[type=text]{
        font-size: 1.5em;
        padding: 3px $textfield_padding;
        display: block;
        width: $textfield_width;
        background: transparent;
        z-index: 5;
        position: relative;
        font-weight: bold;
      }
      
    }
    .fields{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 15px 0;
    }
    .field{
      padding: 0 $field_padding;
      position: relative;
      
      .infield-label{
        left: 20px;
        padding-top: 5px;
        
      }
    }
    #proposal_long_description{
      display: block;
      width: $textfield_width;
      padding: $textfield_padding;
    }
  }
  
  #new_proposal #proposal_title{
    padding: 3px $textfield_padding;
  }
  
  #proposal_long_description{
    display: block;
    width: 400px;
    padding: $textfield_padding;
  }
  
  #idea-attachments{
    padding: 0;
    margin: 2em $field_padding;
    
    label{
      width: 80px;
      margin: 0;
      text-align: right;
      padding-right: 1em;
    }
    .asset-description{
      width: 470px;
      font-size: 1em;
    }
    p.submit{
      text-align: right;
    }
    
    .actions{
      position: static;
      margin-top: 0.7em;
      a{
        display: inline;
        float: none;
        background: url('/images/ui/plus-button.png') no-repeat left center;
        padding-left: 20px;
        padding-bottom: 2px;
        
        &:hover{
          color: #000;
        }
      }
    }
  }
  p.submit{
    margin-right: 20px;
  }
  .proposal_asset{
    @include color-transitions(500ms);
    margin: 0.5em 0 0 0;
    padding: 10px;
    position: relative;
    font-size: 0.9em;
    border: 1px solid #fff;
    background: #fafafa;
    border: 1px solid #f1f1f1;
    .remove_asset {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #efefef;
      a.delete, .close-box {
        text-indent: -9999px;
        display: block;
        height: 16px;
        width: 16px;
        background: url("/images/ui/cross-button.png") no-repeat 0 0;
      }
    }
    .asset-file{
      text-align: left;
      span{
        margin-left: 0;
        text-align: left;
        width: 480px;
      } 
      
    }
    p{
      margin: 0 0 0.5em 0;
      clear: both;
      
    }
    p.asset-desc{
      margin-bottom: 0.7em;
    }
    .update-proposal-assets{
      input{
        margin: 0;
        padding: 0px 4px;
        @include rounded-corners-all(0px);
      }
    }
    a.js-toggle-edit{
      text-indent: -9999px;
      float: left;
      margin-right: 4px;
      background: url('/images/ui/tag-pencil.png') no-repeat;
      width: 16px;
      height: 16px;
    }
    .description-textarea{
      input[type=text]{
        padding: 1px 5px;
        width: 30em;
      }
      
    }

  }
  .proposal_asset:hover, .proposal_asset.hovered{
    background: #f3f3f3;
    border-color: #eee;
  }
  .proposal_asset.new{
    background: #fcffeb;
    border: 1px solid #D3DAB8;
  }
  
  .proposal_asset.new.hovered, .proposal_asset.new:hover{
    background: #eff6ce;
    border: 1px solid #D3DAB8;
  }
  
  .side_box{
    .update_proposal{
      padding: 0.5em 1em 1em 1em;
      p{
        margin: 0.5em 0;
      }
      p+p{
        margin-top: 1em;
        margin-bottom: 0;
      }
    }
  }
  
  
  // Some show view styles
  .main .proposal .proposal_item{
    .asset{
      float: none !important;
      width: auto !important;
      margin-right: 10px;
      margin-bottom: 0.5em;  
      img{
        width: auto !important;
        max-width: 400px;
        max-height: 100px;
        vertical-align: top;
        &:hover{

        }
      }
    }
    p.description{
      float: none !important;
      padding: 0;
    }
  }
}

