ul.sub_nav {
  padding: 0 2em 0.8em 2em;
  margin-top: 1em;
  height: 20px;
  li {
    display: inline;
    margin-right: 2em;
    span {
      font-size: 1.2em;
      font-weight: bold;
      color: #aaaaaa; }
    span {
      color: #666666; } }
  li.search {
    position: absolute;
    right: 0;
    top: 0;
    form {
      display: inline;
      input[type=submit] {
        height: 24px;
        padding-top: 4px;
      }
    }
  }
  .breadcrumbs {
    display: inline;
    margin-left: 0.5em;
    li {
      margin: 0;
      padding: 0 0.2em;
      span, a {
        font-size: 1.2em;
        font-weight: bold;
        color: #b3d335;
      }
      span {
        color: #b3d335; 
        } 
      } 
    }
  li.watch_form {
    form {
      display: inline;
      input {
        height: 24px;
        padding-top: 4px; 
      } 
    }
    div {
      display: none;
    } 
  } 
}
