-form_for @template_document do |f| 
  =new_child_fields_template(f, :template_questions)
  =f.error_messages
  #content-header
    %span
      =f.label :title, "Template Title", :class => 'infield-label'
      =f.text_field :title, :class => 'title has-infield-label'
  .boom_box.clearfix
    -f.fields_for :template_questions do |tqf| 
      =render :partial => 'template_question', :locals => { :f => tqf }

    .actions
      =add_child_link "Add a Section or Heading", :template_questions
  .actions
    .right
      =f.submit "Submit"

    .left
      - unless @template_document.new_record?
        =link_to "Delete template", {:action=>"destroy", :controller=>"template_documents"}, :method => :delete, :class => "delete_template", :confirm => "Are you sure you want to delete this template - this is permanent but will NOT affect documents already created with this template"
        
    .clear
  
  
