%div.fields
  %p
    =f.label :body, "Section Title:"
    =f.text_field :body
    %span.is-section-heading
      =f.check_box :is_heading, :value => nil, :class => 'is-heading'
      =f.label :is_heading, "Is Heading?"
  %p.help-message
    =f.label :default_content, "Default Content:"
    =f.text_area :default_content, :rows => 3, :cols => 60
  %p


  =remove_child_link "remove", f 
