=sub_nav do
  =breadcrumb_list
= page_help do
  .box
    :markdown
      Template title is how you will refer to the template when creating briefs.

      Enter a section title for each of the sections to appear in documents based on this template. Add additional sections by clicking “Add a Section or Heading".

      Mark a section as a heading if you need to group sections together.

      Sections and Headings can be reordered once the template has been submitted.
      
.col_1
  =render :partial => 'form'        
.col_2
