%li[question]
  %p.question_body
    =small_avatar(question.creative)
    %span.speech
      %strong="#{comment_adjective_for given_name(question.creative), :position => :before}"
      (in relation to
      %strong="#{question.brief_item.title}):"
      =question.body
    %span.clear    
  -if question.answered?
    .author_answer
      =medium_avatar(question.brief.author)
      %span.speech
        %p 
          %strong
            =given_name(question.brief.author)
            answered:
          =question.author_answer
      %span.clear
  -else
    -if author?
      .author_answer_form
        =medium_avatar
        = render :partial => 'answer_form', :locals => {:question => question}
