=what_user_is_doing do
  %h3
    \- you are discussing
    =link_to truncate(parent_object.title.downcase, :length => 30), brief_path(parent_object)
    
=title_holder do
  %ul.brief_timeline
    %li
      %span.selected Write
    %li 
      %span Publish
    %li 
      %span Discuss
    %li 
      %span Peer Review
    %li 
      %span Present
    %li 
      %span Complete

%p.most_important_thing=parent_object.most_important_message

.col_1

  %ul.tabbed_links
    %li=tab_link 'Brief document', brief_path(parent_object)
    %li=tab_link 'Brief discussion', brief_creative_questions_path(parent_object)

  %ul.sub_nav
    -(owner?(parent_object) ? %w(unanswered recent answered) : %w(recent answered unanswered)).each do |link|
      %li=tab_link link.titlecase, brief_creative_questions_path(parent_object, :q => link)
      
  %ul.question_list
    -if current_objects.empty?
      %li
        %p 
          No questions found
    -else
      =render :partial => 'question', :collection => current_objects
      
  -if creative?
    .boom_box
      %h3 Ask a question
      - form_for(:creative_question, :url => brief_creative_questions_path(parent_object)) do |f|
        = render :partial => "form", :locals => {:f => f}