%h3 Are you sure you want to logout?

.login_form  
  -form_for current_user_session, :url => user_session_path, :html => {:method => :delete} do |f|
    %p
      =submit_tag "Yes log me out"
      or return to 
      =link_to "dashboard", dashboard_url