%h3 Please login to your account
.login_form{:style => "margin: 0 1em; width: 28em"}  
  -form_for @user_session, :url => user_session_path do |f|
    %p
      =f.label :email
      =f.text_field :email
    %p
      =f.label :password
      =f.password_field :password
    %p#remember-me
      =f.label :remember_me
      =f.check_box :remember_me

    %p.submit
      =submit_tag "Login"
    .clear
  %p#forgot-password
    = link_to "Did you forget your password?", :controller => 'reset_password', :action => 'new'

.footer
  %p
    Back to 
    = link_to "ideapi Homepage", APPLICATION_URL
