!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Ideapi
    /
      Javascript - Fix the flash of unstyled content
    %script{ :type => "text/javascript" }
    
    =stylesheet_link_tag %w(reset default admin), :cache => true
    =javascript_include_tag :all, :cache => true
    
  %body.fullwidth
    #container
      #header
        #header-in
          %h1 IDEAPI

      #content-wrap.clear.rcol
        .column
          .column-in
            
            %ul
              %li=link_to 'Sections', admin_brief_sections_path
              %li=link_to 'Questions', admin_brief_questions_path
              %li=link_to 'Brief Config', admin_brief_configs_path              
            
            =yield :side_bar
            
            

        .content
          .content-in
            =yield

      .clear
      #footer
        #footer-in
          footer