!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ideapi
    %script{ :type => "text/javascript" }  
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=EmulateIE7"}

    =stylesheet_link_tag %w(reset frontend facebox jquery.wysiwyg)
    =javascript_include_tag %w(jquery jqcorners facebox jquery.cookie jquery.wysiwyg jshizzle)

    /[if IE 7]<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
    /[if IE 6]<link href="/stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
    
    =stylesheet_link_tag %w(reset print), :media => "print"
    
  %body
    =render :partial => 'user_feedback/feedback_form'  
    #container
      #header
        %h1
          =link_to "ideapi", "/"
        %ul.navigation        
          -if logged_in?
            %li=link_unless_current 'dashboard', '/dashboard'
            %li=link_unless_current 'profile', profile_path
            %li=link_to 'logout', delete_user_session_path
          -else
            %li=link_unless_current 'Login', new_user_session_path
        .clear
        %ul.sub_nav
          =yield :sub_nav
          
        - if (flash[:error])
          %p.flash.error=flash[:error]
        - elsif (flash[:notice])
          %p.flash.notice=flash[:notice]
          
      #content
        =yield :title_holder
        =yield :side_bar
        .main
          =yield
          .clear
      .clear
  