!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Ideapi
    /
      Javascript - Fix the flash of unstyled content
    %script{ :type => "text/javascript" }
    =stylesheet_link_tag %w(reset frontend), :cache => true
    =javascript_include_tag :all, :cache => true
  %body
    #container
      #header
        %h1
          =link_to "ideapi", "/"
        =yield :what_user_is_doing
        %ul.navigation        
          -if logged_in?        
            -if author?
              %li=link_unless_current 'my briefs', briefs_path
            -elsif creative?
              %li=link_unless_current 'my pitches', briefs_path
            %li=link_unless_current 'settings', ''
            %li=link_unless_current 'my account', profile_path
            %li=link_to 'logout', user_session_path, :method => :delete
          -else
            /%li=link_to 'Tour', ''
            /%li=link_to 'Pricing &amp; Signup', ''
            %li=link_unless_current 'Login', new_user_session_path
      #content
        =yield :title_holder
        =yield :side_bar
        .main=yield
      .clear
      /
        #footer
          #footer-in
            footer