!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Ideapi
    /
      Javascript - Fix the flash of unstyled content
    %script{ :type => "text/javascript" }
    =stylesheet_link_tag %w(reset default frontend), :cache => true
    =javascript_include_tag :all, :cache => true
  %body
    #container
      -if logged_in?
        %p#user_info
          Logged in as 
          %strong
            =current_user.login
          =link_to '(logout)', user_session_path, :method => :delete                 
      #header
        %h1
          =link_to "Ideapi", "/"
      #content
        .title_holder=yield :page_title
        .sidebar=yield :side_bar
        .main=yield
      .clear
      /
        #footer
          #footer-in
            footer