!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Ideapi
    %script{ :type => "text/javascript" }
    =stylesheet_link_tag %w(reset frontend facebox buttons), :cache => true
    =javascript_include_tag %w(jquery jqcorners facebox rest_in_place jshizzle), :cache => true
  %body
    #container
      #header
        %h1
          =link_to "ideapi", "/"
        %ul.navigation        
          -if logged_in?
            %li=link_unless_current 'briefs', briefs_path
            %li=link_unless_current 'settings', ''
            %li=link_unless_current 'my account', profile_path
            %li=link_to 'logout', delete_user_session_path
          -else
            %li=link_unless_current 'Login', new_user_session_path
        .clear
        %ul.sub_nav
          %li{:class => "secondary"}
            =#render :partial => 'briefs/search_form'
          =yield :sub_nav
          
        - if (flash[:error])
          %p.flash.error=flash[:error]
        - elsif (flash[:notice])
          %p.flash.notice=flash[:notice]
          
      #content
        =yield :title_holder
        =yield :side_bar
        .main
          =yield
          .clear
      .clear
      
    %script{ :type => "text/javascript" }="rails_authenticity_token = '#{form_authenticity_token}'"
