!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ideapi
    %script{ :type => "text/javascript" }  
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=EmulateIE7"}

    =stylesheet_link_tag %w(reset frontend facebox)
    =javascript_include_tag %w(jquery jcorners facebox jshizzle)

    /[if IE 7]<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
    /[if IE 6]<link href="/stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
    
  %body  
    .login
      =yield

    /[if IE 6]<script type="text/javascript" src="http://shapeshed.github.com/ie6-notice/ie6notice-1.0.0.min.js"></script>
