!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ="ideapi | "
      - if yield(:title)
        =yield(:title)
      - else
        ="Welcome to ideapi"
    %script{ :type => "text/javascript" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %link{ :href => "/stylesheets/marketing.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    /[if IE 6]
      %link{ :href => "/stylesheets/ie6.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
    /[if IE 7]
      %link{ :href => "/stylesheets/ie7.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }

  %body
    #container
      #banner
        #header
          #logo
            %a{:href => home_path, :alt => "home"}
              %img{ :src => "/images/ideapi-logo.gif", :alt => "ideapi Logo" }
          %ul.navigation
            %li=link_unless_current 'overview', home_path
            %li=link_unless_current 'tour', tour_path
            %li=link_unless_current 'pricing', pricing_path
            %li=link_unless_current 'signup', plans_path
          .clear
          
      #middle-section
        #content
          =yield
          .spacer
            \&nbsp;
      #footer
        #footer-content
          #footer-content-left
            %p
              %a{ :href => terms_path, :alt => "Terms of Service" }
                Terms of Service
              |
              %a{ :href => privacy_path, :alt => "Privacy Policy" }
                Privacy Policy
              |
              %a{ :href => "mailto:info[at]pebbleit", :title => "info", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }="Contact"
              |
              %a{ :href => "http://twitter.com/ideapi", :alt => "Follow us on Twitter" }
                Twitter
        #footer-content-right
          %p
            \&copy; 2010 Ideapi Limited

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-691295-5']);
      _gaq.push(['_setDomainName', '.ideapi.com']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();