!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ideapi Pricing
    %script{ :type => "text/javascript" }
    %meta{ :content => "IE=EmulateIE7", "http-equiv" => "X-UA-Compatible" }
    %link{ :href => "/stylesheets/marketing.css", :rel => "stylesheet", :media => "screen", :type => "text/css" }
  %body
    #container
      #banner
        #header
          #logo
            %a{:href => home_path, :alt => "home"}
              %img{ :src => "/images/ideapi_logo.png", :alt => "ideapi Logo" }
          #navigation
            %a{ :href => home_path }
              Overview
            \.
            %a{ :href => tour_path }
              Tour
            \.
            %a{ :href => pricing_path }
              Pricing
            \.
            %a{ :href => plans_path }
              Signup
      #middle-section
        #content
          =yield
          .spacer
            \&nbsp;
      #footer
        #footer-content
          #footer-content-left
            %p
              \&copy; 2010 Ideapi Limited |
              %a{ :href => terms_path, :alt => "Terms of Service" }
                Terms of Service
              |
              %a{ :href => privacy_path, :alt => "Privacy Policy" }
                Privacy Policy
          #footer-content-right
            %p
              %a{ :href => "http://twitter.com/ideapi", :alt => "Follow us on Twitter" }
                @ideapi on Twitter
              |
              %a{ :href => "mailto:info[at", :title => "info", :rel => "ideapi.com", :onclick => "this.href='mailto:'+this.getAttribute('title')+'@'+this.getAttribute('rel')" }
                info [at] ideapi.com