!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      ideapi
    %script{ :type => "text/javascript" }  
    %meta{"http-equiv"=>"X-UA-Compatible", :content=>"IE=EmulateIE7"}

    =stylesheet_link_tag %w(reset frontend facebox jquery.wysiwyg)
    =javascript_include_tag %w(jquery jqcorners facebox jquery.cookie jquery.wysiwyg jshizzle)

    /[if IE 7]<link href="/stylesheets/ie7.css" media="screen" rel="stylesheet" type="text/css" />
    /[if IE 6]<link href="/stylesheets/ie6.css" media="screen" rel="stylesheet" type="text/css" />
    
    =stylesheet_link_tag %w(reset print), :media => "print"
    
  %body
    #container
      #header
        %h1
          / =link_to "ideapi", "/"
          %a{:href => home_path, :alt => "home"}
            %img{ :src => "/images/ideapi-logo.gif", :alt => "ideapi Logo" }
        %ul.navigation        
          %li=link_unless_current 'Go back to homepage', home_path
        .clear
        %ul.sub_nav
          =yield :sub_nav
          
        - if (flash[:error])
          %p.flash.error=flash[:error]
        - elsif (flash[:notice])
          %p.flash.notice=flash[:notice]
          
      #content
        =yield :title_holder
        =yield :side_bar
        .main
          =yield
          .clear
      .clear
