.col_1

  %h2
    Hey kids - choose a plan!
  %p
    These is an exhaustive list of our plans, all that is left is for you to 
    %strong pick one:
  
  %ul
    = @plans.map {|p| content_tag(:li, link_to(p, new_account_url(:plan => p, :discount => params[:discount]))) }
  